@charset "utf-8";.wrapper{width:1200px;margin:auto;font-family:"Microsoft Yahei"}
.header-wrap{background-color:#fff;width:100%;background-position:top center;background-repeat:no-repeat}
.public-head-layout{height:100px}
.public-head-layout .site-logo{position: relative; z-index: 100;}
.public-head-layout .site-logo .new-logo{  float:left; height:40px; width:234px; margin-top:35px; margin-right:113px;}
.public-head-layout .site-logo .cityCont{ border: 1px solid #fff; cursor: pointer; float: left; height: 22px; left: 245px; margin-top: 34px; padding: 8px 0 10px; position: absolute;}
.public-head-layout .site-logo .cityCont:hover{ border:1px solid #efefef;}
.cityCont .cityNow em{  border-left: 1px solid #efefef; color: #666; display: block; font-size: 15px; height: 17px; line-height: 17px; padding-left: 19px; padding-right: 20px; position: relative; top: 0; z-index: 30;}
.cityCont .cityNow em{ background-position:right -1482px; background-color:#fff; }
.cityCont:hover .cityNow em{ background-position:right -1450px; border-left-color:#fff; height:26px;}
.cityCont .cityNow i{ display:block; width:54px; border:1px solid #efefef; line-height:19px; text-align:center; top:36px; position:absolute; font-size:12px; color:#999}
.cityCont .cityItem{ display:none; position:absolute; left:-1px; top:33px;  padding:19px 1px 3px; background:#fff; border:1px solid #efefef; width:72px; z-index:29}
.cityCont:hover .cityItem{ display:block}
.cityCont .cityItem{ width:265px; overflow:hidden; padding-left:15px; padding-right:20px; padding-top:15px;}
.cityCont .cityItem p{ width:314px;}
.cityCont .cityItem a{ float:left; margin-right:39px; margin-bottom:11px; font-size:13px; text-align:center; height:19px;}
.cityCont .cityItem span{ display:inline-block; line-height:18px; padding:0 5px; color:#666 }
.cityCont .cityItem .now span,.cityCont .cityItem .now:hover span{ background:#ff516e; color:#fff; border-radius:3px;}
.cityCont .cityItem a:hover span{ color:#ff516e;}
.public-head-layout .site-logo img{max-width:234px;max-height:120px}
.public-head-layout .logo-test{float:left;margin:15px 55px 0 35px;padding:0 15px;color:#f55;font-weight:700;line-height:70px}
.public-head-layout .logo-test{font-family:"microsoft yahei";font-size:16px}
.head-search-layout{width:440px;float:left;margin:25px 0 0 50px}
.head-search-bar{width:100%;height:40px;display:block;position:relative;z-index:100}
.head-search-bar .search-form{background-color:#ff6980;height:36px;padding:2px}
.head-search-bar .input-text{line-height:24px;color:#555;width:66%;height:24px;float:left;padding:6px 1% 6px 75px;border:none 0}
.head-search-bar .input-submit,.head-search-bar .input-submit:hover{font-size:14px;color:#FFF;font-weight:600;background-color:transparent;width:15%;height:40px;float:right;border:none;cursor:pointer}
.head-search-bar .search-tip{font-size:0;word-spacing:-1em;background-color:#FFF;display:none;min-height:100px;padding-bottom:10px;border:solid 1px #D7D7D7;position:absolute;z-index:1;top:40px;left:0;right:72px}
.head-search-bar .search-history,.head-search-bar .search-hot{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block}
.head-search-bar .search-history{min-height:100px;width:55%;border-right:solid 1px #E6E6E6}
.head-search-bar .search-hot{width:44%}
.head-search-bar .search-tip .title{color:#999;line-height:20px;padding:5px 19px}
.head-search-bar .search-tip .title a{float:right}
.head-search-bar .search-history ul{display:block}
.head-search-bar .search-history ul li{color:#333;line-height:30px;display:block;height:30px;padding:0 19px;cursor:pointer}
.head-search-bar .search-history ul li:hover{background-color:#FAFAFA}
.head-search-bar .search-hot ul{font-size:0}
.head-search-bar .search-hot ul li{font-size:12px;line-height:20px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;height:20px;padding:2px 9px;border:solid 1px #E6E6E6;margin:0 0 10px 10px;cursor:pointer}
.head-search-bar .search-hot ul li:hover{color:#F32613;border-color:#F32613}
.head-search-layout .keyword{line-height:20px;white-space:nowrap;width:100%;height:20px;margin-top:6px;overflow:hidden}
.head-search-layout .keyword ul{font-size:0;vertical-align:top;display:inline-block}
.head-search-layout .keyword ul li{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;margin-right:12px}
.head-search-layout .keyword ul li a{color:#333}
#head-search-bar{position:relative}
#hdSearchTab ul li:hover{background:#f3f3f3}
#hdSearchTab ul{position:absolute;width:68px;height:36px;line-height:36px;margin:0 2px 0 0;cursor:pointer;font-size:16px;font-family:"Microsoft YaHei";border:2px solid transparent;text-indent:10px;border-right:none}
#hdSearchTab ul li{padding:0 1px;height:36px;line-height:36px;font-size:14px;background:#f8f8f8;color:#666;border-right:1px solid #ddd}
#hdSearchTab ul li:nth-child(2){display:none;border-left:1px solid #ddd;border-bottom:1px solid #ddd}
#hdSearchTab ul li i{height:0;width:0;line-height:0;font-size:0;position:absolute;right:10px;border:3px dashed transparent;border-top:3px solid #999}
#hdSearchTab ul li i.arrow{top:17px;transition:all .2s ease-in 0s}
#hdSearchTab ul li i.over{top:17px;transform:rotate(180deg);transform-origin:50% 30% 0}
.head-app{background:url(../images/top_bg.png) no-repeat 0 -60px;width:160px;height:55px;float:left;margin:15px 20px 0 0;position:relative;z-index:101}
.head-app .pic{background:url(../images/app.gif) no-repeat 0 0;display:block;width:120px;height:50px;margin:2px 0 0 38px}
.head-app:hover{background-position:0 -115px}
.head-app:hover .pic{display:none}
.head-app .download-app{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#F2FFFFFF', endColorstr='#F2FFFFFF');background:rgba(255,255,255,.95);display:none;width:222px;padding:9px;border:solid 1px #AAA;position:absolute;z-index:1;top:55px;left:0;box-shadow:4px 4px 0 rgba(0,0,0,.1)}
.head-app:hover .download-app{display:block}
.head-app .download-app .qrcode{width:120px;text-align:center;float:left}
.head-app .download-app .qrcode img{display:block;max-width:120px;max-height:120px}
.head-app .download-app .hint{width:100px;float:right;text-align:center}
.head-app .download-app .hint h4{font-size:14px;line-height:24px;font-weight:600;color:#F32613}
.head-app .download-app .addurl{width:90px;float:right;clear:right;margin:6px 4px 0 0}
.head-app .download-app .addurl a{color:#999;line-height:16px;background-color:#F5F5F5;display:block;width:70px;height:16px;clear:both;padding:5px 9px;margin-top:5px;border:solid 1px #DDD}
.head-app .download-app .addurl a i{font-size:14px;margin-right:4px}
.head-app .download-app .addurl a:hover{text-decoration:none;color:#F63;background-color:#FFE7DB;border-color:#F0AC75}
.head-user-menu{font-size:0;float:right;margin:18px 0 0 0}
.head-user-menu dl{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;margin-left:10px;position:relative;z-index:3}
.head-user-menu dl.my-mall{width:108px}
.head-user-menu dl.my-cart{width:124px}
.head-user-menu dl.hover{z-index:101}
.head-user-menu dl dt{line-height:20px;color:#555;background-color:#FAFAFA;height:20px;padding:10px;border:solid 1px #F0F0F0;position:absolute;z-index:2;top:0;right:0;cursor:pointer}
.head-user-menu dl.my-mall dt{width:90px}
.head-user-menu dl.my-cart dt{width:106px}
.head-user-menu dl.hover dt{background-color:#FFF;border-width:1px;border-color:#F0F0F0 #F0F0F0 #FFF #F0F0F0}
.head-user-menu dl dt span.ico{background:url(../images/top_bg.png) no-repeat;vertical-align:middle;display:inline-block;width:20px;height:16px}
.head-user-menu dl.my-mall span.ico{background-position:-100px 0;margin-right:4px}
.head-user-menu dl.my-cart span.ico{background-position:-120px 0;margin-right:8px}
.head-user-menu dl dt i{font-size:0;line-height:0;vertical-align:middle;display:inline-block;width:0;height:0;margin-left:8px;border-width:4px;border-color:#777 transparent transparent transparent;border-style:solid dashed dashed dashed;-webkit-transition:.2s ease-in;-moz-transition:-webkit-transform .2s ease-in;-o-transition:-webkit-transform .2s ease-in;transition:.2s ease-in}
.head-user-menu dl.hover dt i{FILTER:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%}
.head-user-menu dl dd{background-color:#FFF;display:none;border:solid 1px #F0F0F0;position:absolute;z-index:1;top:40px;right:0}
.head-user-menu dl.my-mall dd{width:308px}
.head-user-menu dl.my-cart dd{width:348px}
.head-user-menu dl.hover dd{display:block}
.head-user-menu dl dd a{color:#005EA6}
.head-user-menu a.arrow i{background:url(../images/top_bg.png) no-repeat -150px 0;vertical-align:middle;display:inline-block;width:4px;height:7px;margin-left:4px}
.head-user-menu dl dd .goods-thumb{width:50px;height:50px}
.head-user-menu dl dd .goods-thumb a{line-height:0;text-align:center;vertical-align:middle;display:table-cell;width:48px;height:48px;border:solid 1px #DDD;overflow:hidden}
.head-user-menu dl dd .goods-thumb img{max-width:48px;max-height:48px;margin-top:expression(48-this.height/2)}
.head-user-menu dl dd .sub-title{line-height:28px;height:28px;padding:7px;border-bottom:solid 1px #DDD}
.head-user-menu dl dd .sub-title h4{font-weight:600;float:left}
.head-user-menu dl dd .sub-title a{float:right}
.head-user-menu dl dd .user-centent-menu{width:308px;padding:8px 0;overflow:hidden}
.head-user-menu dl dd .user-centent-menu ul{width:310px;margin-left:-2px}
.head-user-menu dl dd .user-centent-menu ul li{width:138px;float:left;padding:4px 0 4px 16px;border-left:solid 1px #EEE}
.head-user-menu dl dd .browse-history{background-color:#FAFAFA;width:308px;border-style:solid;border-width:1px 0 0;border-color:#DDD transparent transparent}
.head-user-menu dl dd .browse-history .part-title{height:20px;padding:6px 8px}
.head-user-menu dl dd .browse-history .part-title h4{float:left}
.head-user-menu dl dd .browse-history .part-title a{float:right}
.head-user-menu dl dd .browse-history ul{font-size:0;padding:0 7px 7px 7px}
.head-user-menu dl dd .browse-history ul li{vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;margin:0 4px}
.head-user-menu dl dd .browse-history .no-goods{text-align:center;display:block;width:100%;font-size:12px}
.head-user-menu dl dd .incart-goods-box{display:block;width:348px;max-height:267px;overflow:hidden;position:relative}
.head-user-menu dl dd .incart-goods{text-align:center;width:100%}
.head-user-menu dl dd .incart-goods .no-order{margin:20px 0}
.head-user-menu dl dd .incart-goods .loading{width:16px;height:16px;margin:20px auto}
.head-user-menu dl dd .incart-goods dl{display:block;width:98%;height:66px;clear:both;margin:0 auto 0 2%;border-bottom:dotted 1px #DDD;position:relative;z-index:1}
.head-user-menu dl dd .incart-goods dd,.head-user-menu dl dd .incart-goods dt{background-color:transparent;border:0;position:absolute;z-index:1}
.head-user-menu dl dd .incart-goods dt.goods-name{line-height:16px;background-color:transparent;text-align:left;width:180px;height:32px;padding:0;top:8px;left:64px}
.head-user-menu dl dd .incart-goods dt.goods-name a{color:#333}
.head-user-menu dl dd .incart-goods dd.goods-thumb{top:8px;left:8px}
.head-user-menu dl dd .incart-goods dd.goods-price{text-align:right;width:80px;height:16px;top:6px;right:12px}
.head-user-menu dl dd .incart-goods dd.goods-price em{font-size:11px!important;font-weight:400!important;line-height:16px;color:#777!important;word-break:break-all;word-wrap:break-word;text-overflow:ellipsis;white-space:nowrap;text-align:right;width:50px;margin-right:4px;overflow:hidden;-webkit-text-size-adjust:none}
.head-user-menu dl dd .incart-goods dd.goods-sales{line-height:16px;color:#999;background-color:transparent;width:270px;height:16px;top:42px;left:64px}
.head-user-menu dl dd .incart-goods dd.handle{width:32px;top:22px;right:10px}
.head-user-menu dl dd .checkout{background-color:#F0F0F0;text-align:right;padding:8px;overflow:hidden}
.head-user-menu dl dd .checkout .total-price{line-height:20px;display:block}
.head-user-menu dl dd .checkout .total-price i{font-weight:600;color:#C00;margin:0 4px}
.head-user-menu dl dd .checkout .total-price em{font-family:Verdana,Geneva,sans-serif;font-size:18px;font-weight:600;color:#C00}
.head-user-menu dl dd .checkout .btn-cart{float:right;clear:both;line-height:20px;color:#FFF;background-color:#f55;padding:4px 8px;margin-top:4px;border-radius:4px}
.head-user-menu dl div.addcart-goods-num{font:700 11px/14px Verdana;color:#FFF;background:red;text-align:center;display:inline-block;height:16px;min-width:16px;max-width:auto!important;border:none 0;border-radius:8px;position:absolute;z-index:3;top:-4px;left:20px}
#t-sp{position:relative;display:none}
#t-sp .close{position:absolute;right:8px;top:5px;background:url(../images/close.gif) no-repeat;width:35px;height:12px;display:block}
.public-nav-layout{width:100%;height:44px;background:#fff;border-bottom:solid 2px #ff6980;margin:0 auto;position:relative;z-index:99;zoom:1}
.public-nav-layout .navCont{ padding-left:228px; height: 40px; }
.public-nav-layout .navCont a{ float:left;  line-height:41px; margin-right:45px; *margin-right: 23px; color:#666; font-size:16px; position: relative }
.taoBtnList>a{ padding-left: 0}
.public-nav-layout .now:hover,.public-nav-layout .now{ color:#ff6980 !important;}
.public-nav-layout .navCont a:hover{ color:#ff6980; text-decoration:none}
.public-nav-layout .hoverLine{ position:absolute; left:232px; bottom:0; background:#ff6980; display:none; height:2px; width:45px;}
.taoBtnList{ float:left; padding:0; position:relative; margin-left:-4px; }
.taoBtnList div a{ width:71px; position: relative}
.taoBtnList div a{ display:block; float:none; margin:0; padding:0; font-size:14px !important; line-height:34px;padding:0 19px 0 21px;}
.taoBtnList div a:hover{ background:#ff6980; color:#fff !important;}
.taoBtnList .taoListHv{ padding-right:18px;  background:url(../images/common-head.png?ver=3) no-repeat 0 -1064px; font-size:16px; line-height:41px;}
.taoBtnList>.taoListHv{ background-position:-21px -1064px; position: relative;}
.taoBtnList:after{ content: '买买买'; background:url(../images/common-head.png?ver=3) no-repeat 0 -1396px; font-size: 0; position: absolute; right: 42px; top: -11px; color: #fff; width: 46px; height: 24px; overflow: hidden; z-index: 10}
.taoBtnList div>.taoListHv:after{ content: '买买买'; background:url(../images/common-head.png?ver=3) no-repeat 0 -1396px; font-size: 0; position: absolute; right: 20px; top: -11px; color: #fff; width: 46px; height: 24px; overflow: hidden; z-index: 10}
.newHead1000 .taoBtnList div>.taoListHv:after{ right: 20px}
.taoBtnList:hover div{ display:block}
.taoBtnList .theNew{ position: absolute; right: 8px; top: 10px; display: block; width: 22px; height: 8px; background: url("../images/common-head.png?v=115") no-repeat 0 -1174px; line-height: 39px; overflow: hidden; }
.taoBtnList div a:hover .theNew{ background-position: 0 -1192px; }
.taoBtnList:hover .taoListHv,.taoBtnList .taoListHv.on{ background:url(../images/common-head.png?ver=3) no-repeat 0 -1101px #fff; color:#ff6980 !important; font-size:16px   !important;}
.taoBtnList div{ border:1px solid #dadada; position:absolute; left:-22px; top:-1px; background:#fff; display:none; padding-bottom:10px; box-shadow:0px 1px  2px 1px #e0e0e0; width:111px; border-radius:4px;z-index: 1}
.public-nav-layout .div{margin:0;padding:0}
.public-nav-layout .site-menu li.navitems-on{position:relative;background:url(../images/hot.gif) no-repeat right 1px}
.public-nav-layout .site-menu li.navitems-on a:hover{background-color:transparent;border-radius:0;color:#f55;font-weight:700}
.public-nav-layout .site-menu li.navitems-on a:current{background-color:transparent;border-radius:0;color:#f55;font-weight:700}
.public-nav-layout .site-menu{font-size:0;white-space:nowrap;max-width:988px;float:left;overflow:hidden;padding-top:6px}
.public-nav-layout .site-menu li{vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;margin:0 5px; position: relative;}
.public-nav-layout .site-menu li a{font-size:14px;line-height:35px;color:#666;height:35px;padding:0 20px;display:inline-block;zoom:1}
.public-nav-layout .site-menu li a:hover{color:#f55;font-weight:700}
.public-nav-layout .site-menu li a.current{color:#f55;font-weight:700}
.public-nav-layout .site-menu li.links_a a i{background:url(../images/top_bg.png) no-repeat 0 0;vertical-align:middle;display:inline-block;width:6px;height:3px;margin-left:6px;-webkit-transition:.2s ease-in;-moz-transition:-webkit-transform .2s ease-in;-o-transition:-webkit-transform .2s ease-in;transition:.2s ease-in}
.public-nav-layout .site-menu li.hover a i{FILTER:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%}
.public-nav-layout .site-menu li .links_b{display:none;width:118px;border-top:solid 1px #f55!important;border:solid 1px #F0F0F0;position:absolute;z-index:1000;background-color:#fff;font-size:14px}
.public-nav-layout .site-menu li.hover .links_b{display:block}
.public-nav-layout .site-menu li .links_b li{display:list-item;text-align:-webkit-match-parent}
.public-nav-layout .all-category{display:block;width:192px;height:41px;float:left;margin-top:5px;background:#ff6980;}
.public-nav-layout .all-category .title{line-height:25px;height:25px;padding:8px 10px 8px 10px}
.public-nav-layout .all-category .title h3 a{font-size:16px;font-weight:700;float:left;margin-left:20px;color:#fff}
.public-nav-layout .all-category .title i{font-size:0;line-height:0;background:url(../images/top_bg.png) no-repeat -182px -186px;width:18px;height:14px;float:left;margin:4px 4px 0 0}
.public-nav-layout .all-category .category{display:none;width:192px}
.public-nav-layout .all-category:hover .category{display:block}
.public-nav-layout .category .menu{background:#fff;box-shadow: 0 1px 1px 1px #eee;}
.public-nav-layout .category .menu li{width:192px;height:32px;position:relative;z-index:1;zoom:1}
.public-nav-layout .category .menu li.hover{z-index:2}
.public-nav-layout .category .menu li:last-child{height:35px}
.public-nav-layout .category .class{display:block;width:163px;height:16px;padding:8px 15px;position:absolute;z-index:1;top:0;left:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
.public-nav-layout .category .hover .class{width:153px;padding:8px 16px 8px 23px;z-index:2;box-shadow: 0 1px 1px 1px #eee;}
.public-nav-layout .category .class .ico{vertical-align:top;display:inline-block;width:16px;height:16px;margin-right:6px}
.public-nav-layout .category .class .ico img{display:block;width:16px;height:16px}
.public-nav-layout .category .class h4{vertical-align:top;display:inline-block}
.public-nav-layout .category .class h4 a{color:#333;font-size:13px;line-height:16px;height:16px}
.public-nav-layout .category .menu li.hover .class h4 a{color:#ff6980}
.public-nav-layout .category .class .arrow{background:url(../images/top_bg.png) no-repeat -150px -10px;width:3px;height:5px;float:right;margin:5px 0 0}
.public-nav-layout .category .sub-class{background-color:#fff;display:none;width:946px;min-height:450px;padding:10px 20px 19px 20px;border:solid #efefef 1px;position:absolute;z-index:1;top:-1px;left:192px}
.public-nav-layout .category li.hover .sub-class{display:block}
.public-nav-layout .category .sub-class-content{display:block;width:730px;float:left}
.public-nav-layout .category .recommend-class{font-size:0;word-spacing:-1em;display:block;overflow:hidden}
.public-nav-layout .category .recommend-class span{font-size:12px;background-color:#ff6980;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;margin:0 10px 10px 0}
.public-nav-layout .category .recommend-class span a{color:#FFF;line-height:20px;display:block;padding:2px 10px}
.public-nav-layout .category .sub-class dl{font-size:0;word-spacing:-1em;padding-top:10px}
.public-nav-layout .category .sub-class dl dd,.public-nav-layout .category .sub-class dl dt{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block}
.public-nav-layout .category .sub-class dl dt{background:url(../images/top_bg.png) no-repeat right -25px;width:70px;height:16px;padding-right:15px;margin-right:15px}
.public-nav-layout .category .sub-class dl dt h3{line-height:16px;font-weight:600;color:#5C5251;text-align:right}
.public-nav-layout .category .sub-class dl dd{font-size:0;word-spacing:-1em;width:630px;border-bottom:solid 1px #F0F0F0}
.public-nav-layout .category .sub-class dl:last-child dd{border-bottom:none 0}
.public-nav-layout .category .sub-class dl dd a{font-size:12px;color:#7C7171;line-height:14px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;height:14px;padding:0 10px;margin-bottom:10px;border-left:solid 1px #E7E7E7}
.public-nav-layout .category .sub-class dl dd a:hover{color:#C81623}
.public-nav-layout .category .sub-class dl dd h5{font-size:12px;line-height:20px;color:#333;margin:4px 0 2px 0}
.public-nav-layout .category .sub-class-right{display:block;width:194px;height:440px;float:right}
.public-nav-layout .category .brands-list ul{font-size:0;word-spacing:-1em;height:136px;overflow:hidden}
.public-nav-layout .category .brands-list li{font-size:12px;background-color:transparent!important;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;width:94px;height:31px;margin:0 1px 3px 2px;border:none}
.public-nav-layout .category .brands-list li a{display:block;position:relative;z-index:1}
.public-nav-layout .category .brands-list li a img{width:94px;height:31px;position:absolute;z-index:2;top:0;right:0;bottom:0;left:0}
.public-nav-layout .category .brands-list li a span{color:#333;line-height:25px;background-color:#FFF;white-space:nowrap;text-align:center;width:86px;height:25px;padding:3px 4px;position:absolute;z-index:1;top:0;right:0;overflow:hidden}
.public-nav-layout .category .brands-list li a:hover span{color:#FFF;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#F27C7171', endColorstr='#F27C7171');background:rgba(124,113,113,.95);z-index:3}
.public-nav-layout .category .adv-promotions{display:block;width:190px;margin:0 2px}
.public-nav-layout .category .adv-promotions a{background:#FFF;display:block;width:190px;height:150px;margin-top:10px}
.public-nav-layout .category .adv-promotions img{background:#D3D3D3;width:190px;height:150px}
.wwi-s-bdc-layout{text-align:center}
.wwi-s-bdc{font-size:0;text-align:left;height:20px;padding:10px 0;margin:0 auto}
.wwi-s-bdc span{font-size:12px;line-height:20px;color:#999;letter-spacing:normal;word-spacing:normal;display:inline-block;height:20px;zoom:1}
.wwi-s-bdc i{font-size:14px;color:#AAA;margin-right:4px}
.wwi-s-bdc span.arrow{font-family:"宋体";line-height:20px;color:#AAA;margin:0 6px}
.wwi-s-bdc a{color:#777;display:block}
.wwi-s-bdc a:hover{color:#F32613}
.mod_minicart{position:relative;float:right;z-index:998;margin-top:20px}
.mod_minicart .cart_icon{background-position:-2px -293px;display:inline-block;width:38px;height:30px;position:absolute;left:14px;top:9px}
.cart_num{background:#f55;border-radius:8px;color:#fff;display:block;font-family:Arial;font-size:12px;font-style:normal;left:39px;line-height:16px;min-width:12px;padding:0 2px;position:absolute;text-align:center;top:3px}
.mini_cart_btn{font-size:18px;color:#666;display:block;line-height:42px;height:44px;width:168px}
.mini_cart_btn:hover,.mod_minicart .on{background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2);display:block!important}
.mod_minicart .onn{display:block!important}
.mini_cart_btn span{display:block;position:absolute;left:64px;top:0}
.minicart_list{background:#fff;border:1px solid #e8e8e8;box-shadow:0 0 5px rgba(0,0,0,.2);display:none;font-size:12px;right:0;position:absolute;width:350px;z-index:10000}
.minicart_list .spacer{position:absolute;right:0;top:-7px;background-color:#fff;width:166px;height:12px}
.minicart_list a{color:#666}
.minicart_list a:hover{color:#f55}
.minicart_list .list_detail{background:#fff;width:350px}
.minicart_list .list_detail ul{margin:0 1px;max-height:218px;min-height:142px;overflow-x:hidden;overflow-y:auto;position:relative;width:348px}
.minicart_list .list_detail li{border-bottom:1px dashed #ddd;padding:10px;position:relative;width:328px;z-index:999;clear:both;overflow:hidden;zoom:1}
.minicart_list .list_detail li.miniSoldout .num_box{margin-top:10px}
.minicart_list .list_detail li.miniSoldout span{color:#666;float:left;font-weight:700;line-height:40px;margin-left:10px;width:60px}
.minicart_list .list_detail .pro_img{border:1px solid #e4e4e4;float:left;height:50px;margin-right:8px;width:50px}
.minicart_list .list_detail .pro_img img{width:50px;height:50px}
.minicart_list .list_detail .pro_name{float:left;height:40px;line-height:20px;overflow:hidden;width:180px}
.minicart_list .list_detail span.pro_name{color:#666}
.minicart_list .list_detail .pro_price p.cart_gray{color:#999;font-weight:400}
.minicart_list .list_detail .num_box{float:left;text-align:center;white-space:normal;width:65px}
.minicart_list .list_detail .num_box a{line-height:20px}
.minicart_list .checkout_box{background:#f7f7f7 none repeat scroll 0 0;border-top:1px solid #d1d1d1;float:left;padding:10px;text-align:right;line-height:30px;width:328px;font-size:14px}
.minicart_list .none_tips{font-size:13px;padding:40px 30px}
.minicart_list .none_tips a{color:#f55}
.minicart_list .checkout_box .fstrong{font-weight:700;color:#f55}
.minicart_list .mcartRight{float:right;padding-right:20px;text-align:right;width:55px;line-height:20px;font-size:12px}
.minicart_list .mcartRight .pro_price{font-family:Arial,Helvetica,sans-serif;display:block}
.minicart_list .checkout_btn{background-color:#f55;color:#fff;padding:0 10px;display:inline-block;line-height:30px;font-size:14px}
.minicart_list .checkout_btn:hover{background:#ea4848;color:#fff}
