@charset "utf-8";

.wwi-s-bdc-layout { display: none !important;}
.nc-appbar-tabs .compare { display: none !important;}
.red { color: #DD5A43 !important;}
.blue { color: #27A9E3 !important;}
.green { color: #69AA46 !important;}
.orange { color: #FF892A !important;}
.grey { color: #777777 !important;}
.hint { color: #BBB; line-height: 20px; }
.font_bold { font-weight: 600; color: #333 !important;}
.goods-price { font-family: Tahoma; font-size: 12px; font-weight: 700; color: #555;}
.goods-time { font-family: Tahoma; color: #999;}
.goods-freight { color: #999;}
.goods-pay { color: #69C;}
.goods-favorite { width: 10px; height: 10px; padding: 3px;  border-radius: 2px; display: inline-block; vertical-align: middle;}
a.goods-favorite:hover {background-color:#F5F5F5; border: 1px #CCC solid; padding: 2px; text-decoration:none;}

.store-name a { color: #0579C6;}
.noborder { border: none;}
.num{ color: #390; }
.price { color:#F60; font-weight: 600;}


/*表单验证错误提示文字*/
label.error { font-size: 12px; color: #E84723; margin-left: 8px;}
label.error i { margin-right: 4px;}

/* 弹出框体 */
#dialog_manage_screen_locker { opacity:0!important;}
#dialog_manage_screen_locker .div { _zoom: 1;}
.dialog_wrapper { box-shadow: 0 0 0 2px rgba(153,153,153,0.25) !important; padding: 0!important; border-radius: 0!important;}


/*表格操作按钮*/
.ncm-table-handle { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-table-handle span { vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; padding: 0 4px; border-left: solid 1px #E6E6E6;}
.ncm-table-handle span { *display: inline/*IE6,7*/;}
.ncm-table-handle span:first-child { border-left: none 0;}
.ncm-table-handle span a { color: #777; background-color: #FFF; display: block; padding: 3px 7px; margin: 1px;}
.ncm-table-handle span a i { font-size: 14px; line-height: 16px; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ncm-table-handle span a p { font: 12px/16px arial; height: 16px; display: block; clear: both; margin: 0; padding: 0;}
.ncm-table-handle span a:hover { text-decoration: none; color: #FFF; margin: 0; border-style: solid; border-width: 1px;}

/*上传按钮*/
.ncm-upload-btn { vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-right: 5px;  width: 80px; height: 30px; *zoom:1;}
.ncm-upload-btn a { display: block; position: relative; z-index: 1;}
.ncm-upload-btn span { width: 80px; height: 30px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer;}
.ncm-upload-btn .input-file { width: 80px; height: 30px; padding: 0; margin: 0; border: none 0; opacity:0; filter: alpha(opacity=0); cursor: pointer; }
.ncm-upload-btn p { font-size: 12px; line-height: 20px; background-color: #F5F5F5; color: #999; text-align: center; color: #666; width: 78px; height: 20px; padding: 4px 0; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; position: absolute; left: 0; top: 0; z-index: 1;}
.ncm-upload-btn p i { vertical-align: middle; margin-right: 4px;}
.ncm-upload-btn a:hover p { background-color: #E6E6E6; color: #333; border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;} 

i[class*="icon-"] { font-size: 14px; margin-right: 4px;}

/*方形图裁切*/
.pic-cut-100, .pic-cut-120 { font-size: 12px; line-height: 20px; color: #555; width: 632px; height: 520px; margin: 20px auto; position: relative; z-index: 1; }
.pic-cut-120 { width: 652px; margin: 30px auto;}
.pic-cut-100 .work-title, .pic-cut-120 .work-title { font-size: 12px; line-height: 20px; text-align: center; width: 500px; position: absolute; z-index: 1; top: 0; left: 0;}
.pic-cut-100 .work-layer, .pic-cut-120 .work-layer { background: #FFF; padding: 1px; border: dashed 1px #777; position: absolute; z-index: 1; top: 20px; left:0;}
.pic-cut-100 .work-layer p, .pic-cut-120 .work-layer p { background: url(../images/cut_bg.png) repeat 0 0; display: block; width: 500px; height: 500px; overflow: hidden;}
.pic-cut-100 .thumb-layer, .pic-cut-120 .thumb-layer { padding: 1px; border: dashed 1px #777; position: absolute; z-index: 1; top: 20px; right: 0;}
.pic-cut-100 .thumb-layer p { width: 100px; height: 100px; overflow: hidden;}
.pic-cut-120 .thumb-layer p { width: 120px; height: 120px; overflow: hidden;}
.pic-cut-100 .thumb-layer p img, .pic-cut-120 .thumb-layer p img { margin: 0; display: inline;}
.pic-cut-100 .thumb-title, .pic-cut-120 .thumb-title { text-align: center; width: 104px; position: absolute; z-index: 1; top: 0; right: 0;}
.pic-cut-120 .thumb-title { width: 124px;}
.pic-cut-100 .cut-help, .pic-cut-120 .cut-help { width: 100px; position: absolute; z-index: 1; top: 140px; right: 0;}
.pic-cut-120 .cut-help { width: 120px; top: 160px;}
.pic-cut-100 .cut-help h4, .pic-cut-120 .cut-help h4 { font-size: 12px; line-height: 28px; color: #333;}
.pic-cut-100 .cut-btn, .pic-cut-120 .cut-btn { position: absolute; z-index: 1; top:340px; left: 525px;}
.pic-cut .cut-btn { top:340px; left: 530px;}


/* 商品缩略图
-------------------------------------------*/
.ncm-goods-thumb-mini { width: 40px; height: 40px; border: solid 1px #F5F5F5;}
.ncm-goods-thumb-mini a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; overflow: hidden; }
.ncm-goods-thumb-mini a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}

.ncm-goods-thumb { width: 60px; height: 60px;}
.ncm-goods-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden; }
.ncm-goods-thumb a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/;}

.ncm-goods-thumb-120 { width: 120px; height: 120px;}
.ncm-goods-thumb-120 a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 120px; height: 120px; overflow: hidden; }
.ncm-goods-thumb-120 a img { max-width: 120px; max-height: 120px; margin-top:expression(120-this.height/2); *margin-top:expression(60-this.height/2)/*IE6,7*/;}

.ncm-store-pic { width: 60px; height: 60px;}
.ncm-store-pic a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden; }
.ncm-store-pic a img { max-width: 60px; max-height: 60px; margin-top:expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; border-radius: 30px;}


/* ============================
 * 买家中心及账户设置框架头部菜单样式
 * ============================ */
/*用户中心布局*/
.ncm-container { width: 1200px; margin: 0 auto; padding: 10px 0;}
.ncm-header { width: 100%; height: 220px;}
.ncm-header-top { background-color: #FFF; display: block; height: 150px; border-bottom: solid 1px #F0F0F0;}
.ncm-member-info { width: 330px; padding: 19px 10px 0 20px; float: left; overflow: hidden;}
.ncm-member-info .avatar { width: 100px; height: 100px; float: left; position: relative; z-index: 1;}
.ncm-member-info .avatar .frame { background: url(../images/member_pics.png) no-repeat 0 -480px; width: 100px; height: 100px; position: absolute; z-index: 2; top: 0; left: 0;}
.ncm-member-info .avatar img { width: 92px; height: 92px; position: absolute; z-index: 1; top: 4px; left: 4px;}
.ncm-member-info dl { float: left; margin: 0 0 0 10px;}
.ncm-member-info dt { font-size: 18px; font-weight: lighter; line-height: 24px; color: #333; margin-bottom: 5px;}
.ncm-member-info dd { line-height: 24px; color: #999; height: 24px; margin-bottom: 4px;}

.ncm-member-info .user-account { display: inline-block; vertical-align: top;}
.ncm-member-info .user-account ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-member-info .user-account li { font-size: 12px; vertical-align: middle; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 20px; height: 20px; margin-right: 10px; *zoom: 1/*IE7*/;}
.ncm-member-info .user-account li .icon { background: url(../images/member_pics.png) no-repeat; display: inline-block; *display: inline/*IE7*/; width: 20px; height:20px; margin: 0 auto; *zoom: 1/*IE7*/;}
.ncm-member-info .user-account #qq .icon { background-position: 0 -30px;}
.ncm-member-info .user-account #weichat .icon { background-position: -40px -30px;}
.ncm-member-info .user-account #weibo .icon { background-position: -80px -30px;}
.ncm-member-info .user-account #qq .have .icon { background-position: -20px -30px;}
.ncm-member-info .user-account #weichat .have .icon { background-position: -60px -30px;}
.ncm-member-info .user-account #weibo .have .icon { background-position: -100px -30px;}

.ncm-member-info .SAM { display: inline-block;}
.ncm-member-info .SAM-info { height: 20px;}
.ncm-member-info .SAM-info strong { margin-left: 6px;}
.ncm-member-info #high strong { color: #393;}
.ncm-member-info #normal strong { color: #F60;}
.ncm-member-info #low strong { color: #FC3D09;}
.ncm-member-info .SAM-info span { font-size: 0; line-height: 12px; background-color: #EEE; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 80px; height: 12px; position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-member-info .SAM-info em { font-size: 0; line-height: 12px; display: block; height: 12px; position: absolute; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-member-info #high span em { background-color: #75BC30; width: 100%;}
.ncm-member-info #normal span em { background-color: #1193F3; width: 66.6666%; }
.ncm-member-info #low span em { background-color: #FC3D09; width: 33.3333%;}

.ncm-set-menu { font-size: 0;  word-spacing:-1em; white-space: nowrap; width: 839px; height: 100px; float: right; margin: 20px 0 19px 0;}
.ncm-set-menu dl { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-right: 25px; border-left: dotted 1px #E6E6E6; *zoom: 1/*IE7*/;}
.ncm-set-menu dl dt { font-size: 16px; line-height: 20px; color: #999; display: block; text-align: center; padding-left: 24px;}
.ncm-set-menu dl dd { margin-top: 15px;}
.ncm-set-menu dl.ncm-set-menu-zhaq { left: 20px;}
.ncm-set-menu ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-set-menu ul li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; margin-left: 24px;  position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-set-menu ul li a { display: block;}
.ncm-set-menu ul li span { background: url(../images/member_pics.png) no-repeat; display: inline-block; *display: inline; width: 44px; height: 44px; margin: 0 auto; *zoom: 1;}
.ncm-set-menu ul li sub { background: url(../images/member_pics.png) no-repeat -450px -480px; display: none; width: 12px; height: 12px; position: absolute; z-index: 1; top: 32px; right: 2px;}
.ncm-set-menu ul li.have sub { display: block;}
.ncm-set-menu ul li a h5 { color: #999; }
.ncm-set-menu ul li.have h5,
.ncm-set-menu ul li a:hover h5 { color: #3B97D3;}
.ncm-set-menu ul li a:hover { text-decoration: none;}
.ncm-set-menu ul li span.zhaq01 { background-position: -100px -480px;}
.ncm-set-menu ul li span.zhaq02 { background-position: -150px -480px;}
.ncm-set-menu ul li span.zhaq03 { background-position: -200px -480px;}
.ncm-set-menu ul li span.zhaq04 { background-position: -250px -480px;}
.ncm-set-menu ul li span.zhcc01 { background-position: -100px -530px;}
.ncm-set-menu ul li span.zhcc02 { background-position: -150px -530px;}
.ncm-set-menu ul li span.zhcc03 { background-position: -200px -530px;}
.ncm-set-menu ul li span.zhcc04 { background-position: -250px -530px;}
.ncm-set-menu ul li span.xgsz01 { background-position: -300px -480px;}
.ncm-set-menu ul li span.xgsz02 { background-position: -350px -480px;}
.ncm-set-menu ul li.have span.zhaq01,
.ncm-set-menu ul li:hover span.zhaq01 { background-position: -100px -580px;}
.ncm-set-menu ul li.have span.zhaq02,
.ncm-set-menu ul li:hover span.zhaq02 { background-position: -150px -580px;}
.ncm-set-menu ul li.have span.zhaq03,
.ncm-set-menu ul li:hover span.zhaq03 { background-position: -200px -580px;}
.ncm-set-menu ul li.have span.zhaq04,
.ncm-set-menu ul li:hover span.zhaq04 { background-position: -250px -580px;}
.ncm-set-menu ul li:hover span.zhcc01 { background-position: -100px -630px;}
.ncm-set-menu ul li:hover span.zhcc02 { background-position: -150px -630px;}
.ncm-set-menu ul li:hover span.zhcc03 { background-position: -200px -630px;}
.ncm-set-menu ul li:hover span.zhcc04 { background-position: -250px -630px;}
.ncm-set-menu ul li:hover span.xgsz01 { background-position: -300px -580px;}
.ncm-set-menu ul li:hover span.xgsz02 { background-position: -350px -580px;}
.ncm-trade-menu ul li h5 { font-size: 12px; line-height: 20px; color: #777; margin-top: 5px;}

.ncm-header-nav { background-color: #F2EFE9; display: block; width: 100%; height: 49px;}
.ncm-header-nav ul.nav-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; width: 600px; height: 36px; margin: 7px 0 6px 20px; float: left;}
.ncm-header-nav li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin: 0 10px 0 0; position: relative; z-index: 9; *zoom: 1/*IE7*/;}
.ncm-header-nav li a { font-size: 16px; color: #6D6D6D; line-height: 20px; padding: 8px 14px; display: block; height: 20px; }
.ncm-header-nav li:hover a { background-color: #FFF; text-decoration: none; color: #000;}
.ncm-header-nav li a i { background: url(../images/member_pics.png) no-repeat -190px -3px; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 7px; height: 4px; margin-left: 6px;}
.ncm-header-nav li a.current { font-size: 18px; color: #3B97D3; background-color: #FFF; padding: 8px 14px 14px;}
.ncm-header-nav li .sub-menu { background-color: #FFF; display: none; padding: 10px 0 15px 20px; border: solid #F2EFE9; border-width: 0 1px 1px; position: absolute; overflow: hidden; z-index: 1; top: 34px; left: -1px; box-shadow: 5px 5px 0 rgba(0,0,0,0.05);}
.ncm-header-nav li:hover .sub-menu { display: block;}
.ncm-header-nav li.set .sub-menu { left: -130px; width: 480px;}
.ncm-header-nav li .sub-menu dl { display: block; width: 100px; float: left;}
.ncm-header-nav li .sub-menu dt a { font-size: 14px; line-height: 20px; padding: 5px 0;}
.ncm-header-nav li .sub-menu dd a { font-size: 12px; line-height: 20px; padding: 5px 0;}
.ncm-header-nav li .sub-menu dd a:hover { color: #E60012; text-decoration: underline; }
.ncm-header-nav li.mall .sub-menu { left: -20px; width: 360px;}
.ncm-header-nav li.mall .sub-menu dl { width: 120px;}

.ncm-header-nav li.set sub-menu dl { width: 120px;}
.ncm-header-nav .notice { font-size: 12px; width: 300px; height: 40px; margin-top: 5px; float: right; position: relative; z-index: 2; overflow: hidden;}
.ncm-header-nav .notice ul { height: 20px; margin: 10px 0; overflow: hidden;}
.ncm-header-nav .notice ul li { background: url("../images/member_pics.png") no-repeat scroll -498px 9px rgba(0, 0, 0, 0); display: block; padding: 0 0 0 12px; margin: 0;}
.ncm-header-nav .notice ul li a { font-size: 12px; padding: 0; margin: 0;}
.ncm-header-nav .notice ul li:hover a { color: #E60012; background-color: transparent;}
.ncm-header-nav .notice ul li time { font-size: 12px; margin-left: 10px; color: #999;}


.ncm-container .left-layout { width: 110px; float: left; padding-left: 30px; border-right: solid 1px #F5F5F5; position: relative; z-index: 1;}
.ncm-container .right-layout { background-color: #FFF; width: 1029px; float: right; padding-left: 30px; margin-left: -1px; border-left: solid 1px #F5F5F5; position: relative; z-index: 2;}
.ncm-container .right-layout .wrap { width: 100%; float: right;}

/*用户中心左侧内容*/
.ncm-sidebar { }
.ncm-sidebar li.side-menu { width: 100%; margin-bottom: 15px; overflow: hidden;}
.ncm-sidebar li.side-menu a { background: url(../images/member_pics.png) no-repeat -10px -180px; display: block; margin-bottom: 2px; cursor: pointer;}
.ncm-sidebar li.side-menu a:hover { text-decoration: none;}
.ncm-sidebar li.side-menu a.shrink { background-position: -10px -200px;}
.ncm-sidebar li.side-menu a h3 { font-size: 12px; font-weight: 600; color: #333; line-height: 20px; height: 20px; display: block;}
.ncm-sidebar .side-menu ul { margin-bottom: 10px;}
.ncm-sidebar .side-menu ul li { width: 100%; }
.ncm-sidebar .side-menu ul li a { background: none; line-height: 24px; color: #777; width: auto; margin: 0 ;}
.ncm-sidebar .side-menu ul li a:hover { color: #E60012; text-decoration: underline; }
.ncm-sidebar .side-menu ul li.selected a { color: #E60012; }


.ncm-index-container { }
.ncm-index-container .user-account { font-size: 0;  word-spacing:-1em; padding-bottom: 20px; border-bottom: solid 1px #f2efe9; overflow: hidden;}
.ncm-index-container .user-account dl { vertical-align: top; text-align: center; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 205px; margin-left: -1px; *zoom: 1; border-left: solid 1px #F5F5F5;}
.ncm-index-container .user-account dl a { display: block;}
.ncm-index-container .user-account dl a:hover { text-decoration: none;}
.ncm-index-container .user-account dt { font-size: 12px; font-weight: 600; color: #000; line-height: 24px;}
.ncm-index-container .user-account .icon { background: url(../images/member_pics.png) no-repeat; width: 64px; height: 64px; margin: 10px auto;}
.ncm-index-container .user-account .account01 .icon { background-position: 0 -370px;}
.ncm-index-container .user-account .account02 .icon { background-position: -80px -370px;}
.ncm-index-container .user-account .account03 .icon { background-position: -160px -370px;}
.ncm-index-container .user-account .account04 .icon { background-position: -240px -370px;}
.ncm-index-container .user-account .account05 .icon { background-position: -320px -370px;}
.ncm-index-container .user-account .value { font-size: 12px; color: #777; line-height: 32px;}
.ncm-index-container .user-account .value em { font-size: 24px; color: #3B97D3; font-weight: lighter; vertical-align: sub; margin: 0 4px;}
.ncm-index-container .user-consume { display: block; clear: both; margin-top: 20px;}
.ncm-index-container .user-consume .title { line-height: 20px; background-color: #FFF; padding: 8px 10px; border-bottom: solid 1px #f2efe9; overflow: hidden;}
.ncm-index-container .user-consume .title h3 { font-size: 18px; color: #000; float: left;}
.ncm-index-container .user-consume .title a { float: right;}
/* ---------------------------------------- */
/* 用户中心右侧主体内容			   				*/
/* ---------------------------------------- */
.tabmenu { background-color: #FFF; width:100%; height: 38px; display: block; margin-bottom: 10px; position: relative; z-index: 1;}
.tabmenu .tab { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FFF; height: 36px; border-bottom: solid 1px #E7E7E7;}
.tabmenu .tab li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1; margin-right: -1px;}
.tabmenu .tab li a { font-family: "microsoft yahei"; font-size: 14px; line-height: 20px; color: #333; display: block; height: 20px; padding: 7px 19px 8px 19px; margin-right: 15px; }
.tabmenu .tab li a:hover {color: #E60012;}
.tabmenu .tab .active a,
.tabmenu .tab .active a:hover { font-weight: 600; text-decoration: none; color: #3B97D3; padding: 7px 19px 9px 19px; border-bottom: solid 2px #3B97D3; cursor: default;}

.tabmenu .text-intro { line-height: 20px; color: #999; position: absolute; z-index: 99; top: 5px; right: 5px;}
.tabmenu a.ncbtn { padding: 5px 13px; position: absolute; z-index: 1; top: -2px; right: 0px;}


/* 内容部分通用搜索样式 */
.ncm-search-table { color: #999; width: 100%; border-bottom: solid 1px #E6E6E6;}
.ncm-search-table th { font-size: 12px; line-height: 22px; text-align: right; width: 50px; padding: 8px 8px 8px 0;}
.ncm-search-table td { text-align: left; padding: 8px 0;}
.ncm-search-table input.text { vertical-align: middle; width: 148px;}
.ncm-search-table .add-on { vertical-align: top;}
.ncm-search-table .submit-border { vertical-align: middle; display: inline-block; *display: inline/*IE6,7*/; margin: 0 2px; border-style: solid; border-width: 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; *zoom:1; }
.ncm-search-table .submit-border:hover { border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;}
.ncm-search-table input[type="submit"], 
.ncm-search-table input.submit, 
.ncm-search-table a.submit { font: 12px/28px "microsoft yahei"; color: #333; background-color: #F5F5F5; width: 64px; height: 28px; padding: 0; border: 0; cursor: pointer;}
.ncm-search-table input[type="submit"]:hover { background-color: #E6E6E6; color: #333; }


/* 内容部分通用表格样式 */
.ncm-default-table { line-height:20px; width: 100%; border-collapse: collapse; clear: both;}
.ncm-default-table thead th { color: #999; background-color: #FFF; text-align:center; height: 20px; padding: 8px 0; border-bottom: solid 1px #E7E7E7; }
.ncm-default-table thead td, 
.ncm-default-table tfoot th { background-color: #FFF; height: 20px; padding: 5px 0; border-bottom: solid 1px #E7E7E7;}
.ncm-default-table tfoot th { border-top: solid 1px #E6E6E6;}
.ncm-default-table thead td .checkall,
.ncm-default-table tfoot th .checkall { vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin: 0 4px 0 8px; *zoom: 1;}
.ncm-default-table thead td label, 
.ncm-default-table tfoot th label { color: #777; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; margin-right: 10px; cursor: pointer; *zoom:1;}
.ncm-default-table tbody th { background-color: #FAFAFA; border: solid #E6E6E6; border-width: 1px 0; padding: 4px 0;}
.ncm-default-table tbody th span { display: inline-block; vertical-align: middle; margin-right: 30px;}
.ncm-default-table tbody th span.goods-name { text-overflow: ellipsis; white-space: nowrap; width: 240px; height: 20px; overflow: hidden;}
.ncm-default-table tbody th a.share-goods { float: right; margin-right: 10px; color: #999;}
.ncm-default-table tbody th a:hover.share-goods { color: #333; text-decoration: none;}
.ncm-default-table tbody th a.share-goods i { vertical-align: middle;}
.ncm-default-table tbody th a.order-trash { float: right; margin-right: 10px; color: #999; padding-right: 10px; border-right: solid 1px #DDD; margin-right: 10px;}
.ncm-default-table tbody th a:hover.order-trash { color: #F33; text-decoration: none;}
.ncm-default-table tbody th a.order-trash i { font-size: 14px; vertical-align: middle;}

.ncm-default-table tbody td { color: #999; background-color: #FFF; text-align: center; padding: 10px 0;}
.ncm-default-table tbody tr.bd-line td { border-bottom: solid 1px #E7E7E7;}
.ncm-default-table tbody td strong { color: #666;}
.ncm-default-table td .pic-thumb { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 32px; height: 32px; padding: 2px; border: solid 1px #F5F5F5; overflow: hidden;}
.ncm-default-table td .pic-thumb img { max-width: 32px; max-height: 32px; margin-top:expression(32-this.height/2); *margin-top:expression(16-this.height/2)/*IE6,7*/;}
.ncm-default-table td .goods-name { border: none; overflow: hidden;}
.ncm-default-table td .goods-name dt { font-size: 12px; line-height: 16px; color: #333; text-overflow: ellipsis; display: block; text-align: left; white-space: nowrap; max-width: 320px!important; height: 16px; padding-bottom: 4px; overflow: hidden;}
.ncm-default-table td .goods-name dt span { line-height: 16px; color: #FFF; background-color: #DA542E; display: inline-block; *display: inline/*IE7*/; height: 16px; padding: 1px 3px; border-radius: 2px; margin-right: 4px; zoom: 1;}
.ncm-default-table td .goods-name dd { line-height: 20px; display: block; height: 20px;}
.ncm-default-table td span.sale-type { line-height: 16px; color:#FFF; background-color: #FD6760; height: 16px; padding: 2px 4px; border-radius: 2px;}

/* 警示信息文字 */
.warning-option { text-align: center; margin: 100px auto;}
.warning-option i { background: url(../images/nodata.png) no-repeat 0 0; display: inline-block; width: 72px; height: 72px; margin: 0 auto;}
.warning-option span { font: normal 14px/24px "microsoft yahei"; color: #AAA; display: block; margin: 10px auto 0 auto;}

/* 验证错误提示 */
#warning { display: none; background: url(../images/warning_bg.png) no-repeat scroll 0px 0px; padding: 6px 12px 12px 100px; min-height: 60px;}
#warning label { display: block; margin: 4px 0 0 0;}
#warning label.error { font-family: "microsoft yahei"; font-size: 1.4em; line-height: 20px; color: #D50000; padding-left: 12px;}

.alert { color: #C09853; background-color: #FCF8E3; padding: 9px 14px; margin: 10px auto; border: 1px solid #FBEED5; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.alert a { color: #927036; text-decoration: underline;}
.alert h4 { font-size: 16px; font-weight: bold; line-height: 1.5em; margin-bottom: 2px;}
.alert-success { color: #468847; background-color: #DFF0D8; border-color: #D6E9C6;}
.alert-info { color: #3A87AD; background-color: #D9EDF7; border-color: #BCE8F1;}
.alert-error { color: #B94A48; background-color: #F2DEDE; border-color: #EED3D7;}
.alert-block { padding-top: 14px; padding-bottom: 14px;}
.alert ul { font-size: 12px;}
.alert li { margin-bottom: 6px;}
.alert li em { font-weight: 600; color: #F30; margin: 0 2px;}
.alert i { font-size: 14px; margin-right: 4px; vertical-align: middle;}


/* 通用页内表单提交类型样式 */
.ncm-default-form {}
.ncm-default-form h3 { font-weight: 600; line-height: 22px; color: #555; clear: both; background-color: #F5F5F5; padding: 5px 0 5px 12px; border-bottom: solid 1px #E7E7E7;}
.ncm-default-form dl { font-size: 0; word-spacing:-1em; line-height: 20px; clear: both; padding: 0; margin: 0; border-bottom: dotted 1px #E6E6E6; overflow: hidden;}
.ncm-default-form dl:hover { background-color: #FCFCFC;}
.ncm-default-form dl:hover .hint { color: #666;}
.ncm-default-form dl.bottom { border-bottom-width: 0px;}
.ncm-default-form dl dt,
.ncm-default-form dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 14%; padding: 10px 1% 10px 0; margin: 0; *display: inline/*IE6,7*/; *zoom: 1;}
.ncm-default-form dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.ncm-default-form dl dd { text-align: left; width: 85%; padding: 10px 0 10px 0; }
.ncm-default-form dl dd span { display: inline-block; *line-height: 20px; *display: inline; *height: 20px; *margin-top: 6px; *zoom:1;}
.ncm-default-form dl dd p { clear: both;}
.ncm-default-form dl dd .hint { color: #AAA;}
.ncm-default-form div.bottom { text-align: center;}

.ncm-default-form .ncsc-upload-thumb { background-color: #FFF; display: block; border: dashed 1px #E6E6E6; position: relative; z-index: 1;}
.ncm-default-form .ncsc-upload-thumb:hover { border-style: solid; border-color: #27A9E3;}
.ncm-default-form .ncsc-upload-thumb p { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block/*IE6,7*/; width: 100px; height: 100px; overflow: hidden;}
.ncm-default-form .ncsc-upload-thumb i { font-size: 48px; color: #CCC;}
.ncm-default-form .ncsc-upload-thumb a { font: 10px/14px Tahoma; background-color: #FFF; text-align: center; vertical-align: middle; display: none; width: 14px; height: 14px; border: 1px solid; border-radius: 8px 8px 8px 8px; position: absolute; z-index: 2; top: -8px; right: -8px;}
.ncm-default-form .ncsc-upload-thumb:hover a { color: #27A9E3; display: block; border-color: #27A9E3;}
.ncm-default-form .ncsc-upload-thumb:hover a:hover { text-decoration: none;}
.ncm-default-form .upload-appeal-pic { border: dotted 1px #D8D8D8; padding: 5px; width: 250px; margin-left: 32px;}
.ncm-default-form .upload-appeal-pic p { padding: 5px;}
.ncm-default-form .handle { height: 30px; margin: 10px 0;}

.bottom .submit-border { margin: 10px auto;}
.bottom .submit { font: 14px/36px "microsoft yahei"; text-align: center; min-width: 100px; *min-width: auto; height: 36px;}
.bottom a.submit { width: 100px; margin: 0 auto;}
.bottom .submit[disabled="disabled"] { color: #999; text-shadow: none; background-color: #F5F5F5; border: solid 1px; border-color: #DCDCDC #DCDCDC #B3B3B3 #DCDCDC; cursor: default;}
.bottom .ncbtn { font-size: 14px; vertical-align: top; padding: 8px 19px; margin: 10px auto;}

/* 通用弹出式窗口样式 */
.eject_con { background-color: #FFF; overflow: hidden;}
.eject_con h3 { font: 14px/36px "microsoft yahei"; text-align: center; height: 36px; margin-top: 10px;}
.eject_con dl { font-size: 0;  word-spacing:-1em; line-height: 20px; clear: both; padding: 0; margin: 0; overflow: hidden;}
.eject_con dl dt,
.eject_con dl dd { font-size: 12px; line-height: 32px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; width: 19%; padding: 10px 1% 0 0; margin: 0; *display: inline/*IE6,7*/; *zoom: 1;}
.eject_con dl dt i.required { font: 12px/16px Tahoma; color: #F30; vertical-align: middle; margin-right: 4px;}
.eject_con dl dd { text-align: left; width: 80%; padding: 10px 0 0 0; }
.eject_con-list { margin-top: 4px;}
.eject_con-list li { line-height: 24px;}
.eject_con-list li .radio { vertical-align: middle; margin-right: 4px;}
.eject_con .bottom { background-color:#F9F9F9; text-align: center; border-top: 1px solid #EAEAEA; margin-top:12px; }
.eject_con .alert { margin: 5px;}
.ncmc-delivery { background-color: #F5F5F5; min-height: 250px; padding: 10px 5px 10px 20px; margin: 10px; position: relative; z-index: 1;}
.ncmc-delivery ul { width: 570px; height: 200px;}
.ncmc-delivery ul li { height: 20px; padding: 9px; margin: 1px;}
.ncmc-delivery ul li.select { background:#FFF; border: solid 1px #ff966e; margin: 0;}
.ncmc-delivery .delivery-map { background-color: #FFF; width: 250px; height: 250px; position: absolute; z-index: 1; top: 10px; right: 10px;}
.ncmc-delivery .pagination { clear: both;}
.ncmc-delivery .pagination ul { width: auto; height: auto;}
.ncmc-delivery .pagination ul li { height: auto; padding: 0;}
.ncmc-delivery .pagination ul li span { font-size: 12px; padding: 2px;}

 
 /* 评价评分样式 */
.raty { font-size: 0; line-height: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.raty img { letter-spacing: normal; word-spacing: normal; display: inline-block; width: 16px; height: 16px; margin: 2px 0;}

/*订单详情相关
-------------------------------------------*/
.ncm-oredr-show { width: 980px; margin-left: 10px;}
.ncm-order-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; border: solid 1px #D8D8D8; position: relative; z-index: 2;}
.ncm-order-details { background-color: #FBFBFB; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/; width: 359px; border-right: solid 1px #D8D8D8;}
.ncm-order-details .title { font-size: 12px; font-weight: 600; line-height: 20px; background-color: #F3F3F3; height: 20px; padding: 9px; border-bottom: solid 1px #D8D8D8;}
.ncm-order-details .content { display: block; width: auto; padding: 17px 17px 7px 17px;}
.ncm-order-details .content dl,
.ncm-order-contnet .daddress-info { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-bottom: 10px;}
.ncm-order-details .content dl.line { padding-top: 10px; border-top: dotted 1px #D8D8D8;}
.ncm-order-details .content dl dt,
.ncm-order-details .content dl dd,
.ncm-order-contnet .daddress-info dt,
.ncm-order-contnet .daddress-info dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-details .content dl dt { color: #888; width: 20%; }
.ncm-order-details .content dl dd { color: #666; width: 80%; }
.ncm-order-details .content dl dd span { margin-right: 6px;}
.ncm-order-details .content dl dd a,
.ncm-order-contnet .daddress-info dd a { color: #666; float: right; padding: 0 5px 0 10px; position: relative; z-index: 1;}
.ncm-order-details .content dl dd a:hover,
.ncm-order-contnet .daddress-info dd a:hover { text-decoration: none; color: #F33; z-index: 2;}
.ncm-order-details .content dl dd a i,
.ncm-order-contnet .daddress-info dd a i { font-size: 10px; margin-left: 4px;}
.ncm-order-details .content dl dd a .more,
.ncm-order-contnet .daddress-info dd a .more { background-color: #FBFBFB; display: none; width: 323px; padding: 10px; border: solid 1px #CCC; position: absolute; z-index: 1; right: -10px; top: 25px; box-shadow: 2px 2px 0 rgba(153,153,153,0.15)}
.ncm-order-details .content dl dd a:hover .more,
.ncm-order-contnet .daddress-info dd a:hover .more { display: block;}
.ncm-order-details .content dl dd a .more .arrow,
.ncm-order-contnet .daddress-info dd a .more .arrow { background: url(../images/member_pics.png) no-repeat -140px 0; width: 11px; height: 6px; position: absolute; z-index: 2px; top: -6px; right: 30px;}
.ncm-order-details .content dl dd a .more ul {}
.ncm-order-details .content dl dd a .more li,
.ncm-order-contnet .daddress-info dd a .more li { line-height: 24px; color: #888;}
.ncm-container #container { width: 320px; height: 320px;}

.ncm-order-details .content dl dd a .more li span,
.ncm-order-contnet .daddress-info dd a .more li span { color: #666; display: inline;}
.ncm-order-details .content dl dd .msg { text-align: left; margin-top: 5px;}
.ncm-order-details .content dl dd .msg a { float: none; padding: 0; margin-right: 5px;}
.ncm-order-condition { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 556px; *zoom: 1/*IE7*/; padding: 20px 30px; }
.ncm-order-condition dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; padding-bottom: 15px; margin-bottom: 20px; border-bottom: dotted 1px #E7E7E7;}
.ncm-order-condition dl dt, 
.ncm-order-condition dl dd { font: normal 16px/32px "microsoft yahei", Arial ; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-condition dl dt { margin-left: 30px;}
.ncm-order-condition dl dt i { font-size: 30px; font-weight: normal; vertical-align: middle; margin-right: 10px;}
.ncm-order-condition ul { margin-left: 40px;}
.ncm-order-condition li { display: block; margin-bottom: 10px;}
.ncm-order-condition li .ncbtn-mini { margin: 0 5px;}
.ncm-order-condition li time { font-family: Tahoma; color: #C63; margin: 0 5px;}
.ncm-order-info .mall-msg { font-size: 12px; font-weight: 600; color: #999; position: absolute; z-index: 1; bottom: 5px; right: 10px;}
.ncm-order-info .mall-msg a { font-weight: normal; color: #06C; margin-left: 4px;}
.ncm-order-info .mall-msg a:hover { text-decoration: none;}
.ncm-order-step { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px; position: relative; z-index: 1;}
.ncm-order-step dl { font-size: 12px; line-height: 20px; background: url(../images/member_pics.png) no-repeat -285px -130px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 215px; height: 36px; margin: 50px 0 60px -1px; position: relative; z-index: auto; *zoom: 1/*IE7*/;}
.ncm-order-step dl.step-first { background-position: -240px -130px; width: 36px; margin-left: 50px;}
.ncm-order-step dl.long { background-position: -115px -370px; width: 385px;}
.ncm-order-step dl dt { font-weight: 600; text-align: center; width: 70px; position: absolute; z-index: 1; top: -30px; right: -12px;}
.ncm-order-step dl.current dt { color: #FD6760;}
.ncm-order-step dl dd.bg { background: url(../images/member_pics.png) no-repeat -280px -170px; display: none; width: 220px; height: 36px; position: absolute; z-index: 1; top: 0; right: 0;}
.ncm-order-step dl.step-first dd.bg { background-position: -240px -170px; width: 36px;}
.ncm-order-step dl.long dd.bg { background-position: -110px -410px; width: 390px;}
.ncm-order-step dl dd.date { font: 12px/20px Tahoma, Arial; color: #999; text-align: center; display: none; width: 120px; position: absolute; z-index: 2; bottom: -40px; right: -42px;}
.ncm-order-step dl.current dd { display: block;}
/*积分兑换订单详情页面的特殊性*/
.ncm-order-condition .ncm-order-step { margin: -5px;}
.ncm-order-condition .ncm-order-step dl { border: none; padding: 0;}
.ncm-order-condition .ncm-order-step dl dt { font-size: 12px; line-height: 20px; margin: 0;}
.ncm-order-contnet { margin-top: 30px;}
.ncm-order-contnet .ncm-default-table { border: solid 1px #D8D8D8;}
.ncm-order-contnet tbody th,
.ncm-order-contnet tfoot th { background-color: #F3FAFE;}
.ncm-order-contnet tbody td.refund span { background-color: #69AA46; color: #FFF; margin-left: 4px; padding: 1px 2px;}
.ncm-order-contnet .order-deliver,
.ncm-order-contnet .daddress-info { margin: 5px 10px;}
.ncm-order-contnet .order-deliver span { margin-right: 30px;}
.ncm-order-contnet .order-deliver a { color: #0279B9; position: relative; z-index: 1;}
.ncm-order-contnet .order-deliver a:hover { color: #F33; text-decoration: none;}
.ncm-order-contnet .order-deliver a i { font-size: 10px; margin-left: 4px;}
.ncm-order-contnet .order-deliver a .more { line-height: 28px; background-color: #FBFBFB; display: none; width: 480px; padding: 10px; border: 1px solid #CCCCCC; position: absolute; z-index: 1; top: 20px; left: -200px; box-shadow: 2px 2px 0 rgba(153, 153, 153, 0.15);}
.ncm-order-contnet .order-deliver a .more .arrow { background: url("../images/member_pics.png") no-repeat scroll -140px 0 rgba(0, 0, 0, 0); width: 11px; height: 6px; position: absolute; z-index: 1; top: -6px; left: 220px;}
.ncm-order-contnet .order-deliver a:hover .more { color: #555; display: block;}
.ncm-order-contnet .daddress-info dt { color: #888; text-align: right; width: 28%; }
.ncm-order-contnet .daddress-info dd { color: #666; width: 72%; }
.ncm-order-contnet .daddress-info dd a .more { width: 280px; right: 0px; top: 25px;}
.ncm-order-contnet .daddress-info dd a .more .arrow { top: -6px; right: -5px;}
.ncm-order-contnet tfoot td { background-color: #F5F5F5;}
.ncm-order-contnet tfoot td dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; float: right; clear: both; padding: 2px;}
.ncm-order-contnet tfoot td dl dt,
.ncm-order-contnet tfoot td dl dd { font-size: 12px; line-height: 20px; vertical-align: bottom; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-order-contnet tfoot td dl dt { width: 100px; text-align: right;}
.ncm-order-contnet tfoot td dl dd { min-width: 120px; text-align: left;}
.ncm-order-contnet tfoot td .sum {font-weight: 600; color: #666; }
.ncm-order-contnet tfoot td .sum em { font: 20px/24px Verdana, Arial; color: #C00; vertical-align: bottom; margin: 0 4px;}
/* 会员设置-Tag标签 */
.user-tag-optional { background-color: #F9FAFC; min-height: 24px; padding:10px 10px 2px 10px; border: solid 1px #C4D5E0;}
.user-tag-optional span { line-height: 16px; color: #498CD0; background-color: #E8F2FF; display: inline-block; height: 16px; padding: 4px 6px; margin: 0 4px 8px 0; cursor: pointer;}
.user-tag-optional span:hover { color: #FFF; background-color: #498CD0;}
.user-tag-selected { border: dashed 1px #E7E7E7; min-height: 24px; padding:10px 10px 2px 10px; }
.user-tag-selected span { line-height: 16px; color: #555; background-color: #FEF6CE; display:inline-block; height: 16px; padding: 2px 4px; margin: 0 18px 8px 0; outline: 1px solid #EAD483; border: 1px solid #FFF;}
.user-tag-selected span:hover { margin: 0 2px 8px 0; cursor:default; }
.user-tag-selected span a { display: none; }
.user-tag-selected span:hover a { font-size: 0px; line-height: 0px; background: url(../images/member_pics.png) no-repeat scroll -390px -50px; vertical-align: middle; text-indent: 999%; display: inline-block; width: 12px; height: 12px; margin: auto 0 auto 4px; overflow: hidden; cursor: pointer;}
.user-tag-selected span:hover a:hover { background-position: -390px -65px;}
.user-tag-selected span.ep { line-height:22px; color: #CCC; background-color: #FFF; vertical-align: top; text-align: center; width: 72px; height: 22px; padding:0; margin: 0 4px 8px 0; outline: none; border: dashed 1px #CCC; }

/* 账户安全设置相关
-------------------------------------------*/
.ncm-security-user { background-color: #FFF; padding: 5px; margin-bottom: 30px;}
.ncm-security-user h3 { font: 16px/20px arial,"microsoft yahei"; color: #666; height: 20px; margin: 10px 0; }
.ncm-security-user .user-avatar { width: 80px; height: 80px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-top: 5px; *zoom: 1/*IE7*/;}
.ncm-security-user .user-avatar span { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 80px; height: 80px; overflow: hidden; }
.ncm-security-user .user-avatar span img { max-width: 80px; max-height: 80px; margin-top:expression(80-this.height/2); *margin-top:expression(40-this.height/2)/*IE6,7*/; }
.ncm-security-user .user-intro { vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-left: 20px; *zoom: 1/*IE7*/;}
.ncm-security-user .user-intro dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; height: 20px; margin-bottom: 3px;}
.ncm-security-user .user-intro dt,
.ncm-security-user .user-intro dd { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-security-user .user-intro dt { color: #999;}
.ncm-security-user .user-intro dd { color: #666;}
.ncm-security-user .user-intro dd span { color: #000;}
.ncm-security-user .user-intro dd span a { color: #F33; font-weight: 600; text-decoration: underline;}
.ncm-security-container { background-color: #FFF; border: solid 1px #E7E7E7;}
.ncm-security-container .title { color: #666; background-color: #F9F9F9; height: 20px; padding: 6px 10px; border-bottom: solid 1px #E7E7E7;}
.ncm-security-container .current { padding: 20px;}
.ncm-security-container .current strong { font: lighter 28px/32px arial,"microsoft yahei";}
.ncm-security-container .current span { color: #F63; vertical-align:middle; margin-left:10px;}
.ncm-security-container .low strong { color: #F30;}
.ncm-security-container dl { font-size: 0; word-spacing:-1em; padding: 30px 40px; border-top: solid 1px #E7E7E7;}
.ncm-security-container dt,
.ncm-security-container dd,
.ncm-security-container dl span { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 50px; *zoom: 1/*IE7*/;}
.ncm-security-container dt { width: 25%;}
.ncm-security-container dd { width: 75%;}
.ncm-security-container dt .icon { background: url(../images/member_pics.png) no-repeat; width: 50px; height: 50px; position: relative; z-index: 1;}
.ncm-security-container dt .icon i { background: url(../images/member_pics.png) no-repeat -330px -90px; width: 23px; height: 23px; position: absolute; z-index: 1; right: 0; bottom: 0; }
.ncm-security-container #password .icon { background-position: 0 -300px;}
.ncm-security-container #email .icon { background-position: -50px -300px;}
.ncm-security-container #mobile .icon { background-position: -100px -300px;}
.ncm-security-container #paypwd .icon { background-position: -150px -300px;}
.ncm-security-container .item { text-align: center; height: 50px; margin-left: 20px;}
.ncm-security-container .item h4 { font: 18px/30px arial,"microsoft yahei"; color: #666; }
.ncm-security-container .item h6 { font: 12px/30px arial,"microsoft yahei"; color: #999; }
.ncm-security-container .explain { width: 480px; }
.ncm-security-container .handle { margin-left: 80px;}
.ncm-security-container dl.no .icon i { display: none;}
.ncm-security-container dl.no .item h6 { color: #F60;}
.ncm-security-container dl.no .handle .bd { display: block;}
.ncm-security-container dl.no .handle .jc { display: none;}
.ncm-security-container dl.yes .icon i { display: block;}
.ncm-security-container dl.yes .item h6 { color: #52BEA6;}
.ncm-security-container dl.yes .handle .bd { display: none;}
.ncm-security-container dl.yes .handle .jc { display: block;}

/* 好友-查找添加好友 */
.ncm-friend-find {}
.ncm-friend-find .search-form { padding: 20px 100px; margin: 0; border-bottom: dotted 1px #D8D8D8;}
.ncm-friend-find .complex { display: none; margin-top: 10px;}
.ncm-recommend-tag {}
.ncm-recommend-tag dl {}
.ncm-recommend-tag dt { font: 14px/32px arial,"microsoft yahei"; color: #666; border-bottom: dotted 1px #D8D8D8; }
.ncm-recommend-tag dt i { margin-left: 10px; margin-right: 4px;}
.ncm-recommend-tag dd { min-height: 120px; margin-top: 10px; position: relative; z-index:1;}
.ncm-recommend-tag dd .picture { width: 120px; height: 120px; position: absolute; z-index: 1; top:0px; left:0px;}
.ncm-recommend-tag dd .arrow { background: url(../images/member_pics.png) no-repeat -360px 0; width: 11px; height: 21px; position: absolute; z-index:2; top: 20px; left: 120px;}
.ncm-recommend-tag dd .content { background-color: #EEE; width: 800px; height: 100px; padding: 9px; border: solid 1px #CCC; border-radius: 5px;  position: absolute; z-index: 1; top:0px; left:130px;}
.ncm-recommend-tag dd .content p { font-size: 14px; line-height: 20px; height: 20px; text-overflow: ellipsis; white-space: nowrap; width: 640px; }
.ncm-recommend-tag dd .content .friends { width: auto; height: 70px; padding: 5px 0;}
.ncm-recommend-tag dd .content .friends h5 { line-height: 20px; margin: 4px 0 6px 0; color: #777; }
.ncm-recommend-tag dd .content .friends h5 strong { color: #C30; font-weight: normal; padding-right: 4px; padding-left: 4px;}
.ncm-recommend-tag dd .content .friends p { font-size: 0; line-height: 0; background: url(../images/member_pics.png) scroll no-repeat;	text-indent: 999px; display: inline-block; width: 13px; height: 19px; margin: 10px 2px; overflow: hidden;}
.ncm-recommend-tag dd .content .friends .F-prev { background-position: -390px 0;}
.ncm-recommend-tag dd .content .friends .F-next { background-position: -410px 0;}
.ncm-recommend-tag dd .content .friends .F-prev:hover { background-position: -390px -20px;}
.ncm-recommend-tag dd .content .friends .F-next:hover { background-position: -410px -20px;}
.ncm-recommend-tag dd .content .friends .list { display: inline-block; width: 480px; height: 40px; position: relative; z-index: 2; overflow: hidden; }
.ncm-recommend-tag dd .content .friends .list ul { width: 960px; height: 40px; position: absolute; top:0; left: 0;}
.ncm-recommend-tag dd .content .friends .list ul li { background-color: #FFF; white-space: nowrap; display: block; width: 40px; height: 40px; float: left; margin-right: 8px;}
.ncm-recommend-tag dd .content .friends a.care  { line-height: 16px; color: #FFF; background: none repeat scroll 0 0 #46970C; text-decoration: none; display:inline-block; float:right; padding: 4px 16px; margin:7px; border: 1px solid #368200;}



/* 我的好友列表 */
.ncm-friend-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 30px 0; }
.ncm-friend-list li { font-size: 12px; line-height: 20px; background-color: #FAFAFA; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 33.3333%; height: 90px; border: solid 1px #E7E7E7; margin: -1px; position: relative; z-index: 1; *zoom: 1/*IE7*/;}
.ncm-friend-list li:hover { background-color: #FFF; border-color: #FD6760; z-index: 2; box-shadow: 0 0 6px rgba(204,204,204,0.5);}
.ncm-friend-list .avatar,
.ncm-friend-list .info,
.ncm-friend-list .follow { vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.ncm-friend-list .avatar { width: 60px; height: 60px; margin: 10px;}
.ncm-friend-list .avatar a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 60px; height: 60px; overflow: hidden;}
.ncm-friend-list .avatar img { max-width: 60px; max-height: 60px; margin-top: expression(60-this.height/2); *margin-top:expression(30-this.height/2)/*IE6,7*/; }
.ncm-friend-list .info { width: 155px; height: 60px; margin: 10px 0;}
.ncm-friend-list .info dt { height: 20px; margin-bottom: 4px;}
.ncm-friend-list .info dt a { font-size: 14px; color: #555; white-space: nowrap; text-overflow: ellipsis; display: inline-block; *display: inline/*IE7*/; max-width: 140px; height: 20px; overflow: hidden; *zoom: 1;}
.ncm-friend-list .info dt i { background: url(../images/member_pics.png) no-repeat; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 16px; height: 16px; margin-left: 8px;}
.ncm-friend-list .info dt i.male { background-position: -320px -40px;}
.ncm-friend-list .info dt i.female { background-position: -340px -40px;}
.ncm-friend-list .info dd { color: #999;}
.ncm-friend-list .info dd a { color: #FF966E; display: none;}
.ncm-friend-list li:hover .info dd a { display: block; }
.ncm-friend-list .follow { margin: 10px 0;}
.ncm-friend-list .follow p { color: #999; margin: 5px 0 15px 0;}
.ncm-friend-list .follow p i { background: url(../images/member_pics.png) no-repeat -365px -40px; vertical-align: middle; display: inline-block; width: 16px; height: 16px; margin-right: 4px;}
.ncm-friend-list .follow a {}
.ncm-friend-list li dl dd.area { text-overflow: ellipsis; color: #999; margin-bottom: 5px; white-space: nowrap; overflow: hidden;}
.ncm-friend-list li dl dd .checkitem { float:left; margin-top: 4px;}

/* 站内信发送 */
.ncm-message-send { font-size: 0; *word-spacing:-1px/*IE6、7*/; border: solid  #E7E7E7; border-width: 0 1px 1px;}
.ncm-message-send-form,
.ncm-message-send-friend { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.ncm-message-send-form { width: 70%; border-right: solid 1px #E7E7E7; padding-top: 20px;}
.ncm-message-send-friend { width: 30%; margin-left: -1px; margin-right: -1px; border-left: solid 1px #E7E7E7; }
.ncm-message-send-friend h3 { font-size: 14px; font-weight: 600; display: block; padding: 10px 0; margin: 0 10px; border-bottom: 1px solid #EEEEEE;}
.ncm-message-send-friend ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin: 5px 10px;}
.ncm-message-send-friend ul li { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 23%; padding: 1%; margin-bottom: 5px; *zoom: 1/*IE7*/;}
.ncm-message-send-friend ul li:hover { border: solid 1px #FD6760; background: #FF966E; margin: -1px;}
.ncm-message-send-friend ul li .avatar { width: 50px; height: 50px; margin: 5px auto;}
.ncm-message-send-friend ul li .avatar img { max-width: 50px; max-height: 50px;}
.ncm-message-send-friend ul li a { color: #777; }
.ncm-message-send-friend ul li a:hover { color: #FFF; text-decoration: none;}
.ncm-message-send-friend ul li p { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.ncm-message-send-friend .nomessage { display: block; text-align: center; padding: 100px 0;}
.ncm-message-send-friend .nomessage a { clear: both; margin: 10px auto;}
/*消息设定*/
.ncm-message-setting {}
.ncm-message-setting dl,
.ncm-message-setting ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncm-message-setting dt,
.ncm-message-setting dd,
.ncm-message-setting li { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}

.ncm-message-setting dl { border: solid 1px #E7E7E7; margin-top: -1px;}
.ncm-message-setting dt { font: 16px/20px arial,"microsoft yahei"; color: #999; background-color: #FAFAFA; width: 14%; padding: 4%; border-right: solid 1px #E7E7E7}
.ncm-message-setting dt span { width: 24px; height: 24px; text-align: center; display: inline-block; border: solid 2px #999; margin-right: 6px; border-radius: 14px;}
.ncm-message-setting dt i { line-height: 24px; font-size: 16px; color: #999; margin: 0; }
.ncm-message-setting dd { width: 69%;  padding: 20px 4% 0 4%; }
.ncm-message-setting ul {}
.ncm-message-setting li { width: 25%; margin-top: 10px;}



.clear { font-size: 0px; line-height: 0px; height: 0; margin: 0; padding: 0; float: none; clear: both; border: 0;}

#weibocharcount .counter { color:#999;}
#weibocharcount label.error { position: absolute; z-index: 1; bottom:20px; left:110px;}
#weibocharcount .warning { color: orange; margin:0; padding:0; border:none; background:none; width:auto; clear:none;}
#weibocharcount .exceeded { color: red;}



/*绑定登录*/
.ncm-bind { font-size: 0; *word-spacing:-1px/*IE6、7*/; margin-top: 30px;}
.ncm-bind .relieve,
.ncm-bind .revise { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 180px; *zoom: 1/*IE7*/;}
.ncm-bind .relieve { width: 39%; text-align: center; border-right: dashed 1px #E7E7E7;}
.ncm-bind .relieve .ico-qq,
.ncm-bind .relieve .ico-sina { background: url(../images/shareicon/bind_qq.png) no-repeat 0 0; display: inline-block; *display: inline; width: 80px; height: 80px; margin: 10px auto 0 auto; *zoom: 1;}
.ncm-bind .relieve .ico-sina { background: url(../images/shareicon/bind_sina.png) no-repeat 0 0; }
.ncm-bind .relieve .ico-wx { background: url(../images/shareicon/bind_wx.png) no-repeat 0 0; display: inline-block; *display: inline; width: 80px; height: 80px; margin: 10px auto 0 auto; *zoom: 1;}
.ncm-bind .revise { width: 50%; margin: 0 5%;}
.ncm-bind .revise dt { width: 25%;}
.ncm-bind .revise dd { width: 74%;}
.ncm-bind .qq { color: #06C;}
.ncm-bind .sina { color: #C30;}
/* 分享绑定设置 */
.bind-account-list { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 95%; margin: 30px auto auto; overflow: hidden;}
.bind-account-list li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin-bottom: 30px; width: 33.3333%; *zoom: 1/*IE7*/;}
.account-item { height: 80px; padding-left: 90px; position: relative;}
.account-item .website-icon { display: block; width: 80px; height: 80px; position: absolute; top: 0; left: 0;}
.account-item dl dt { color: #333; font-size: 14px; font-weight: 700;}
.account-item dl dd { color: #999;}
.account-item dl dd.operate { margin-top: 6px;}
.account-item dl dd em { color: #000; font-style: normal; margin-right: 10px;}