/**
 * 初始化HTML标签及常用类型
 * @kivenhan
 * www.shopwwi.com
 * Apr-01-2012
 **/

/* ===============
 * 重新定义Html元素
 * =============== */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { background: none repeat scroll 0 0 #FFF; color: #333333; font: 12px/1 "microsoft yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
input, select, textarea { font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a { outline: medium none;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { text-decoration: underline;}
i, cite, em { font-style: normal;}


html {min-height:101%; } 


/* Clearfix,避免因子元素浮动而导致的父元素高度缺失能问题 */
	.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;}
	.clearfix { display: inline-block;}
	html[xmlns] .clearfix { display: block;}
	*html .clearfix{height:1%;}
	*+html .clearfix{height:1%;}

time { color: #777;}
.noborder { border: 0!important; }


/* ==========================
 * 为旧版本浏览器格式化Html5元素
 * ========================== */
article, aside, dialog, footer, header, section, footer, nav, figure, menu { display:block; }

/*文字排版
******************************/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f20 { font-size:20px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t2 { text-indent:2em;}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}
.noborder {border-style:none; border-width: 0;}

/*定位 
******************************/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right; display:inline;}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
/*.hidden { visibility:hidden;*/}
.none { display:none;}
.clear { clear: both; height: 0; font-size: 1px; }

/*长度高度
******************************/
.w10 { width:10px;}
.w20 { width:20px;}
.w30 { width:30px;}
.w40 { width:40px !important;}
.w50 { width:50px !important;}
.w60 { width:60px !important;}
.w65 { width:65px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w90 { width:90px;}
.w96 {width: 96px;}
.w100 { width:100px;}
.w110 { width:110px;}
.w120 { width:120px;}
.w150 { width:150px;}
.w160 { width:160px;}
.w180 { width:180px;}
.w200 { width:200px !important;}
.w210 { width:210px !important;;}
.w230 { width:230px;}
.w240 { width:240px;}
.w250 { width:250px !important;}
.w270 { width:270px;}
.w300 { width:300px !important;}
.w340 { width:340px;}
.w380 { width:380px;}
.w400 { width:400px!important;}
.w500 { width:500px;}
.w530 { width:530px;}
.w600 { width:600px !important;}
.w700 { width:700px;}
.w780 { width: 780px;}
.w800 { width:800px;}
.w208 {width: 208px;}



.w { width:100%}
.h50 { height:50px !important;}
.h80 { height:80px;}
.h100 { height:100px;}
.h200 { height:200px;}
.h { height:100%}
.size30 { width: 30px; height: 30px;}
.size32 { width: 32px; height:32px;}
.size40 { width: 40px; height:40px;}
.size60 { width: 60px; height:60px;}
.size70 { width: 70px; height: 70px;}
.size72 { width: 72px; height: 72px;}
.size80 { width: 80px; height:80px;}
.size90 { width: 90px; height:90px;}
.size100 { width: 100px; height: 100px;}
.size110 { width: 110px; height: 110px;}
.size120 { widows: 120px; height: 120px;}
.size142-80 { width: 142px; height: 80px;}
.size160 { width: 160px; height: 160px;}
.size160-48 { width: 160px; height: 48px;}
.size150 { width: 150px; height: 150px; }
.size160 { width: 160px; height: 160px;}
.size184 { width: 184px; height: 114px; }
.size196 { width: 196px; height: 196px;}
.size210 { width: 210px; height: 210px;}
.size250 { width: 250px; height: 250px;}
.size310 { width: 310px; height:310px;}

/*边距
******************************/
.m10 { margin:10px;}
.m15 { margin:15px;}
.m30 { margin:30px;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt50 { margin-top:50px !important;}
.mt100 { margin-top:100px;}
.mb5 { margin-bottom:5px;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px;}
.mb20 { margin-bottom:20px;}
.mb30 { margin-bottom:30px;}
.mb50 { margin-bottom:50px;}
.mb100 { margin-bottom:100px;}
.ml5 { margin-left:5px;}
.ml10 { margin-left:10px;}
.ml15 { margin-left:15px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml50 { margin-left:50px;}
.ml100 { margin-left:100px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr15 { margin-right:15px;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px !important;}
.mr50 { margin-right:50px !important;}
.mr100 { margin-right:100px;}

/*边距
******************************/
.p10 { padding:10px;}
.p15 { padding:15px;}
.p30 { padding:30px;}
.pt5 { padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt30 { padding-top:30px;}
.pt50 { padding-top:50px;}
.pt100 { padding-top:100px;}
.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px;}
.pb30 { padding-bottom:30px;}
.pb50 { padding-bottom:50px;}
.pb100 { padding-bottom:100px;}
.pl5 { padding-left:5px;}
.pl10 { padding-left:10px;}
.pl15 { padding-left:15px;}
.pl20 { padding-left:20px;}
.pl30 { padding-left:30px;}
.pl50 { padding-left:50px;}
.pl100 { padding-left:100px;}
.pr5 { padding-right:5px;}
.pr10 { padding-right:10px;}
.pr15 { padding-right:15px;}
.pr20 { padding-right:20px;}
.pr30 { padding-right:30px;}
.pr50 { padding-right:50px;}
.pr100 { padding-right:100px;}

/*边距
******************************/
.color-red { color:red; }

/*div宽高局中
******************************/
	.thumb , .logo { display:table-cell; vertical-align:middle; text-align:center;}
	.thumb i , .logo i { *display:inline-block; *height:100%; *vertical-align:middle; }
	.thumb img , .logo img { *vertical-align:middle; }

#page { background-color: #F5F5F5; width: 100%; height: 29px; border-bottom: 1px solid #D8D8D8; }
.warp-all { width: 1000px; margin: 0 auto;}


/* 公用顶部区域
-------------------------------------- */
.public-top-layout { font-family: Arial, "宋体"; line-height: 20px; color: #777; background-color: #FAFAFA; border-bottom: solid 1px #F0F0F0;}
.public-top-layout .topbar { height: 30px;}
.public-top-layout .user-entry { width: 600px; height: 20px; float: left; padding: 5px 0;}
.public-top-layout .user-entry a { color: #333333}
.public-top-layout .quick-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: right; width: 400px; height: 30px; float: right;}
.public-top-layout .quick-menu a { color: #777 !important;}
.public-top-layout .quick-menu dl { text-align: left; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; width: 80px; height: 30px; position: relative; z-index: 999; *zoom:1/*IE6、7*/;}
.public-top-layout .quick-menu dl dt { font-size: 12px; line-height: 20px; height: 20px; padding: 5px 0; position: absolute; z-index: 2; top: 0px; left: 12px;}
.public-top-layout .quick-menu dl dt a:hover { text-decoration: none; color: #F30;}
.public-top-layout .quick-menu dl dt i { background: url(../images/top_bg.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 6px; height: 3px; margin-left: 6px;-webkit-transition: .2s ease-in; -moz-transition: -webkit-transform .2s ease-in; -o-transition: -webkit-transform .2s ease-in; transition: .2s ease-in;}
.public-top-layout .quick-menu dl.hover dt i { FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.public-top-layout .quick-menu dl dd { background-color: #FFF; display: none; width: 78px; border: solid 1px #F0F0F0; position: absolute; z-index: 1; top: 0; left: 0;}
.public-top-layout .quick-menu dl.hover dd { display: block;}
.public-top-layout .quick-menu dl dd ul { width: 78px; margin: 30px 0 0 0; }
.public-top-layout .quick-menu dl dd ul li a { font-size: 12px; line-height: 24px; display: block; clear: both; padding: 2px 0 2px 11px;}
.public-top-layout .quick-menu dl dd ul li a:hover { text-decoration: none; background-color: #F7F7F7;}



.warning { color: #C00; background-color: #FFC; width: 98%; clear: both; padding: 6px; margin: 6px auto; border: 1px dashed #F90;}	
.warning label { clear: both; line-height: 20px;}

#footer { line-height: 20px; color: #aaa; text-align: center; display: block; width: 100%; clear: both; margin: 12px auto 0px auto; padding-bottom: 10px; border-top: 1px solid #E9ECEF; overflow: hidden;}
#footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
#footer .vol { font-family: Verdana, Geneva, sans-serif; font-weight: 600; font-style: oblique; font-size: 12px;}
#footer .vol .b { color: #00F;}
#footer .vol .o { color: #F60;}
#footer .vol em { font-family: Georgia, Arial;  font-weight: 600; font-style: italic; color: #000; margin-left: 2px;}

/* tip提示 */
.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}

/* 调试模式 */
.trace { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color: #000; line-height: 18px; background:#FFF299; padding:8px; margin:8px; border:1px dashed silver;}
.trace fieldset { margin:8px;}
.trace fieldset legend { font-size: 16px; color: #000; font-weight:bold;}
.trace fieldset div { overflow:auto; max-height: 300px; _height: 300px; text-align:left;}

/* dialog2 */
.z {
	float: left;
}
.y {
	float: right;
}
.xg1, .xg1 a {
	color: #999 !important;
}
.xg1 .xi2 {
	color: #369 !important;
}
.xg2 {
	color: #666;
}
.notice {
	clear: both;
	margin: 5px 0;
	padding: 3px 5px 3px 20px;
	background: url(../images/dialog/notice.gif) no-repeat 2px 6px;
}
#ajaxwaitid {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 0 5px;
	background: #D00;
	color: #FFF;
}
.showmenu {
	padding-right: 16px;
	background: url(../images/dialog/arrwd.gif) no-repeat 100% 50%;
	cursor: pointer;
	white-space: nowrap;
}
.pn {
	vertical-align: middle;
	overflow: hidden;
	margin-right: 3px;
	padding: 0;
	height: 23px;
	border: 1px solid #999;
	cursor: pointer;
	-moz-box-shadow: 0 1px 0 #E5E5E5;
	-webkit-box-shadow: 0 1px 0 #E5E5E5;
	box-shadow: 0 1px 0 #E5E5E5;
}
.pn:active {
	background-position: 0 -23px;
}
.ie6 .pn {
	overflow-x: visible;
	width: 0;
}
.pn span, .pn strong {
	padding: 0 10px;
	line-height: 21px;
}
.pn strong {
	font-weight: 700;
}
.ie7 .pn em, .ie7 .pn span, .ie7 .pn strong {
	padding: 0 5px;
	line-height: 18px;
}
.pnc, a.pnc {
	border-color: #235994;
	background-color: #06C;
	background-position: 0 -48px;
	color: #FFF !important;
}
.pnc:active {
	background-position: 0 -71px;
}
.altw {
	width: 350px;
}
.altw .fltc {
	margin-bottom: 0;
	padding: 8px;
}
.alert_right, .alert_error, .alert_info {
	padding: 6px 0 6px 58px;
	min-height: 40px;
	height: auto !important;
	height: 40px;
	line-height: 160%;
	background: url(../images/dialog/right.gif) no-repeat 8px 8px;
	font-size: 14px;
}
.alert_error {
	background-image: url(../images/dialog/error.gif);
}
.alert_error a {
	font-weight: 700;
	color: #369;
}
.alert_info {
	background-image: url(../images/dialog/info.gif);
}
.alert_btnleft {
	margin-top: 8px;
}
.alert_btn {
	margin-top: 20px;
	text-align: center;
}
.alert_act {
	margin-top: 20px;
	padding-left: 58px;
}
.t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r {
	overflow: hidden;
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.t_l, .t_r, .b_l, .b_r {
	width: 4px;
	height: 4px;
}
.t_c, .b_c {
	height: 4px;
}
.m_l, .m_r {
	width: 4px;
}
.t_l {
	-moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}
.t_r {
	-moz-border-radius: 0 4px 0 0;
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}
.b_l {
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}
.b_r {
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
	border-radius: 0 0 4px 0;
}
.m_c {
	background: #FFF; border: 1px solid #7B7B7B;;
}
.m_c .tb {
	margin: 0 0 10px;
	padding: 0 10px;
}
.m_c .c {
	padding: 10px 10px 0 10px;
}
.m_c .o {
	background-color: #F9F9F9;
	border-top: 1px solid #EAEAEA;
	margin-top: 12px;
	padding: 12px;
	text-align: right; overflow:hidden; zoom:1; font-size:12px;
}
.m_c .el {
	width: 420px;
}
.m_c .el li {
	padding: 0;
	border: none;
}
.flb {
	height: 31px;
}
.flb_title {
	background-color: #F2F2F2;
	border-bottom: 1px solid #EAEAEA;
	color: #666666;
	display: block;
	font-weight: bold;
	line-height: 14px;
	padding: 8px 10px
}
.flb em a {
	text-decoration: none;
}
.flb .needverify {
	float: left;
	margin-left: 8px;
	padding-left: 13px;
	width: 45px;
	height: 21px;
	line-height: 21px;
	background: url(../images/dialog/re_unsolved.gif) no-repeat 0 0;
	font-size: 12px;
	color: #999;
	font-weight: 400;
}
.flb .onerror, .flb .onright {
	padding-left: 20px;
	height: auto;
	line-height: 140%;
	white-space: nowrap;
	font-size: 12px;
	font-weight: 400;
}
.flb .onerror {
	background: url(../images/dialog/check_error.gif) no-repeat 0 50%;
}
.flb .onright {
	background: url(../images/dialog/check_right.gif) no-repeat 0 50%;
	color: #666;
}
.flb span {
	float: right;
	color: #999;
}
.flb span a, .flb strong {
	float: left;
	text-decoration: none;
	/*margin-left:8px;*/
	font-weight: 400;
	color: #333;
}
.flb span a:hover {
	color: #999;
}
.flbc {
	background: url(../images/dialog/dialog_close_button.gif) repeat scroll left top transparent;
	cursor: pointer;
	display: block;
	height: 14px;
	line-height: 14px;
	position: absolute;
	right: 12px;
	top: 12px;
	width: 14px;
	text-indent: 1000px;
	overflow: hidden;
}
.flbc:hover {
	background: url(../images/dialog/dialog_close_button.gif) repeat scroll left bottom transparent;
}
.floatwrap {
	overflow: auto;
	overflow-x: hidden;
	margin-bottom: 10px;
	height: 280px;
}
.f_c {
}
.f_c li {
	list-style: none;
}
.f_c hr.l {
	margin: 0;
}
.f_c a {
	color: #369;
}
.f_c .list {
	margin: 0 auto 10px;
	width: 570px;
	border-top: 3px solid #CDCDCD;
}
.f_c .list th, .f_c .list td {
	padding: 5px 2px;
	height: auto;
	border-bottom: 1px dashed #CDCDCD;
}
.f_c .list .btns th, .f_c .list .btns td {
	border-bottom: none;
}
.f_c .th th, .f_c .th td {
	padding: 10px 0;
}
.f_c .list th {
	background: none;
}
.nfl {
	height: auto !important;
	height: 320px;
	min-height: 320px;
}
.nfl .f_c {
	margin: 60px auto;
	padding: 20px;
	width: 580px;
	border: 3px solid #F2F2F2;
	background: #FFF;
}
.nfl .loginform {
	height: auto;
}
.nfl .clause {
	width: auto;
	height: auto;
}
.fwin { border-radius: 4px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.75);}
.fwin .rfm, .nfl .f_c .rfm {
	width: 500px;
}
.fwin .rfm th, .fwin .rfm td, .nfl .f_c .rfm th, .nfl .f_c .rfm td {
	padding: 6px 2px;
}
.fwin .loginb button {
	margin-left: 11.3em;
}

/* 信用度 */
.seller-heart, .seller-diamond, .seller-crown, .buyer-heart, .buyer-diamond, .buyer-crown { height: 16px; margin: 2px 0; display:inline-block;}
.seller-heart, .seller-diamond, .seller-crown, .buyer-heart, .buyer-diamond, .buyer-crown { *display:inline;}
.seller-heart { background: url(../images/heart-seller.gif) repeat-x 0 0;}
.seller-diamond { background: url(../images/diamond-seller.gif) repeat-x 0 0;}
.seller-crown { background: url(../images/crown_seller.gif) repeat-x 0 0;}
.buyer-heart { background: url(../images/heart-buyer.gif) repeat-x 0 0;}
.buyer-diamond { background: url(../images/diamond-buyer.gif) repeat-x 0 0;}
.buyer-crown { background: url(../images/crown_buyer.gif) repeat-x 0 0;}
.level-1 { width: 16px;}
.level-2 { width: 32px;}
.level-3 { width: 48px;}
.level-4 { width: 64px;}
.level-5 { width: 80px;}

.lazy { background: url(../images/img_background.gif) repeat;}
