html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	line-height: 1.6;
	font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
	color: #222;
	font-size: 14px
}
input, textarea, button, a {
	outline: 0
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
	margin: 0
}
fieldset, legend, textarea, input {
	padding: 0
}
textarea, input {
	color: #666
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
color:#a3a3a3
}
textarea:-moz-placeholder, input:-moz-placeholder {
color:#a3a3a3
}
textarea::-moz-placeholder, input::-moz-placeholder {
color:#a3a3a3
}
textarea:-ms-input-placeholder, input:-ms-input-placeholder {
color:#a3a3a3
}
textarea {
	resize: none;
	overflow-y: scroll
}
ul, ol {
	padding-left: 0;
	list-style-type: none
}
a img, fieldset {
	border: 0
}
a {
	color: #2e7dc6;
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block
}
audio, canvas, video {
	display: inline-block
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden] {
display:none
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 0
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
*font-family:"Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}
button[disabled], html input[disabled] {
	cursor: default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="search"] {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow: auto;
	vertical-align: top
}
.with1 {
	width: 100%
}
.with2 {
	width: 50%
}
.with3 {
	width: 33.33%
}
.with4 {
	width: 25%
}
.with5 {
	width: 20%
}
.with6 {
	width: 16.66%
}
.with7 {
	width: 14.28%
}
.with8 {
	width: 12.5%
}
.no_extra.with1 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with1:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with2 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with2:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with3 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with3:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with4 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with4:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with5 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with5:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with6 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with6:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with7 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with7:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.no_extra.with8 {
	display: table-cell;
	float: none;
	width: auto;
*display:block;
*zoom:1
}
.no_extra.with8:after {
	content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	visibility: hidden;
	clear: both;
	height: 0!important;
	display: block;
	line-height: 0
}
.page {
	width: 100%;
	margin-left: auto;
	margin-right: auto
}
.body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto
}
.col_main {
	overflow: hidden;
*zoom:1
}

.foot {
	padding: 24px 0;
	color: #dadada;
	text-align: center;
	background-color: #727171
}

.container_box {
	min-height: 650px;
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 #e3e3e3;
	-moz-box-shadow: 0 2px 2px 0 #e3e3e3;
	-webkit-box-shadow: 0 2px 2px 0 #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
.container_hd{
	border-bottom: 1px solid #d3d3d3;
	font-size: 14px;
	color: #545454;
	box-shadow: inset 0 1px 0 0 #fcfcfc;
	-moz-box-shadow: inset 0 1px 0 0 #fcfcfc;
	-webkit-box-shadow: inset 0 1px 0 0 #fcfcfc;
	background-color: #e9e9e9;
	background-image: -moz-linear-gradient(top, #f3f3f3 0, #e3e3e3 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e3e3e3));
	background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e3e3e3 100%);
	background-image: -o-linear-gradient(top, #f3f3f3 0, #e3e3e3 100%);
	background-image: linear-gradient(to bottom, #f3f3f3 0, #e3e3e3 100%);
	line-height: 36px;
	height: 36px
}
.container_hd .info, .main_hd .info {
	margin-top: -36px;
	margin-right: 20px;
	font-size: 14px;
	text-align: right
}
.container_hd h2, .main_hd h2 {
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	padding-left: 20px;
	padding-right: 20px
}
.container_hd .extra_info, .main_hd .extra_info {
	margin-top: -36px;
	padding-right: 20px;
	text-align: right
}
.container_hd a, .main_hd a {
	color: #2e7dc6
}
.inner_container_box {
	overflow: hidden;
*zoom:1;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	box-shadow: 0 1px 1px 0 #e3e3e3;
	-moz-box-shadow: 0 1px 1px 0 #e3e3e3;
	-webkit-box-shadow: 0 1px 1px 0 #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
.inner_container_box .bd {
	min-height: 530px
}
.inner_container_box.split {
	border-width: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0
}
.inner_container_box.split .bd {
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
.col_side {
	width: 190px;
	background-color: #f3f3f3
}
.col_side, .inner_side {
	margin-bottom: -999em;
	padding-bottom: 999em;
	min-height: 1px
}
.inner_main {
	overflow: hidden;
*zoom:1
}
.inner_side {
	width: 185px
}
.col_side_primary {
	width: 190px
}
.col_main_primary {
	overflow: hidden;
*zoom:1
}












.side_r .col_side {
	float: right;
	border-left: 1px solid #d3d3d3
}
.side_r .col_side_primary {
	float: right;
	border-left: 1px solid #d3d3d3;
	margin-left: -1px
}
.side_r .col_main_primary {
	border-right: 1px solid #d3d3d3
}
.side_r.inner_container_box .inner_side {
	float: right;
	border-left: 1px solid #d3d3d3
}
.side_r.inner_container_box.split .inner_side {
	margin-left: 14px;
	border-left-width: 0
}


.account_info {
	position: relative;
	margin-right: 5px
}
.account_info .avatar {
	position: absolute;
	top: 0;
	left: -50px;
	width: 38px;
	height: 38px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #f0f0f0
}
.account_info .type {
	position: absolute;
	top: 2px;
	left: 0
}
.account_info .nickname {
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	margin-top: 18px
}
.account_inbox {
	position: relative;
	font-size: 11px;
	z-index: 1;
	margin-top: 1px
}
.account_inbox.on .account_inbox_switch {
	position: relative;
	z-index: 1;
	border-color: #adadad;
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	background-color: #eee
}
.account_inbox_switch {
	display: block;
	width: 45px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	border: 1px solid transparent;
	border-bottom-width: 0
}
.account_inbox_switch:hover {
	text-decoration: none
}
.account_inbox_switch i.icon_common {
	cursor: pointer;
	vertical-align: top;
	margin-top: 16px
}
.account_inbox_switch i.inbox {
*margin-top:6px
}
.account_inbox_switch i.notices {
*margin-top:6px;
	margin-left: -12px
}
.account_message_box {
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: -1px;
	padding: .5em 0;
	border: 1px solid #adadad;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	background-color: #eee
}
.account_message_box ul {
	width: 190px
}
.account_message_box li {
	min-height: 32px
}
.account_message_link {
	position: relative;
	display: block;
	line-height: 32px;
	padding-left: 1em
}
.account_message_link strong {
	display: block;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 4em;
	font-weight: 400;
	font-style: normal;
	cursor: pointer
}
.account_message_link .read_more {
	position: absolute;
	right: 1em;
	top: 0;
	color: #2e7dc6;
	cursor: pointer
}
.account_message_link:hover {
	background-color: #eee;
	text-decoration: none
}
.btn.btn_inbox_closed {
	display: block;
	margin: .5em 1em 0;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f0f0f0 100%);
	border-color: #c3c3c3;
	color: #000;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f0f0f0 100%);
	border-color: #c3c3c3;
	color: #000;
	height: 24px;
	line-height: 24px;
*line-height:22px;
	width: auto;
	padding-left: 0;
	padding-right: 0;
	font-size: 11px
}
.btn.btn_inbox_closed:hover {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f8f8f8 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}
.btn.btn_inbox_closed:hover {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f8f8f8 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}
.btn.btn_inbox_closed button, .btn.btn_inbox_closed input[type="button"], .btn.btn_inbox_closed input[type="submit"], .btn.btn_inbox_closed input[type="reset"] {
	color: #000
}
.btn.btn_inbox_closed:hover {
	color: #222
}

.account_faq {
	padding-top: 18px
}
.account_faq a {
	display: inline-block
}

.icon_menu.manage {
	background: url("../images/base_z.png") 0 0 no-repeat
}
.icon_menu.function {
	background: url("../images/base_z.png") 0 -33px no-repeat
}
.icon_menu.statistics {
	background: url("../images/base_z.png") 0 -66px no-repeat
}
.icon_menu.service {
	background: url("../images/base_z.png") 0 -99px no-repeat
}

.closed.selected .icon_menu.manage {
	background: url("../images/base_z.png") 0 -165px no-repeat
}
.closed.selected .icon_menu.function {
	background: url("../images/base_z.png") 0 -198px no-repeat
}
.closed.selected .icon_menu.statistics {
	background: url("../images/base_z.png") 0 -231px no-repeat
}
.closed.selected .icon_menu.service {
	background: url("../images/base_z.png") 0 -264px no-repeat
}
.closed.selected .icon_menu.setting {
	background: url("../images/base_z.png") 0 -297px no-repeat
}
.icon_menu_switch {
	background: url("../images/base_z.png") 0 -330px no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block
}
.closed .icon_menu_switch {
	background: url("../images/base_z.png") 0 -356px no-repeat
}
.closed.selected .icon_menu_switch {
	background: url("../images/base_z.png") 0 -382px no-repeat
}

.menu.closed .menu_item {
	display: none
}

.menu_title .new {
	margin-top: 3px;
	margin-left: 3px
}
.menu_item {
	background-color: #f3f3f3;
	line-height: 31px
}
.menu_item a {
	display: block;
	padding: 0 36px 0 50px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #222
}
.menu_item a:hover {
	text-decoration: none
}

.icon_menu_switch {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -9px
}

.menu.extra {
	border-bottom: 1px solid #d1d1d1;
	box-shadow: 0 1px 0 0 #fdfdfd;
	-moz-box-shadow: 0 1px 0 0 #fdfdfd;
	-webkit-box-shadow: 0 1px 0 0 #fdfdfd
}

.menu.closed {
	padding-bottom: 0
}
.menu.closed .menu_title {
	margin-bottom: 0;
	border-bottom-width: 0
}
.menu.closed.selected {
	margin-bottom: -1px
}
.menu.closed.selected .menu_title {
	background-color: #6bb05f;
	background-image: -moz-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79bd6e), to(#62a855));
	background-image: -webkit-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -o-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: linear-gradient(to bottom, #79bd6e 0, #62a855 100%);
	border-bottom: 1px solid #549249;
	color: #fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}
.menu.closed.selected .menu_title a {
	color: #fff
}
.menu_item:hover {
	background-color: #b5daaf
}
.menu_item.selected {
	background-color: #6bb05f;
	background-image: -moz-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79bd6e), to(#62a855));
	background-image: -webkit-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -o-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: linear-gradient(to bottom, #79bd6e 0, #62a855 100%);
	border-bottom: 1px solid #549249;
	color: #fff
}
.menu_item.selected a {
	color: #fff
}
.menu_primary_item {
	line-height: 32px
}
.menu_primary_item:hover {
	background-color: #d6d6d6
}
.menu_primary_item.selected {
	background-color: #6bb05f;
	background-image: -moz-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79bd6e), to(#62a855));
	background-image: -webkit-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -o-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: linear-gradient(to bottom, #79bd6e 0, #62a855 100%)
}
.menu_primary_item.selected .menu_primary_link {
	color: #fff
}
.menu_primary_link {
	display: block;
	color: #222
}
.menu_primary_link:hover {
	text-decoration: none
}
.menu_primary_link strong {
	display: block;
	cursor: pointer;
	margin: 0 14px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 400;
	font-style: normal
}
.inner_menu_box.sorting .inner_menu_item {
	background-color: #fff
}
.inner_menu_box.sorting .menu_opr {
	display: block
}
.inner_menu_box.blue .inner_menu.dragging {
	border: 2px solid #dae8f8
}
.inner_menu_box.blue .inner_menu.dragging dt.inner_menu_item {
	background-color: #dae8f8
}
.inner_menu_box.blue .inner_menu_item:hover, .inner_menu_box.blue .inner_menu_item.selected {
	background-color: #dae8f8
}
.inner_menu_box.blue.sorting .inner_menu_item {
	background-color: #fff
}
.inner_menu_box.blue.sorting .inner_menu_item.dragging {
	background-color: #dae8f8
}
.inner_menu_box.with_switch .icon_dot {
	position: absolute;
	top: 50%;
	left: 30px;
	margin-top: -16px
}
.inner_menu_box.with_switch .icon_inner_menu_switch {
	position: absolute;
	left: 14px;
	top: 50%;
	margin-top: -2px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: dashed;
	border-color: transparent;
	border-bottom-width: 0;
	border-top-color: #aaa;
	border-top-style: solid
}
.inner_menu_box.with_switch dt .inner_menu_link {
	padding-left: 30px
}
.inner_menu_box.with_switch dd .inner_menu_link {
	padding-left: 42px
}
.inner_menu {
	border-top: 1px solid #ccc
}
.inner_menu:first-child {
	border-top-width: 0
}
.inner_menu .menu_opr {
	display: none;
	position: absolute;
	top: 0;
	right: 1em
}
.inner_menu .menu_opr a {
	display: inline-block;
	margin-left: .5em;
	margin-top: -0.2em
}
.inner_menu .menu_opr a.no_extra {
	margin-left: 0
}
.inner_menu_item {
	position: relative;
	line-height: 32px
}
.inner_menu_item:hover, .inner_menu_item.selected {
	background-color: #d6d6d6
}
.inner_menu_item:hover .menu_opr, .inner_menu_item.selected .menu_opr {
	display: block
}
.inner_menu_item:hover a, .inner_menu_item.selected a {
	text-decoration: none
}
.inner_menu_link {
	display: block;
	color: #222;
	padding-left: 1em;
	text-decoration: none
}
dd .inner_menu_link {
	padding-left: 2em
}
.inner_menu_link strong {
	display: inline-block;
	margin-top: -2px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 80px;
	font-weight: 400;
	font-style: normal;
	vertical-align: middle;
	cursor: pointer
}
.drag_placeholder {
	margin: 8px;
	height: 80px;
	border: 1px dotted #ccc
}
.sub_drag_placeholder {
	margin: 8px;
	height: 32px;
	border: 1px dotted #ccc
}
.links_item {
	display: inline-block;
*display:inline;
*zoom:1;
	padding: 0 1em;
	line-height: 1em;
	border-left: 1px solid #797979
}
.links_item.no_extra {
	border-left-width: 0
}
.links_item a {
	display: block;
	color: #797979
}
.copyright {
	display: inline-block;
*display:inline;
*zoom:1
}
.ft.links {
	display: inline-block;
*display:inline;
*zoom:1;
	margin-right: 2.5em
}
.ft .links_item {
	border-left-color: #dadada
}
.ft .links_item a {
	color: #dadada
}
.faq {
	width: 190px;
	margin-top: -50px;
	text-align: center;
	font-size: 0
}
.faq .links_item {
	padding: 0 .5em;
	font-size: 12px
}
.faq .links_item a:hover {
	color: #2e7dc6
}
.faq .tail {
	text-align: center;
	color: #797979;
	font-size: 12px;
	line-height: 30px
}
.page_pay_qrcode .main_bd {
	padding: 50px 80px
}
.page_appmsg_edit .main_bd {
	padding: 30px 20px 0
}/*.page_index .col_main{padding:16px}*/
.page_tpl_edit .main_bd {
	padding: 50px
}
.page_user .main_bd {
	padding: 14px
}
.page_media_list .main_bd {
	padding-bottom: 40px
}
.page_mass_list .main_bd {
	padding-bottom: 40px
}
.title_tab_navs {
*zoom:1;
	text-align: center;
	line-height: 36px;
	border-bottom: 1px solid #d3d3d3;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	background-color: #e9e9e9;
	background-image: -moz-linear-gradient(top, #f3f3f3 0, #e3e3e3 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e3e3e3));
	background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e3e3e3 100%);
	background-image: -o-linear-gradient(top, #f3f3f3 0, #e3e3e3 100%);
	background-image: linear-gradient(to bottom, #f3f3f3 0, #e3e3e3 100%);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5)
}
.title_tab_navs:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.title_tab_nav {
	float: left;
	font-size: 14px;
	position: relative
}
.title_tab_nav a {
	display: block;
	text-decoration: none;
	color: #222;
	outline: 0;
*height:1%;
	padding: 0 20px;
	border-right: 1px solid #d3d3d3;
	box-shadow: 1px 0 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 0 0 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 0 0 0 rgba(255,255,255,0.5)
}
.title_tab_nav.selected {
	top: -1px;
	border-top: 3px solid #70b213
}
.title_tab_nav.selected a {
	position: relative;
	line-height: 35px;
	margin-bottom: -2px;
	background-color: #fff
}
.title_tab_nav.no_extra a {
	border-right-width: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}
.icon_dot {
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	vertical-align: middle;
	font-size: 8px;
	color: #aaa
}
.icon12_del {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	font-weight: 400;
	font-style: normal;
	cursor: pointer;
	font-size: 12px;
	color: #b3b3b3
}
.icon12_del:hover {
	color: #545454
}
.icon_card_selected {
	background: url("../images/base_z.png") 0 -408px no-repeat;
	width: 75px;
	height: 60px;
	vertical-align: middle;
	display: inline-block
}
.icon_common.notices {
	background: url("../images/base_z.png") 0 -478px no-repeat;
	width: 8px;
	height: 8px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon_common.inbox {
	background: url("../images/base_z.png") 0 -496px no-repeat;
	width: 23px;
	height: 23px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon_common.new {
	margin-top: 3px;
	margin-left: 3px;
	background: url("../images/base_z.png") 0 -529px no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon_common.beta {
	margin-top: -5px;
	margin-left: 3px;
	background: url("../images/base_z.png") 0 -548px no-repeat;
	width: 25px;
	height: 12px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon_page_error {
	background: url("../images/base_z.png") 0 -570px no-repeat;
	width: 141px;
	height: 115px;
	vertical-align: middle;
	display: inline-block
}
.icon_verify {
	width: 82px;
	height: 30px;
	vertical-align: middle;
	display: inline-block
}
.icon_verify.waiting {
	background: url("../images/base_z.png") 0 -695px no-repeat
}
.icon_verify.fail {
	background: url("../images/base_z.png") 0 -735px no-repeat
}
.icon_verify_checked {
	background: url("../images/base_z.png") 0 -775px no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block
}
.icon_noie6 {
	background: url("../images/base_z.png") 0 -805px no-repeat;
	width: 369px;
	height: 390px;
	vertical-align: middle;
	display: inline-block
}
.icon_subscribe_label {
	background: url("../images/base_z.png") 0 -1205px no-repeat;
	width: 38px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon_service_label {
	background: url("../images/base_z.png") 0 -1231px no-repeat;
	width: 38px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon32_loading {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon32_loading.dark {
	background: transparent url(/mpres/htmledition/images/icon/common/icon32_loading_dark.gif) no-repeat 0 0
}
.icon32_loading.light {
	background: transparent url(/mpres/htmledition/images/icon/common/icon32_loading_light.gif) no-repeat 0 0
}
.icon14_common {
	width: 14px;
	height: 14px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon14_common.add_gray {
	background: url("../images/base_z.png") 0 -1257px no-repeat
}
.icon14_common.add_gray:hover {
	background: url("../images/base_z.png") 0 -1281px no-repeat
}
.icon14_common.edit_gray {
	background: url("../images/base_z.png") 0 -1305px no-repeat
}
.icon14_common.edit_gray:hover {
	background: url("../images/base_z.png") 0 -1329px no-repeat
}
.icon14_common.del_gray {
	background: url("../images/base_z.png") 0 -1353px no-repeat
}
.icon14_common.del_gray:hover {
	background: url("../images/base_z.png") 0 -1377px no-repeat
}
.icon14_common.sort_gray {
	background: url("../images/base_z.png") 0 -1401px no-repeat
}
.icon14_common.sort_gray:hover {
	background: url("../images/base_z.png") 0 -1425px no-repeat
}
.icon14_common.add_blue {
	background: url("../images/base_z.png") 0 -1449px no-repeat
}
.icon14_common.switch_gray {
	background: url("../images/base_z.png") 0 -1473px no-repeat
}
.icon14_common.switch_gray:hover {
	background: url("../images/base_z.png") 0 -1497px no-repeat
}
a:hover .icon14_common.switch_gray {
	background: url("../images/base_z.png") 0 -1521px no-repeat
}
.icon16_common {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon16_common.close {
	background: url("../images/base_z.png") 0 -1545px no-repeat
}
.icon16_common.close:hover {
	background: url("../images/base_z.png") 0 -1571px no-repeat
}
.icon16_common.edit_gray {
	background: url("../images/base_z.png") 0 -1597px no-repeat
}
.icon16_common.del_gray {
	background: url("../images/base_z.png") 0 -1623px no-repeat
}
.icon16_common.enter_gray {
	background: url("../images/base_z.png") 0 -1649px no-repeat
}
.icon16_common.enter_gray.frm_input_append {
	margin-top: -8px
}
.icon16_common.star_gray {
	background: url("../images/base_z.png") 0 -1675px no-repeat
}
.icon16_common.star_gray:hover {
	background: url("../images/base_z.png") 0 -1700px no-repeat
}
.icon16_common.star_blue {
	background: url("../images/base_z.png") 0 -1726px no-repeat
}
.icon16_common.star_orange {
	background: url("../images/base_z.png") 0 -1752px no-repeat
}
.icon16_common.star_orange:hover {
	background: url("../images/base_z.png") 0 -1778px no-repeat
}
.icon16_common.woman_orange {
	background: url("../images/base_z.png") 0 -1804px no-repeat
}
.icon16_common.man_blue {
	background: url("../images/base_z.png") 0 -1830px no-repeat
}
.icon16_common.reply_blue {
	background: url("../images/base_z.png") 0 -1856px no-repeat
}
.icon16_common.reply_blue:hover {
	background: url("../images/base_z.png") 0 -1882px no-repeat
}
.icon16_common.reply_gray {
	background: transparent url(/mpres/htmledition/images/icon/common/icon16_reply_gray.png?__sprite) no-repeat
}
.icon16_common.reply_gray:hover {
	background: transparent url(/mpres/htmledition/images/icon/common/icon16_reply_gray_hl.png?__sprite) no-repeat
}
.icon16_common.search_gray {
	background: url("../images/base_z.png") 0 -1908px no-repeat
}
.icon16_common.save_gray {
	background: url("../images/base_z.png") 0 -1934px no-repeat
}
.icon16_common.save_gray:hover {
	background: url("../images/base_z.png") 0 -1960px no-repeat
}
.icon18_common {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon18_common.error {
	background: url("../images/base_z.png") 0 -1986px no-repeat
}
.icon18_common.add_blue {
	background: url("../images/base_z.png") 0 -2014px no-repeat
}
.selected .icon18_common.add_blue {
	background: url("../images/base_z.png") 0 -2042px no-repeat
}
.icon18_common.del_blue {
	background: url("../images/base_z.png") 0 -2070px no-repeat
}
.icon18_common.del_blue:hover {
	background: url("../images/base_z.png") 0 -2098px no-repeat
}
.icon18_common.del_gray {
	background: url("../images/base_z.png") 0 -2126px no-repeat
}
.icon18_common.del_gray:hover {
	background: url("../images/base_z.png") 0 -2154px no-repeat
}
a:hover .icon18_common.del_gray {
	background: url("../images/base_z.png") 0 -2182px no-repeat
}
.icon18_common.download_blue {
	background: url("../images/base_z.png") 0 -2210px no-repeat
}
.icon18_common.download_blue:hover {
	background: url("../images/base_z.png") 0 -2238px no-repeat
}
.icon18_common.upload_gray {
	background: url("../images/base_z.png") 0 -2266px no-repeat
}
.icon18_common.upload_gray:hover {
	background: url("../images/base_z.png") 0 -2294px no-repeat
}
.icon18_common.download_gray {
	background: url("../images/base_z.png") 0 -2322px no-repeat
}
.icon18_common.download_gray:hover {
	background: url("../images/base_z.png") 0 -2350px no-repeat
}
.icon18_common.download_gray_v1 {
	background: url("../images/base_z.png") 0 -2378px no-repeat
}
.icon18_common.download_gray_v1:hover {
	background: url("../images/base_z.png") 0 -2406px no-repeat
}
.icon18_common.edit_blue {
	background: url("../images/base_z.png") 0 -2434px no-repeat
}
.icon18_common.edit_blue:hover {
	background: url("../images/base_z.png") 0 -2462px no-repeat
}
.selected .icon18_common.edit_blue {
	background: url("../images/base_z.png") 0 -2490px no-repeat
}
.icon18_common.edit_gray {
	background: url("../images/base_z.png") 0 -2518px no-repeat
}
.icon18_common.edit_gray:hover {
	background: url("../images/base_z.png") 0 -2546px no-repeat
}
a:hover .icon18_common.edit_gray {
	background: url("../images/base_z.png") 0 -2574px no-repeat
}
.icon18_common.save_blue {
	background: url("../images/base_z.png") 0 -2602px no-repeat
}
.icon18_common.save_blue:hover {
	background: url("../images/base_z.png") 0 -2630px no-repeat
}
.icon20_common {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon20_common.reply_gray {
	background: url("../images/base_z.png") 0 -2658px no-repeat
}
.icon20_common.reply_gray:hover {
	background: url("../images/base_z.png") 0 -2688px no-repeat
}
.icon20_common.speaker {
	background: transparent url(/mpres/htmledition/images/icon/common/icon20_speaker.png?__sprite) no-repeat
}
.icon21_common {
	width: 21px;
	height: 21px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon21_common.error {
	background: url("../images/base_z.png") 0 -2718px no-repeat
}
.icon21_common.success {
	background: url("../images/base_z.png") 0 -2749px no-repeat
}
.icon21_common.waiting {
	background: url("../images/base_z.png") 0 -2780px no-repeat
}
.icon22_common {
	width: 22px;
	height: 22px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon22_common.checked {
	background: url("../images/base_z.png") 0 -2811px no-repeat
}
.icon22_common.error {
	background: url("../images/base_z.png") 0 -2843px no-repeat
}
.icon22_common.success {
	background: url("../images/base_z.png") 0 -2875px no-repeat
}
.icon22_common.fail {
	background: url("../images/base_z.png") 0 -2907px no-repeat
}
.icon24_common {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon24_common.add_gray {
	background: url("../images/base_z.png") 0 -2939px no-repeat
}
.icon42_common {
	width: 42px;
	height: 42px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon42_common.add_gray {
	background: url("../images/base_z.png") 0 -2973px no-repeat
}
.icon28_common {
	width: 28px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
.icon28_common.upload_blue {
	background: url("../images/base_z.png") 0 -3025px no-repeat
}
.tips_box {
	padding: 6px 15px;
	background-color: #dbe9fb;
	border: 1px solid #b1c7e2;
	color: #666;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center
}
.tips_box_tl {
	padding: 6px 15px;
	background-color: #dbe9fb;
	border: 1px solid #b1c7e2;
	color: #666;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: left
}
.disabled_box {
	padding: .4em .8em;
	font-size: 14px;
	border: 1px solid #b3b3b3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #eee;
	word-wrap: break-word;
	word-break: break-all
}
.notices_box {
	overflow: hidden;
	line-height: 40px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #f2f2f2;
	border: 1px solid #d0d1d3
}
.msg_box {
	display: none;
	line-height: 36px;
	text-align: center
}
.msg_box .inner {
	background-color: #d6e5f5
}
.msg_box a {
	display: block;
	color: #222
}
.vm_box {
	display: inline-block;
	height: 100%;
	vertical-align: middle
}
.empty_tips {
	padding: 100px 0;
	text-align: center;
	font-size: 14px;
	color: #a3a3a3
}
.news_box.inset {
	border: 1px solid #d3d3d3;
	background-color: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.05);
	word-wrap: break-word;
	word-break: break-all;
	height: 500px;
	overflow-y: auto
}
.news_box.inset .inner {
	padding-left: 50px;
	padding-right: 50px
}
.news_box .inner {
	padding: 40px 80px
}
.news_box h3 {
	text-align: center;
	font-size: 22px
}
.news_box h4 {
	padding-top: 1em;
	font-weight: 700;
	font-size: 16px
}
.news_box h5 {
	padding-top: 1em;
	font-weight: 700;
	font-size: 16px
}
.news_box h6 {
	padding-top: 1em;
	font-weight: 700;
	font-size: 14px
}
.news_box li, .news_box p {
	padding-top: 1em;
	font-size: 14px
}
.news_box strong {
	font-weight: 400;
	font-style: normal
}
.news_box .em_text {
	font-weight: 700
}
.news_box .media {
	text-align: center;
	padding-bottom: 2em
}
.news_box .media img {
	max-width: 100%
}
.news_box .sign {
	padding-top: 4em;
	text-align: right
}
.news_box .sign.strong {
	font-weight: 700;
	font-size: 16px
}
.news_box .no_extra {
	padding-top: 0
}
button.btn, input[type="button"].btn, input[type="submit"].btn, input[type="reset"].btn {
	height: 32px;
	line-height: 28px
}
.btn button, .btn input[type="button"], .btn input[type="submit"], .btn input[type="reset"] {
	display: block;
	height: 100%;
	background-color: transparent;
	border: 0;
	outline: 0;
	overflow: visible;
	padding: 0 36px
}
.btn.btn_input {
	padding: 0
}
.btn.btn_input.btn_vcode {
	padding: 0
}
.btn.btn_input.btn_vcode button, .btn.btn_input.btn_vcode input {
	padding: 0 12px
}
.btn.btn_vcode {
	padding: 0 12px;
	margin-left: 3px
}

.btn.btn_mini {
	height: 23px;
	line-height: 23px;
*line-height:21px;
	padding: 0 8px
}
.btn.btn_small {
	height: 26px;
	line-height: 26px;
*line-height:24px;
	padding: 0 10px
}
.btn.btn_large {
	height: 38px;
	line-height: 38px;
*line-height:36px;
	padding: 0 70px
}
.btn.btn_p20 {
	padding: 0 20px
}
.btn.btn_p30 {
	padding: 0 30px
}
.btn.btn_w125 {
	width: 125px;
	padding: 0
}
.btn.btn_w150 {
	width: 150px;
	padding: 0
}
.btn.btn_w220 {
	width: 220px;
	padding: 0
}
.btn_primary {
	background-color: #56a447;
	background-image: -moz-linear-gradient(top, #60b452 0, #56a447 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60b452), to(#56a447));
	background-image: -webkit-linear-gradient(top, #60b452 0, #56a447 100%);
	background-image: -o-linear-gradient(top, #60b452 0, #56a447 100%);
	background-image: linear-gradient(to bottom, #60b452 0, #56a447 100%);
	border-color: #3d810c;
	color: #fff
}
.btn_primary:hover {
	background-color: #53a046;
	background-image: -moz-linear-gradient(top, #5aab4d 0, #4f9841 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5aab4d), to(#4f9841));
	background-image: -webkit-linear-gradient(top, #5aab4d 0, #4f9841 100%);
	background-image: -o-linear-gradient(top, #5aab4d 0, #4f9841 100%);
	background-image: linear-gradient(to bottom, #5aab4d 0, #4f9841 100%);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3)
}
.btn_primary button, .btn_primary input[type="button"], .btn_primary input[type="submit"], .btn_primary input[type="reset"] {
	color: #fff
}
.btn_default {
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f0f0f0 100%);
	border-color: #c3c3c3;
	color: #000
}
.btn_default:hover {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f8f8f8 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}
.btn_default button, .btn_default input[type="button"], .btn_default input[type="submit"], .btn_default input[type="reset"] {
	color: #000
}
.btn_disabled {
	cursor: default;
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -o-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: linear-gradient(to bottom, #e1e1e1 0, #e1e1e1 100%);
	border-color: #ccc;
	color: #aeaeae
}
.btn_disabled:hover {
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -o-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: linear-gradient(to bottom, #e1e1e1 0, #e1e1e1 100%);
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}
.btn_disabled button, .btn_disabled input[type="button"], .btn_disabled input[type="submit"], .btn_disabled input[type="reset"] {
	color: #aeaeae;
	cursor: default
}
.btn_loading {
	cursor: default;
	background-color: #e1e1e1;
	border-color: #ccc;
	color: #aeaeae;
	cursor: default;
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -o-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: linear-gradient(to bottom, #e1e1e1 0, #e1e1e1 100%);
	border-color: #ccc;
	color: #aeaeae;
	position: relative;
	padding-left: 42px;
	padding-right: 30px
}
.btn_loading:hover {
	background-color: #e1e1e1;
	background-image: -moz-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: -o-linear-gradient(top, #e1e1e1 0, #e1e1e1 100%);
	background-image: linear-gradient(to bottom, #e1e1e1 0, #e1e1e1 100%);
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}
.btn_loading button, .btn_loading input[type="button"], .btn_loading input[type="submit"], .btn_loading input[type="reset"] {
	color: #aeaeae;
	cursor: default
}
.btn_loading button {
	position: relative;
	padding-left: 42px;
	padding-right: 30px
}
.btn_loading i {
	position: absolute;
	top: 50%;
	left: 16px;
	margin-top: -8px;
	background: transparent url(/mpres/htmledition/images/icon/common/icon16_loading_light.gif) no-repeat 0 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block
}
.tool_bar {
*zoom:1;
	margin: 40px 20px;
	padding: 25px 0 50px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
	box-shadow: inset 0 1px 0 #fbfbfb;
	-moz-box-shadow: inset 0 1px 0 #fbfbfb;
	-webkit-box-shadow: inset 0 1px 0 #fbfbfb
}
.tool_bar:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.tool_bar .btn {
	margin-left: 1em;
	margin-right: 1em
}
.title_bar {
*zoom:1;
	padding: 0 20px;
	background-color: #ececec;
	background-image: -moz-linear-gradient(top, #f4f4f4 0, #e6e6e6 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #f4f4f4 0, #e6e6e6 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 0, #e6e6e6 100%);
	background-image: linear-gradient(to bottom, #f4f4f4 0, #e6e6e6 100%);
	border-bottom: 1px solid #c6c6c6;
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	line-height: 40px
}
.title_bar:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.title_bar h3 {
	font-size: 14px;
	font-weight: 400;
	font-style: normal
}
.global_title_bar {
*zoom:1;
	background-color: #f0f0f0;
	background-image: -moz-linear-gradient(top, #f7f7f7 0, #ececec 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f7f7f7 0, #ececec 100%);
	background-image: -o-linear-gradient(top, #f7f7f7 0, #ececec 100%);
	background-image: linear-gradient(to bottom, #f7f7f7 0, #ececec 100%);
	box-shadow: 0 2px 4px #d0d0d0;
	-moz-box-shadow: 0 2px 4px #d0d0d0;
	-webkit-box-shadow: 0 2px 4px #d0d0d0;
	font-size: 16px;
	border-bottom: 1px solid #c0c0c0
}
.global_title_bar:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.global_title_bar .info {
	float: left
}
.global_title_bar .opr {
	float: right
}
.sub_title_bar {
*zoom:1;
	line-height: 38px;
	padding: 0 20px
}
.sub_title_bar:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.sub_title_bar .info {
	float: left
}
.sub_title_bar .opr {
	float: right
}
.sub_title_bar h3 {
	font-weight: 400;
	font-style: normal;
	font-size: 14px
}
.sub_title_bar h4 {
	float: left;
	font-weight: 400;
	font-style: normal;
	font-size: 14px
}
.sub_title_bar.default {
	background-color: #e1e1e1;
	border-bottom: 1px solid #c4c4c4
}
.sub_title_bar.light {
	background-color: #f3f3f3;
	border-bottom: 1px solid #cfcfcf
}
.sub_title_bar.white {
	background-color: #fff;
	border-bottom: 1px solid #cfcfcf;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08)
}
.sub_title_bar.in_dialog {
	background-color: #f3f3f3;
	border-bottom: 1px solid #c3c3c3;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1)
}
.sub_title_bar.dark {
	background-color: #dfdfdf;
	background-image: -moz-linear-gradient(top, #dfdfdf 0, #dfdfdf 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfdfdf), to(#dfdfdf));
	background-image: -webkit-linear-gradient(top, #dfdfdf 0, #dfdfdf 100%);
	background-image: -o-linear-gradient(top, #dfdfdf 0, #dfdfdf 100%);
	background-image: linear-gradient(to bottom, #dfdfdf 0, #dfdfdf 100%);
	border-bottom: 1px solid #bebebe;
	box-shadow: inset 0 1px 0 0 #ebebeb, 0 1px 2px #ddd;
	-moz-box-shadow: inset 0 1px 0 0 #ebebeb, 0 1px 2px #ddd;
	-webkit-box-shadow: inset 0 1px 0 0 #ebebeb, 0 1px 2px #ddd
}
.sub_title_bar.global {
	padding: 0;
	font-size: 16px
}
.sub_title_bar.no_extra {
	background: 0;
	border-bottom-width: 0;
	line-height: normal;
	padding: 0
}
.parent_title_bar {
*zoom:1;
	line-height: 35px;
	border-bottom: 2px solid #d3d3d3
}
.parent_title_bar:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.parent_title_bar h3 {
	font-size: 16px;
	font-weight: 400;
	font-style: normal
}
.tool_area {
*zoom:1;
	padding: 0 20px
}
.tool_area:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.page_tips {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 3
}
.page_tips .inner {
	display: inline-block;
*display:inline;
*zoom:1;
	min-width: 250px;
	padding: 5px 30px;
	border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	color: #fff
}
.page_tips.success .inner {
	background-color: #6bb05e;
	border: 1px solid #549249;
	border-top-width: 0
}
.page_tips.error .inner {
	background-color: #eaa000;
	border: 1px solid #b98710;
	border-top-width: 0
}
.pop_closed {
	background: url("../images/base_z.png") 0 -3063px no-repeat
}
.pop_closed:hover {
	background: url("../images/base_z.png") 0 -3089px no-repeat
}
.dialog_wrp {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 720px;
	z-index: 3
}
.dialog {
	overflow: hidden;
	background-color: #f3f3f3;
	border: 1px solid #222;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
.dialog .frm_label {
	float: none;
	display: block;
	width: auto;
	font-size: 16px;
	margin-bottom: 1em
}
.dialog .frm_tips, .dialog .frm_msg {
	width: auto
}
.dialog .frm_controls {
	padding-left: 0
}
.dialog_hd {
	position: relative;
	padding: 0 20px;
	line-height: 38px;
	height: 38px;
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(top, #f2f2f2 0, #e0e0e0 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e0e0e0));
	background-image: -webkit-linear-gradient(top, #f2f2f2 0, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #f2f2f2 0, #e0e0e0 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0, #e0e0e0 100%);
	border-bottom: 1px solid #c2c2c2
}
.dialog_hd h3 {
	color: #222
}
.dialog_hd .pop_closed {
	position: absolute;
	top: 14px;
	right: 20px;
	width: 16px;
	height: 16px;
	line-height: 999em;
	overflow: hidden
}
.dialog_bd {
	padding: 55px 45px
}
.simple .dialog_bd {
	padding: 90px 0 110px;
	text-align: center
}
.dialog_ft {
	margin: 0 20px;
	padding: 25px 0 50px;
	text-align: center;
	border-top: 1px solid #c8c8c8;
	box-shadow: inset 0 1px 0 #fbfbfb;
	-moz-box-shadow: inset 0 1px 0 #fbfbfb;
	-webkit-box-shadow: inset 0 1px 0 #fbfbfb
}
.dialog_ft .btn {
	margin-left: 1em;
	margin-right: 1em
}
.simple_dialog_content {
	display: inline-block;
*display:inline;
*zoom:1;
	text-align: left;
	width: 400px
}
.simple_dialog_content .frm_input_box {
	display: block;
	width: auto
}
.frm_input_box {
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	width: 300px;
	font-size: 14px;
	padding: 0 .8em;
	border: 1px solid #b3b3b3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #fff
}
.frm_input_box.search {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px
}
.frm_input_box.zone {
	width: 90px
}
.frm_input_box.phone {
	width: 180px
}
.frm_textarea_box {
	display: inline-block;
	width: 300px;
	padding: .4em .8em;
	font-size: 14px;
	border: 1px solid #b3b3b3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #fff
}
.disabled.frm_input_box, .disabled.frm_textarea_box {
	background-color: #eee
}
.disabled .frm_input_box, .disabled .frm_textarea_box {
	background-color: #eee
}
.focus.frm_input_box, .focus.frm_textarea_box {
	border-color: #4a9bdf;
	box-shadow: 0 0 5px #aedcfa;
	-moz-box-shadow: 0 0 5px #aedcfa;
	-webkit-box-shadow: 0 0 5px #aedcfa
}
.icon_radio {
	background: url("../images/base_z.png") 0 -3115px no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-top: -2px;
*margin-top:0
}
.icon_radio.selected, .selected .icon_radio {
	background: url("../images/base_z.png") 0 -3141px no-repeat
}
.icon_checkbox {
	background: url("../images/base_z.png") 0 -3167px no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	margin-top: -2px;
*margin-top:0
}
.icon_checkbox.selected, .selected .icon_checkbox {
	background: url("../images/base_z.png") 0 -3193px no-repeat
}
.frm_tab {
	overflow: hidden;
*zoom:1;
	padding-bottom: 20px
}
.frm_tab_navs {
*zoom:1
}
.frm_tab_navs:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.frm_tab_nav {
	float: left;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f0f0f0 100%);
	border-color: #c3c3c3;
	color: #000;
	background-color: #f1f1f1;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f0f0f0 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f0f0f0 100%);
	border-color: #c3c3c3;
	color: #000;
	height: 30px;
	line-height: 30px;
*line-height:28px;
	width: auto;
	padding-left: 36px;
	padding-right: 36px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-right: -1px
}
.frm_tab_nav:hover {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f8f8f8 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}
.frm_tab_nav:hover {
	background-color: #f8f8f8;
	background-image: -moz-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f8f8f8));
	background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0, #f8f8f8 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0, #f8f8f8 100%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1)
}
.frm_tab_nav button, .frm_tab_nav input[type="button"], .frm_tab_nav input[type="submit"], .frm_tab_nav input[type="reset"] {
	color: #000
}
.frm_tab_nav:hover {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}
.frm_tab_nav.selected {
	background: 0;
	background-color: #888;
	border-color: #7b7b7b;
	box-shadow: inset 0 3px 8px #555;
	-moz-box-shadow: inset 0 3px 8px #555;
	-webkit-box-shadow: inset 0 3px 8px #555;
	color: #fff
}
.frm_tab_panel {
	padding: 10px 0
}
.frm_tab_split {
	position: relative;
	margin-top: 20px;
	border-bottom: 1px solid #d3d3d3;
	box-shadow: 0 1px 0 0 #fff;
	-moz-box-shadow: 0 1px 0 0 #fff;
	-webkit-box-shadow: 0 1px 0 0 #fff
}
.frm_tab_split .arrow_stop {
	position: relative
}
.frm_tab_split .arrow {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 12px;
	border-style: dashed;
	border-color: transparent;
	border-top-width: 0;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid
}
.frm_tab_split .arrow_out {
	top: -12px;
	border-bottom-color: #d3d3d3
}
.frm_tab_split .arrow_in {
	top: -10px;
	border-bottom-color: #fff
}
.frm_tab_split .arrow_extra {
	top: -11px;
	border-bottom-color: #fff
}
.frm_tab_tips {
	padding-top: 8px;
	color: #a3a3a3
}
.form_wrp.simple {
	text-align: center
}
.form_wrp.simple .form {
	display: inline-block;
*display:inline;
*zoom:1;
	text-align: left
}
.form.tips_inline .frm_tips {
	display: inline-block
}
.frm_fieldset {
	padding-top: 25px
}
.frm_legend {
	display: block;
	margin-bottom: 25px\9;
	font-size: 16px;
	width: 100%;
	border-bottom: 1px solid #c8c8c8;
	box-shadow: 0 1px 0 #fbfbfb;
	-moz-box-shadow: 0 1px 0 #fbfbfb;
	-webkit-box-shadow: 0 1px 0 #fbfbfb;
	padding-bottom: 5px
}
.frm_desc {
	color: #222;
	padding-bottom: 12px
}
.frm_tips {
	width: 300px;
	padding-top: 4px;
	color: #a3a3a3
}
.frm_msg {
	display: none;
	overflow: hidden;
*zoom:1;
	width: 300px
}
.frm_msg i {
	float: left;
	font-weight: 400;
	font-style: normal;
	margin-right: 5px
}
.frm_msg.success {
	color: #7fba4f
}
.frm_msg.fail {
	color: #b11516
}
.frm_control_group {
*zoom:1;
	padding-bottom: 25px
}
.frm_control_group:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both
}
.frm_control_group.show_value {
	padding-bottom: 15px
}
.frm_control_group.show_value .frm_input_box {
	padding: 0;
	border-width: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: 0
}
.frm_control_group.no_cut .frm_controls {
	overflow: visible
}
.frm_label {
	float: left;
	width: 5em;
	margin-top: .3em;
	margin-right: 1em
}
.frm_label.no_extra {
	margin-top: 2px
}
.frm_controls {
	overflow: hidden;
*zoom:1
}
.frm_input, .frm_textarea {
	width: 100%;
	background-color: transparent;
	border: 0;
	outline: 0
}
.frm_input {
	height: 22px;
	margin: 4px 0
}
.frm_textarea {
	height: 100px
}
.frm_radio, .frm_checkbox {
	position: absolute;
	left: -999em
}
.frm_radio_label, .frm_checkbox_label {
	display: inline-block;
	cursor: pointer
}
.icon_radio {
	margin-right: 4px
}
.icon_checkbox {
	margin-right: 4px
}
.appended.frm_input_box {
	padding-right: 30px
}
.appended .frm_input_append {
	position: absolute;
	top: 50%;
	right: .8em
}
.appended .frm_input_append.search_gray {
	margin-top: -8px
}
.pre_appended.frm_input_box {
	padding-left: 30px
}
.pre_appended .frm_input_append {
	position: absolute;
	top: 50%;
	left: .8em
}
.pre_appended .frm_input_append.search_gray {
	margin-top: -8px
}
.icon_msg {
	width: 56px;
	height: 56px;
	vertical-align: middle;
	display: inline-block
}
.icon_msg.success {
	background: url("../images/base_z.png") 0 -3219px no-repeat
}
.icon_msg.warn {
	background: url("../images/base_z.png") 0 -3285px no-repeat
}
.icon_msg.error {
	background: url("../images/base_z.png") 0 -3351px no-repeat
}
.icon_msg.mail {
	background: url("../images/base_z.png") 0 -3417px no-repeat
}
.icon_msg.waiting {
	background: url("../images/base_z.png") 0 -3483px no-repeat
}
.page_msg .inner {
	padding: 12px 70px;
	background-color: #e0eaf6;
	border: 1px solid #b1c4da;
	box-shadow: inset 0 1px 0 #edf3fa, 0 1px 1px #ccc;
	-moz-box-shadow: inset 0 1px 0 #edf3fa, 0 1px 1px #ccc;
	-webkit-box-shadow: inset 0 1px 0 #edf3fa, 0 1px 1px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}
.page_msg .msg_icon_wrapper {
	float: left;
	margin-right: 10px;
	font-size: 0
}
.page_msg .msg_content {
	overflow: hidden;
*zoom:1;
	padding-top: 5px
}
.page_msg h4 {
	font-size: 16px;
	font-weight: 700
}
.page_msg p {
	font-size: 14px;
	color: #7b7b7b
}
.page_msg .spacing {
	padding: .5em 0 2em
}
.page_msg.default .inner {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none
}
.page_msg.simple {
	text-align: center
}
.page_msg.simple .inner {
	display: inline-block;
*display:inline;
*zoom:1;
	text-align: left
}
.page_msg.single_line .msg_content {
	padding-top: 15px
}
.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 75);
	-moz-opacity: .75;
	-khtml-opacity: .75;
	opacity: .75;
	background-color: #000;
	z-index: 2
}
.table_wrp.list {
	padding: 20px
}
.table_wrp.list .table {
	border-top-width: 0
}
.table_wrp.list .table_cell {
	vertical-align: top;
	padding-left: 20px;
	padding-right: 20px
}
.table_wrp.list .tbody .table_cell {
	padding-top: 15px;
	padding-bottom: 15px
}
.table_wrp.with_border .table {
	border: 1px solid #d3d3d3
}
.table {
	width: 100%;
	font-size: 14px;
	background-color: #fff;
	text-align: center;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #e6e6e6
}
.table_cell {
	padding: 0;
	font-weight: 400;
	font-style: normal
}
.thead {
	background-color: #f0f0f0
}
.thead .table_cell {
	line-height: 32px;
	border-left: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3
}
.thead .table_cell:first-child {
	border-left-width: 0
}
.tbody tr:hover, .tbody tr.even {
	background-color: #f3f3f3
}
.tbody tr.empty_item:hover {
	background: 0
}
.tbody tr:first-child .table_cell {
	border-top-width: 0
}
.tbody .table_cell {
	padding: 1em 0;
	border-top: 1px solid #e6e6e6
}
body {
	min-width: 1000px;
	background-image: url(/mpres/htmledition/images/bg/bg_body.jpg)
}
