/* CSS Document */
body {
	font: 12px/1 "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", Tahoma, Arial, STHeiti, sans-serif;
	/*background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-clip: border-box;
	background-size: cover;
	background-origin: padding-box;
	width: 100%;*/
	padding: 0;
	margin: 0;
}
ul, li, form {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
em, cite, i {
	font-style: normal;
}
.right {
	float: right;
}
.FL {
	float: left;
}
.FR {
	float: right;
}
.nc_main {
	margin: 0 auto;
	width: 920px;
}
.nc_header {
	width: 920px;
	height: 95px;
	margin-top: 20px;
	float: left;
}
.nc_header .logo {
	width: 320px;
	height: 80px;
	float: left;
}
.nc_header .notice {
	font-family: 'Microsoft YaHei';
	float: right;
	width: 500px;
	padding: 5px;
	font-size: 18px;
	font-weight: 700;
	line-height: 35px;
	border-radius: 5px;
}
.nc_header .notice strong {
	font-family: 'Arial Black', 'Microsoft YaHei';
	font-size: 20px;
}
.nc_header .notice i {
	background: url(../images/icon.png) no-repeat 5px center;
	width: 35px;
	height: 38px;
	display: block;
	float: left;
}
.nc_wall {
	width: 885px;
	height: 535px;
	float: left;
	overflow: hidden;
	padding: 15px;
	border-radius: 5px;
}
.nc_wall .nc_list {
	height: 535px;
	float: left;
	overflow: hidden;
}
.nc_wall .nc_list li {
	float: left;
	display: block;
	float: left;
	margin: 2px 0 6px;
	width: 885px;
	border-radius: 5px;
}
.list_inner {
	float: left;
	min-height: 150px;
	padding-bottom: 20px;
}
.list_inner .pic {
	float: left;
	padding: 25px 14px 0 13px;
}
.list_inner .pic img {
	background: #E8E8E8;
	padding: 5px;
	width: 110px;
	height: 110px;
	display: block;
}
.list_inner .content {
	color: #FFFFFF;
	float: left;
	width: 720px;
	text-align: justify;
}
.f34 {
	font-size: 33px;
	line-height: 1.6em;
	padding-top: 10px;
}
.list_inner .content span {
	font-weight: b;
}
.list_inner .content span {
	font-weight: bolder;
}
.nc_vote {
 filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#59FFFFFF', endColorstr='#59FFFFFF');
	background: rgba(255,255,255,0.8);
	min-height: 500px;
	width: 968px;
	float: left;
	overflow: hidden;
	border: 1px solid #dadada;
	padding: 15px;
}
.nc_wall h2 {
	text-align: center;
}
.footer {
	float: left;
	margin-top: 15px;
}
.footer li {
	float: left;
	margin-right: 10px;
}
.footer a {
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.color {
	position: absolute;
	z-index: 2;
	top: 30px;
	display: block;
	float: left;
	width: 350px;
}
.color em {
	border: 3px solid #FFFFFF;
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 10px;
	float: left;
	vertical-align: middle;
	margin-right: 5px;
}
.color em.on {
	border: 3px solid #BCB8B9;
}
.color em.c1 {
	background: #F85700;
}
.color em.c2 {
	background: #000000;
}
.color em.c3 {
	background: #D92D3B;
}
.color em.c4 {
	background: #D7B452;
}
.color em.c5 {
	background: #71CEF0;
}
.color em.c6 {
	background: #00624A;
}
.color em.c7 {
	background: #0C5362;
}
.color em.c8 {
	background: #FF9EDE;
}
.color em.c9 {
	background: #770C7D;
}
.color em.c10 {
	background: #4D3728;
}
/*排行榜*/
.rank_list, .lottery_wall {
	color: #FFF;
}
.rank_list h2, .lottery_wall h2 {
	font-size: 32px;
	text-align: center;
	margin: 10px 0 30px;
}
.rank_list li {
	float: left;
	font-size: 32px;
	height: 50px;
	margin: 0 35px 15px 10px;
	overflow: hidden;
	width: 360px;
	line-height: 50px;
}
.rank_list li img {
	float: left;
	margin-right: 15px;
	width: 50px;
	height: 50px;
	background: #09F;
}
.rank_list li em {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
}
.rank_list li span {
	color: #FFFFFF;
	float: right;
}
/*抽奖*/
.lottery_wall .lottery-l, .lottery_wall .lottery-r {
	width: 410px;
	margin-left: 20px;
	font-size: 25px;
}
.lottery_wall {
	font-size: 20px;
}
.lottery-l .info-tit, .lottery-r .info-tit {
	font-weight: bolder;
	line-height: 40px;
	margin-bottom: 20px;
}
.lottery-l ul {
	border: 1px solid #FFF;
}
.lottery-l ul li {
	line-height: 40px;
	padding: 5px 10px;
}
.lottery-l ul li:hover {
	cursor: pointer;
}
.lottery-btn {
	margin-top: 20px;
}
.btn-regist {
	width: 410px;
	height: 35px;
	color: #FFF;
	text-align: center;
	border: none;
	font-size: 22px;
	border-radius: 5px;
	font-weight: bolder;
	font-family: 'Microsoft YaHei';
	cursor: pointer;
}
.lottery-r ul li img {
	background: #0099FF;
	float: left;
	height: 50px;
	margin-right: 15px;
	width: 50px;
}
.lottery-r ul li {
	line-height: 50px;
	height: 50px;
	margin-bottom: 15px;
}
/*摇奖*/
.lottery_prize {
	background: url(../images/bg/prize.png) no-repeat left center;
	width: 753px;
	height: 279px;
	margin: 80px auto 0;
}
.lottery_prize strong {
	color: #FFC;
	font-size: 30px;
	line-height: 450px;
	width: 700px;
	height: 279px;
	text-align: center;
	display: block;
}
.lottery_prize img {
	background: #0099FF;
	float: left;
	height: 50px;
	margin-right: 15px;
	width: 50px;
}
