body {
	line-height: 24px;
	font-family: "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
	color: #222;
	font-size: 14px;
	background: url(../images/login_bg.gif) repeat;
}
login_bg ul, ol {
	padding-left: 0;
	list-style-type: none
}
a img, fieldset {
	border: 0
}
a {
	color: #2e7dc6;
	text-decoration: none
}
a:hover {
	text-decoration: underline
}
ul, ol {
    list-style-type: none;
}
/*长度*/
.w10 {
	width: 10px;
}
.w20 {
	width: 20px;
}
.w30 {
	width: 30px;
}
.w40 {
	width: 40px !important;
}
.w50 {
	width: 50px !important;
}
.w60 {
	width: 60px !important;
}
.w65 {
	width: 65px;
}
.w70 {
	width: 70px;
}
.w80 {
	width: 80px;
}
.w90 {
	width: 90px;
}
.w96 {
	width: 96px;
}
.w100 {
	width: 100px;
}
.w110 {
	width: 110px;
}
.w120 {
	width: 120px;
}
.w150 {
	width: 150px;
}
.w160 {
	width: 160px;
}
.w180 {
	width: 180px;
}
.w200 {
	width: 200px !important;
}
.w210 {
	width: 210px !important;
}
.w230 {
	width: 230px;
}
.w240 {
	width: 240px;
}
.w250 {
	width: 250px !important;
}
.w270 {
	width: 270px;
}
.w300 {
	width: 300px !important;
}
.w340 {
	width: 340px;
}
.w380 {
	width: 380px;
}
.w400 {
	width: 400px!important;
}
.w450 {
	width: 450px!important;
}
.w500 {
	width: 500px;
}
.w530 {
	width: 530px;
}
.w600 {
	width: 600px !important;
}
.w700 {
	width: 700px;
}
.w780 {
	width: 780px;
}
.w800 {
	width: 800px;
}
.w208 {
	width: 208px;
}
/*头部样式*/

.nc_head {
	position: relative;
	background-color: #f3f3f3;
	box-shadow: 0 2px 3px rgba(0,0,0,0.15), inset 0 -1px 0 0 #fcfcfc;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15), inset 0 -1px 0 0 #fcfcfc;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15), inset 0 -1px 0 0 #fcfcfc;
	border-top: 4px solid #67ad03;
	border-bottom: 1px solid #c3c3c3;
}
.nc_head .inner {
	width: 1000px;
	margin: 0 auto;
*zoom:1;
	height: 60px
}
.logo {
	float: left;
	padding-top: 8px;
	font-size: 24px
}
.logo a {
	background: url(../images/logo.png) no-repeat;
	display: block;
	width: 370px;
	height: 50px;
	text-decoration: none;
}
.user-entry {
	float: right;
	line-height: 60px;
}
.user-entry span {
	float: left;
	margin: 0 3px;
}
.user-entry span a {
	color: #222;
}
.user-entry span a:hover {
	color: #2e7dc6;
}
.user-entry span.line {
	font-size: 12px;
}
/*home主体框架*/

.nc_layout {
	padding: 30px 0;
	width: 1000px;
	margin: auto;
}
.nc_warp {
		min-height: 650px;
*overflow:hidden;
*zoom:1;
	min-height: 625px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 #e3e3e3;
	-moz-box-shadow: 0 2px 2px 0 #e3e3e3;
	-webkit-box-shadow: 0 2px 2px 0 #e3e3e3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; overflow:hidden;
}

/*后台样式*/
.nc_main {
*overflow:hidden;
*zoom:1
}
.side_left .nc_side {
*float:left;
border-right: 1px solid #d3d3d3;
}


.nc_main, .nc_side {
	display: table-cell;
	vertical-align: top;
	height: 650px;
*height:auto
}
.nc_main {
	width: 2000px;
*width:auto;
}
.nc_side {
	width: 19%;
*width:190px;
	background-color: #f3f3f3;
}
.nc_side{
*padding-bottom:999em;
*margin-bottom:-999em;
min-height: 1px;
}
























.nc_side_menu {
	margin-bottom: 150px
}
.menu {
	padding-bottom: 8px;
	border-top: 1px solid #d1d1d1;
}
.no_line {
	border-top-width: 0;
}
.menu_title {
	position: relative;
	padding: 0 16px;
	background-color: #f3f3f3;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	line-height: 40px;
	margin-bottom: 6px;
	border-bottom: 1px solid #d1d1d1
}
.menu_title i.icon1, .menu_title i.icon2, .menu_title i.icon3, .menu_title i.icon4{
	background: url(../images/base_z.jpg) no-repeat;
}
.menu_title i.icon1 {
	background-position: 0 0;
}
.menu_title i.icon2 {
	background-position: 0 -35px;
}
.menu_title i.icon3 {
	background-position: 0 -70px;
}
.menu_title i.icon4 {
	background-position: 0 -107px;
}
.menu_title i {
	display: inline-block;
	height: 23px;
	vertical-align: middle;
	margin-right: 10px;
	width: 26px;
}
.nc_side_menu .item {
	background-color: #f3f3f3;
	line-height: 31px;
}
.nc_side_menu .item a {
	display: block;
	padding: 0 36px 0 50px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #222;
}
.nc_side_menu .item a:hover {
	text-decoration: none;
}
.nc_side_menu .item:hover {
	background-color: #b5daaf
}
.nc_side_menu .item.selected {
	background-color: #6bb05f;
	background-image: -moz-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#79bd6e), to(#62a855));
	background-image: -webkit-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: -o-linear-gradient(top, #79bd6e 0, #62a855 100%);
	background-image: linear-gradient(to bottom, #79bd6e 0, #62a855 100%);
	border-bottom: 1px solid #549249;
	color: #fff;
}
.nc_side_menu .item.selected a {
	color: #fff;
}
.side_left .col_side_primary {
	float: left;
	border-right: 1px solid #d3d3d3;
	margin-right: -1px
}
.side_left .nc_main_primary {
	border-left: 1px solid #d3d3d3
}
.side_left .inner_container_box .inner_side {
	float: left;
	border-right: 1px solid #d3d3d3
}
.side_left.inner_container_box.split .inner_side {
	margin-right: 14px;
	border-right-width: 0
}
/*表格样式*/

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
*font-family:"Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma
}
.table_msg {
	border: 1px solid #D3D3D3;
	border-radius: 3px;*border-bottom:none;*overflow:hidden;
}

.table_msg table {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-radius: 3px;
	font-size: 12px;
	text-align: center;
	width: 100%;
	color: #454545;
}
.nc-thead .table_cell:first-child {
	border-left-width: 0;
}
.table_msg thead th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.nc-thead {
	background-color: #F0F0F0;
}
.nc-footer {
	background-color: #F0F0F0;
}
.nc-thead .table_cell {
	border-bottom: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
	line-height: 32px;
}

.nc-footer .table_cell {
	border-top: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	line-height: 32px;
}
.table_cell {
	font-style: normal;
	font-weight: 400;
	padding: 0;
}
.table_msg tr {
	border-bottom: 1px solid #E6E6E6;
}
.table_msg tr td {
	border-right: 1px solid #E6E6E6;
	*border-bottom: 1px solid #E6E6E6;
}
.table_msg table tbody tr td {
	height: 31px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;text-align:center;  
}

.table_msg table tbody tr td span{ font-size:11px; color:#2E7DC6; text-align:center; padding:0 2px;}
.table_msg table tbody tr td.al{ text-align:center;  }
.table_msg tr:last-child {
	border-bottom: 0 none;
}
.table_msg tr td:last-child {
	border-right: 0 none;
}
.main_hd a {
	color: #2E7DC6;
}
/*标题*/
.main_hd {
	background: url(../images/title_bg.jpg) repeat-x;
	border-bottom: 1px solid #d3d3d3;
	color: #545454;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
}

.main_bd {
	padding: 20px 50px;
}
.container_hd h2, .main_hd h2 {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	padding-left: 20px;
	padding-right: 20px;
}
.container_hd .extra_info, .main_hd .extra_info {
	margin-top: -36px;
	padding-right: 20px;
	text-align: right;
}


/*添加活动*/
.list_item {
	border-bottom: 1px solid #E6E6E6;
	padding: 24px 16px; line-height:24px;*width:100%;*padding: 24px 0;
}
.current {
	position: relative;
}
.label_box {
	float: left;
	margin-right: 1em;
	width:6em;
}
.label_form {
	overflow: hidden; *float:left;
}
.label_form textarea{ padding:5px;}
.label_input {
	background-color: #FFFFFF;
	border: 1px solid #B3B3B3;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 0.8em;
	position: relative;
	vertical-align: middle;
	width: 300px;
}
.form_input, .form_textarea {
	width: 100%;
	background-color: transparent;
	border: 0;
	outline: 0
}
.msg_invalid {
	color: #B11516;
	background: url(../images/point.jpg) no-repeat left center;
	padding: 6px 10px;
	height: 30px;
	margin-left: 10px;
}
.btn.dropdown_switch {
	background-color: #F1F1F1;
	background-image: linear-gradient(to bottom, #F9F9F9 0px, #F0F0F0 100%);
	border-color: #C3C3C3;
	color: #000000;
	height: 25px;
	line-height: 25px;
	padding-left: 0;
	padding-right: 0;
	text-align: left;
	width: 100%;
}
.dropdown_switch label {
	cursor: pointer;
	display: block;
	margin-left: 10px;
	margin-right: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}
.dropdown_switch .arrow {
	border-color: #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	border-right: 6px dashed rgba(0, 0, 0, 0);
	border-style: solid dashed dashed;
	border-width: 6px 6px 0;
	display: inline-block;
	height: 0;
	margin-top: -3px;
	position: absolute;
	right: 8px;
	top: 50%;
	width: 0;
}
.account_setting_item .meta_content .dropdown_menu {
	margin-right: 16px;
	vertical-align: top;
}
.btn.dropdown_switch:hover {
	background-color: #F8F8F8;
	background-image: linear-gradient(to bottom, #F9F9F9 0px, #F8F8F8 100%);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.list_item:hover {
	background-color: #F3F3F3;
}
.dropdown_menu {
	display: inline-block;
	line-height: normal;
	position: relative;
	text-align: left;
	width: 120px;
}
.dropdown_switch {
	position: relative;
}
.btn.dropdown_switch {
	color: #000000;
	line-height: 25px;
	text-align: left;
}
.slt_body, .slt_star {
	width: 120px;
}
.slt_wrap {
	background-color: #FFFFFF;
	border: 1px solid #C6C6C6;
	border-radius: 3px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.slt_box {
	position: absolute;
	z-index: 1;
}
.slt_wrap .slt_list ul {
	padding: 5px 0;
}
.slt_wrap .slt_list li {
	cursor: pointer;
	padding: 3px 6px;
}
.slt_list .cur, .slt_list li:hover {
	background: #E7E7E7;
}
.btn_input {
	background: url(../images/btn.jpg) no-repeat;
	border: 0 none;
	width: 104px;
	height: 34px;
	display: inline-block;
	cursor: pointer;
	color: #FFF;
}
.btn_bar {
	margin: 20px 0 0;
	text-align: left;
	padding: 25px 0 50px 100px;
}
.btn_input:hover {
	background-position: 0 -34px;
}
.norecord {
	color: #666666;
	font-size: 14px;
	line-height: 150px;
	text-align: center;
	vertical-align: middle;
}
.pagination {
	float: right; margin:20px 0 50px;
}
.pagination ul li span {
	line-height: 20px;
	color: #999;
	padding: 2px 7px;
	margin-left:5px;
	border: 1px solid #CCC;
	display:block;
}
.pagination ul li a span, .pagination li a:visited span {
	color:#454545;
	border-color:#cccccc;
}
.pagination ul li a:hover span, .pagination li a:active span {
	color: #66ab59;
	background-color: #c9efc3;
	border-color: #66ab59;
	text-decoration:none;
}
.pagination ul li a:hover{text-decoration:none;}
.pagination ul li span.currentpage {
	color: #FFF;
	font-weight: bold;
	background-color: #62A855;
	border-color: #4f9642;
}
.pagination ul li {
	display: inline;
	list-style-type: none;
/*	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	border: none !important;*/
	float: left;

}





/*添加活动*/
.nc_area {
	padding: 16px;
}
.nc_area_box:after {
	content: ".";
	display: inline-block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	width: 100%;
}
.nc_area_box {
	font-size: 0;
	padding-bottom: 16px;
	text-align: justify;
}
.nc_tap.wt {
	width: 100%;
}
.nc_tap {
	display: inline-block;
	vertical-align: top;
}
.nc_tap.wt .nc_inner {
	background-color: #87B3D4;
	border: 1px solid #6C91A3;
}
.nc_tap .nc_inner {
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.nc_activity .nc_area_icon,.nc_vote .nc_area_icon,.nc_lottery .nc_area_icon,.nc_fans .nc_area_icon{background: url(../images/icon-box.jpg) no-repeat;margin-top:8px;}

.nc_activity .nc_area_icon { 
background-position: -5px -15px; 

}
.nc_vote .nc_area_icon {
background-position: -5px -135px; 
}
.nc_lottery .nc_area_icon {
background-position: -5px -75px; 
}
.nc_fans .nc_area_icon {
background-position: -5px -195px; 
}
.nc_area_icon {
	display: inline-block;
	height: 46px;
	vertical-align: middle;
	width: 54px;
}
.nc_tap.wt .nc_area_tap.no_extra {
	border-right-width: 0;
}
.nc_tap.wt .nc_area_item {
	width: 50%;*width:48%;
}
.nc_area_item {
	float: left;
}
.nc_area_item a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
.nc_tap a {
	padding-bottom: 26px;
	padding-top: 26px;
}
.nc_tap.wt .nc_area_tap {
	border-right: 1px solid #6D96B5;
}
.nc_tap .nc_area_tap {
	box-shadow: 1px 0 0 0 #99BEDA;
	display: block;
}
.nc_area_item .number {
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	vertical-align: middle;
}
.nc_area_item .title {
	display: block;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 2px;
}

.all_checkbox{ float:left; margin-left:10px;}
.all_checkbox input{ padding:0 4px;  }


.nc-footer a.btn {
    background: url(../images/nc-btn.gif) no-repeat 0 0;
    color: #555555;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height:21px;
    line-height:21px;
    margin-right: 6px;
    padding-left: 10px; float:left; margin-left:10px;
}
.nc-footer a.btn:hover{ background-position: 0 -21px;color: #fff; text-decoration:none;}
.nc-footer a.btn span {
     background: url(../images/nc-btn.gif) no-repeat right 0;
    display: inline-block;
    height: 21px; padding-right:10px;
}
.nc-footer a.btn span:hover{ background-position:right -21px;}




.search-button, input.search-button:focus {
    background: url(../images/nc-btn.gif) no-repeat 0 -50px;
    border: 0 none;
    display: inline;
    height: 25px;
    width: 57px;
	float:left;
}
.search-button:hover{ background-position:-69px -50px; }

.main_bd .zt{ width:100%; height:25px; margin-bottom:20px;}
.main_bd .zt span.zt—f{ font-size:12px; margin-left:10px;  }
.main_bd .zt span{height:25px; line-height:25px;float:left;}
.label_input_zt,.label_input_zt02{
    background-color: #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
    display: inline-block;
    font-size: 14px;
    height:25px;
    line-height:25px;
    padding: 0 0.8em;
    position: relative;
    vertical-align: middle;
    width: 300px; margin-right:10px;float:left;
}
.label_input_zt02{ float:none;width:350px;margin-right:10px; border: 1px solid #D3D3D3;}
.update-button, input.update-button:focus{background: url(../images/nc-btn.gif) no-repeat 0 -83px;}
.update-button:hover{ background-position:-76px -83px; }
.update-button:hover{ background-position:-76px -83px; }
.update-button, input.update-button:focus,.update-link, input.update-link:focus{   border: 0 none;
    display: inline;
    height: 25px;
    width: 67px;
	float:left; margin-left:10px;  }

.update-link, input.update-link:focus{ background: url(../images/nc-btn.gif) no-repeat 0 -160px;}
.update-link:hover{ background-position:-76px -160px; }
.newadd-button, input.newadd-button:focus{
    background: url(../images/nc-btn.gif) no-repeat 0 -120px;
    border: 0 none;
    display: inline;
    height: 25px;
    width: 67px;
	float:left; margin-left:10px;
}
.newadd-button:hover{ background-position:-69px -120px; }

.label_form textarea,select{ border:1px solid #d3d3d3; }
.label_form textarea:hover,select:hover{ border:1px solid #d3d3d3;}

.label_form select{ padding:2px;}
.table_msg td.last {
    border-right: 0 none;
}
.loading {width:100%;text-align: center;margin-top:100px}
.tip {width:100%;text-align: left;margin-bottom:20px; font-size:12px; color:#666}