/*body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
ul, ol, li {
    list-style:none;padding-left: 0;
}
em, i {
    font-style: normal;
}
strong, b {
    font-weight: normal;
}
img {
    border: medium none;
}
input, img {
    vertical-align: middle;
}
a {
    text-decoration: none;outline: 0;
}
strong {font-weight: 700}
em {font-style: italic}
small {font-size: 80%}
input, select, textarea {
    border: 0 none;
    border-radius: 0;
}
input,select {vertical-align: middle;user-select:auto}
input {word-break: normal}
textarea:focus {
    outline: 0 none;
}

body {
    background-color: #EEEEEE;
    color: #333333;
    font-size:16px;
}
a {
    color: #333333;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    visibility: hidden;
}*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
body {-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-webkit-touch-callout: none;cursor: default;-ms-content-zooming: none;-webkit-text-size-adjust: 100%; background:#f1f1f1; color:5b5f5e;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: 400}
address,caption,cite,code,dfn,em,th,del,ins,mark,sup,sub,var {font-style: normal;font-weight: 400;text-decoration: none;background: 0;font-size: 100%;vertical-align: middle}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block}
ul,ol {padding-left: 0;list-style-type: none}
input,select {vertical-align: middle;user-select: auto}
input {word-break: normal}
a {outline: 0;text-decoration: none}
strong {font-weight: 700}
em {font-style: italic}
small {font-size: 80%}
fieldset,img {border: 0}
table {border-collapse: collapse;border-spacing: 0}
caption,th,td {font-weight: 400;vertical-align: middle}
q,blockquote {quotes: none}
q: before,q: after,blockquote: before,blockquote: after {content: "";content: none}
body {color: #555;;min-height: 480px;min-width: 320px;font-family: YaHei,Helvetica,Tahoma,sans-serif;font-size: 14px;line-height: 1.5;}
h1,h2,h3,div,li,p,menu,button {font-size: 100%;-webkit-tap-highlight-color: transparent}
a {color: #00A3CE;-webkit-tap-highlight-color: rgba(0,0,0,0)}
.clearfix:after {display: block;content: '';clear: both;visibility: hidden}
.mt2{margin-top:2px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.ml10{margin-left: 10px;}
/*首页*/	
.middle {
    padding: 4px 10px 0;
}
	
/*产品详细页*/	
.squares{
    background-color:#EEEEEE;
    font-family: tahoma,arial,黑体;
    padding-bottom: 5px;
    padding:10px;
}

.squares .detail_list { background:#FFF;
    margin-bottom:1px;
    min-height: 113px;
    padding: 0.25em;
    position: relative;
}

.squares .picture{
    height: 100px;
    line-height: 100px;
    margin: 0.4em;
    padding: 0;
    position: absolute;
    text-align: center;
     height: 100px;
}
.squares .picture img{  height:100px;height: 100px;  }

.squares .detail_info{
    padding-left: 110px;
}

.squares ul.p_title {
    color: #333333;
    font-size: 15px;
    line-height: 1.5em;
}

.squares ul li {color:#6E6E6E;
  font-size:0.8em;
    margin: 0.25em;
 
}
.squares ul li.productTitle{ color:#6E6E6E; font-size:1.0em;}

.squares ul li.price{color:#E4393C;font-weight: bolder;font-size:1.2em;}

.squares ul li span{
    
    margin-left: 2px;}
	
	
/*----------header--------------*/	
.top_page{position: relative;z-index:999;top: 0px;left: 0px;height: 50px;background:#a20000;}
.header_wp {position: fixed;top:0px;left:0px;color: #FFF;height: 50px;width:100%;text-align: center;background:#a20000;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); border-bottom:1px solid #820000; z-index:1000;}
.header_wp a {color: #FFF;text-shadow: 0 1px 1px #348DA7;}
.left_box,.right_box,.right_search,.center_box{height:50px;position: absolute;top: 0px;}
.left_box{left: 0px;z-index: 500;}
.center_box{text-align: center;left: 0px;width: 100%;z-index: 100;}
.right_box{z-index:200;right: 10px; border-left:1px solid #820000; padding:10px 0 0 10px; height:40px;}
.right_search{right: 10px; border-left:1px solid #820000; padding:10px 0 0 10px; height:40px;  }
.top_title{margin-top:10px;font-size: 1.5em;color: #fff;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
.c-icon,.s-icon{display: inline-block;background:url(../images/mall/sub-nav.png) no-repeat 0 0;}
.s-icon{background:url(../images/mall/sub-nav.png) no-repeat 0 -76px;}
.quick-nav{width:31px; height:25px; margin-top:5px;}
.quick-s{width:31px; height:25px; margin-top:3px;  }
.quick-nav:hover{ background-position:0 -41px;  }
.s-icon:hover{ background-position:0 -110px;  }
.home .center_box{text-align: left;text-indent: 10px;}
.btn_back{height: 37px;width: 32px;background-position:0px -145px;}	
	
/*----------search--------------*/
.s_wrapper{display:none;position:absolute;z-index: 1001;top: 0px;left: 0px;width: 100%; height:50px;overflow: hidden;background:#A20000;}
.search{width:73%;position:absolute; top:6px; left:6px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.sinput_wp{padding-right:80px; background:#fff;border-radius:2px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.search_input{height:38px;border:0px;border-radius:10px;display: block;font-size:1.1em;width: 100%; background:#fff; margin-left:10px; }
.search_submit{z-index:9999; position:absolute;right:5px;width:33px;height:33px;line-height:40px;top:3px;background:url(../images/mall/srarch-icon.png) no-repeat 0 0 ;}	
.search_submit:hover{ background-position:0 -36px;   }	
.s_wrapper .close{width:20%;height:39px;font-size:1.1em;background:url(../images/mall/qx-bg.png) repeat ;margin:6px 10px 0px 0px;border:1px solid #7c0000; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);border-radius:2px;color: #fff;float: right;}
.s_wrapper .close:hover{ background:#810208;   -moz-box-shadow:1px 1px 1px #670000 inset;              
    -webkit-box-shadow:1px 1px 1px #670000 inset;           
    box-shadow:1px 1px 1px #670000 inset;  }
/*轮播*/	
.swiper-container {margin:0 auto;position:relative;overflow:hidden;z-index:1;}
.swipe-wrap {overflow: hidden;position: relative;width:100%;}
.swipe-wrap .swipe-item {float:left;width:100%;position: relative;}
.swipe-paginat {position: absolute;left: 0;text-align: center;bottom:5px;width: 100%;}
.swipe-paginat-switch {display: inline-block;width: 5px;height: 5px;border-radius: 10px;background: transparent;border:1px solid #fff;margin: 0 3px;cursor: pointer;}
.swipe-paginat-switch.current {background: #fff;}
@media screen and (min-width:320px){
  .swiper-container,.swipe-wrap,.swipe-wrap img{width: 320px;height: 150px;}
}
@media screen and (min-width:640px){
  .swiper-container,.swipe-wrap,.swipe-wrap img{width: 640px;height: 300px;}
}

/*middle*/	
.content-wrap{
     margin:5px 0;
    padding: 0 4px;
}
.nav-list{display: -moz-box;display:-webkit-box;display:box; width: 100%;
text-align: center;
}

.nav-list a{
	-moz-box-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	width: 100%;
	text-align:center;
	
	 font-size:1.2em; padding:8px;
	  display: block;
	   background:#fff;
	    margin:4px;border-radius:3px; border:1px solid #dcdcdc;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 




    }
	
/*.nav-list a .nav-img{ width:51px; height:51px;display:block; margin:8px auto 0;}*/
.nav-list a:hover{ background:#A20000;border:1px solid #A20000;}
.nav-list a:hover span{ color:#ffffff;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);     }
/*.n1,.n2,.n3,.n4,.n5,.n6{ background:url(../images/mall/nav-icon.png) no-repeat;  }
.n1{ background-position:-8px -8px;}
.n2{ background-position:-8px -75px;}
.n3{ background-position:-8px -145px;}
.n4{ background-position:-8px -227px;}
.n5{ background-position:-8px -308px;}
.n6{ background-position:-8px -390px;}
.nav-list a:hover .n1{background-position:-74px -8px;}	
.nav-list a:hover .n2{background-position:-74px -75px;}	
.nav-list a:hover .n3{background-position:-74px -145px;}	
.nav-list a:hover .n4{background-position:-74px -227px;}	
.nav-list a:hover .n5{background-position:-74px -308px;}	
.nav-list a:hover .n6{background-position:-74px -390px;}
.nav-list a span {
    text-align: center;
    width: 100%;color:#5b5a5a; 
  
    display:block;
    font-size:0.9em;
}*/	
.nav-list a span {
    text-align: center;
    width: 100%;color:#5b5a5a; 
  
    display:block;
    font-size:0.9em;
}
.nav-list a img{ margin-top:10px;  }


/*快捷导航*/
.quick_nav_pannel{display: none;position:relative;width: 100%;z-index:888;}
.qkswipe-wrap{/*position:absolute;*/overflow:hidden;padding:10px 2%;width: 96%;z-index:889;}
.qkswipe-item{display: -moz-box;display:-webkit-box;display:box;width: 100%;}
.qkswipe-item a{-moz-box-flex:1;box-flex:1;-webkit-box-flex:1;display:block;margin:3px;border:1px solid #ccc;border-radius:3px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);background:#fff;color:#999;width: 100%;padding:8px;text-align: center;}
.qkswipe-item a:hover{background:-moz-linear-gradient(top,#b30102,#9a0000)
background:-webkit-gradient(linear, left top, left bottom, from(#b30102), to(#9a0000)); /* chrome
和safari浏览器*/background:#b30102;border:1px solid #a30100;color:#fff;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);}

/*.m_shadow{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    bottom: 0px;
    background: #000;
    opacity: 0.5;
    z-index: 999;
}*/

/*loading*/
#scrollerwp {
	width:100%;
	overflow:auto;
}
#scroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
    background: #fff;
    padding-bottom: 10px;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}
#pullUp {
	background:#EFEFEF;
	height:40px;
	line-height:40px;
	padding:2px 10px;
    text-align: center;
	font-size:14px;
    font-weight: bold;
	color:#6C6C6C;
    margin: 10px;
}
/*首页产品详情*/
.griditem{margin: 0 auto;
    padding: 0;
    text-align: center;
    width:100%;display:-webkit-box;display:box;
}
.griditem dl {
		-moz-box-flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	width: 100%;
	text-align:center;

	  display: block;
	   background:#fff;
	    margin:4px;border:1px solid #dcdcdc;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.griditem dl dt.pic, .griditem dl dt.pic img {
display: block;
    height: 146px;
    width: 146px; margin:0 auto;
}
.griditem dl dt {
    margin-bottom: 5px;
    position: relative;
}

.griditem dl dd {
    padding: 0 5px;text-align:left;
}
.goods_name {
    color: #404040;
    margin-top: 5px;
    overflow: hidden;
    text-align: left; font-size:0.9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}
.pricebox {
    line-height: 16px;
    margin-bottom: 5px;
}
.pricebox span{
 color: #E4393C;
    font-size: 1.2em;
    font-weight: bolder; }
.ablock {
    display: block;
}

/*关于我们*/
.article-title{ background:#fff; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); height:35px; border-bottom:1px solid #c9c9c9; }
.about-us{ background:#FFFFFF; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin: 15px; padding:20px;}
.article-title h2{ font-size:1.2em; font-weight:bolder; line-height:2.2em;background:url(../images/mall/title-icon.png) no-repeat left center; padding-left:10px; margin-left:20px;   }
/*jquery-mobile 产生的样式*/
.ui-loader{display: none;}
/*列表页面*/
.content{
    height: auto;
    margin: 0 5px;
    overflow: hidden;
    padding: 5px 0; }
	.content p {
    background: url(../images/mall/ico.png) no-repeat right 9px #FFFFFF;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    height: 38px;
    line-height: 38px;
    margin: 0 0 5px 2px;
    padding:0 10px 0 10px;
}

.content p a {
    color: #4F4F4F;
    font-size:16px;
}
.content p a:hover{ text-decoration:underline;  }