body,h1,h2,h3,h4,h5,h6,p,ul,ol,figure,textarea,input,button,select {margin: 0}
body {-webkit-tap-highlight-color: rgba(255,255,255,0);-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-webkit-touch-callout: none;cursor: default;-ms-content-zooming: none;-webkit-text-size-adjust: 100%;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: 400}
address,caption,cite,code,dfn,em,th,del,ins,mark,sup,sub,var {font-style: normal;font-weight: 400;text-decoration: none;background: 0;font-size: 100%;vertical-align: middle}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block}
ul,ol {padding-left: 0;list-style-type: none}
input,select {vertical-align: middle;user-select: auto}
input {word-break: normal}
a {outline: 0;text-decoration: none}
strong {font-weight: 700}
em {font-style: italic}
small {font-size: 80%}
fieldset,img {border: 0}
table {border-collapse: collapse;border-spacing: 0}
caption,th,td {font-weight: 400;vertical-align: middle}
q,blockquote {quotes: none}
q: before,q: after,blockquote: before,blockquote: after {content: "";content: none}
body {color: #555;background: #FFF;min-height: 480px;min-width: 320px;font-family: YaHei,Helvetica,Tahoma,sans-serif;font-size: 14px;line-height: 1.5;}
h1,h2,h3,div,li,p,menu,button {font-size: 100%;-webkit-tap-highlight-color: transparent}
a {color: #00A3CE;-webkit-tap-highlight-color: rgba(0,0,0,0)}
.clearfix:after {display: block;content: '';clear: both;visibility: hidden}
.mt10{margin-top: 10px;}
.ml10{margin-left: 10px;}