@charset "utf-8";
.fl{
	float:left; line-height:25px;
}

.dd{
	clear:both;
	margin:7px 0;
	width:100%;
	height:25px;
}
.outbar{
	border:1px solid #dedede;
	background:#fff;
	height:25px;
	width:50%;
	float:left;
}
.inbar{
	height:25px;
	display:block; background:#78b722;
}