body {
	background:url(../images/bg/ncwall_black.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
 filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4CFFFFFF', endColorstr='#4CFFFFFF');background:rgba(255,255,255,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background:#73af1f url(../images/bg/ncwall_black_bg.png) repeat-x;border:1px solid #fff;
}
.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99FFFFFF', endColorstr='#99FFFFFF');background:rgba(255,255,255,0.1);border:1px solid #737373;}
.lottery-l ul li:hover {
	background: #585756;
}
.btn-regist {
	background:#ff8400;
}

.btn-regist:hover {
	background: #ec7b02;
}