body {
	background:url(../images/bg/ncwall_green.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
   filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background: url(../images/bg/ncwall_green_bg.png) repeat-x;border:1px solid #ffffff;
}
.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#995AB201', endColorstr='#995AB201');background:rgba(90,178,1,0.6);border: 1px solid #d1eaa2;}
.lottery-l ul li:hover {
	background: #488f13;
}
.btn-regist {
	background:#ff6600;
}

.btn-regist:hover {
	background: #e95f03;
}