body {
	background:url(../images/bg/ncwall_blue.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
   filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background: #73af1f url(../images/bg/ncwall_blue_bg.png) repeat-x;border: 1px solid #fff;
}
.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#990080BF', endColorstr='#990080BF');background:rgba(0,128,191,0.4);border:1px solid #92d7ff;}
.lottery-l ul li:hover {
	background: #017dcc;
}
.btn-regist {
	background: #017dcc;
}

.btn-regist:hover {
	background: #0269ae;
}