body {
	background:url(../images/bg/ncwall_brown.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background:url(../images/bg/ncwall_brown_bg.png) repeat-x;border: 1px solid #fff;
}

.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#592E1308', endColorstr='#592E1308');background:rgba(46,19,8,0.6);	border: 1px solid #997a6b;}
.lottery-l ul li:hover {
		background: #281109;
}
.btn-regist {
	background: #fd6906;
}

.btn-regist:hover {
		background: #dd5a03;
}