body {
	background: url(../images/bg/ncwall_yellow.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background: url(../images/bg/ncwall_yellow_bg.png) repeat-x;
	border: 1px solid #fff;
}
.nc_wall {
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#99A76909', endColorstr='#99A76909');
	background: rgba(167,105,9,0.6);
	border: 1px solid #bb8533;
}
.lottery-l ul li:hover {
	background: #603f12;
}
.btn-regist {
	background: #5d2408;
}
.btn-regist:hover {
	background: #461a04;
}
