body {
	background:url(../images/bg/ncwall_pink.jpg) no-repeat 50% 0;
}
.nc_header .notice {
	color: #FFF;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#4C000000', endColorstr='#4C000000');background:rgba(0,0,0,0.3);
}
.nc_header .notice strong {
	color: #c8fb80;
}
.nc_header .notice span {
	color:#C8FB80;
}
.nc_wall .nc_list li {
	background:url(../images/bg/ncwall_pink_bg.png) repeat-x;border: 1px solid #fff;
}

.nc_wall{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7FD82F8D', endColorstr='#7FD82F8D');background:rgba(216,47,141,0.4);border: 1px solid #ee73b8;}

.lottery-l ul li:hover {
	background: #930966;
}
.btn-regist {
	background:#790d41;
}

.btn-regist:hover {
	background:#6a184d;
}