blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,pre,ul{padding:0;margin:0}
address,caption,cite,code,em,h1,h2,h3,h4,h5,h6,pre,strong,table,td,th{font-size:1em;font-style:normal;font-weight:400}
strong{font-weight:700}
ol,ul{list-style:none outside none}
fieldset,img{border:medium none;vertical-align:middle}
caption,th{text-align:left}
table{border-collapse:collapse;border-spacing:0}
body{font:12px/20px "Hiragino Sans GB","Microsoft Yahei",arial,宋体,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;color:#666;background:#FFF none repeat scroll 0 0;min-width:1200px}
input,select,textarea{font:12px/20px Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif}
cite,em,i{font-style:normal}
button,input,select,textarea{outline:0}
html{min-height:101%}
a{color:#333;text-decoration:none;outline:medium none;-webkit-transition-property:color;-webkit-transition-duration:.3s;-webkit-transition-timing-function:ease}
a:active,a:link,a:visited{text-decoration:none}
a:hover{color:#C81623;text-decoration:none}
.over_hidden{display:block;overflow-x:hidden;overflow-y:hidden;text-overflow:ellipsis;white-space:nowrap}
.parentCls{display:inline-block}
.js-max-input{font-size:20px;color:#F40;background:#FFFAE5;white-space:nowrap;padding:7px;border:solid 1px #FFD2B2}
.mod_minicart .cart_icon,.nc-appbar-tabs span.icon{background:url(../images/icon_common.png) no-repeat}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
*html .clearfix{height:1%}
time{color:#777}
article,aside,dialog,figure,footer,header,menu,nav,section{display:block}
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f20{font-size:20px}
.fb{font-weight:700}
.fn{font-weight:400}
.t2{text-indent:2em}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline}
.no_unl{text-decoration:none}
.noborder{border-style:none!important;border-width:0!important}
.tl{text-align:left!important}
.tc{text-align:center!important}
.tr{text-align:right!important}
.bc{margin-right:auto;margin-left:auto}
.fl{float:left;display:inline}
.fr{float:right!important;display:inline}
.wwi-left{float: left;}
.wwi-right{float: right;}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.zoom{zoom:1}
.none{display:none}
.clear{clear:both;height:0;font-size:0;line-height:0}
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px!important}
.w50{width:50px!important}
.w60{width:60px!important}
.w65{width:65px!important}
.w70{width:70px!important}
.w80{width:80px!important}
.w90{width:90px}
.w96{width:96px}
.w100{width:100px!important}
.w110{width:110px!important}
.w120{width:120px!important}
.w130{width:130px!important}
.w150{width:150px!important}
.w160{width:160px}
.w180{width:180px}
.w200{width:200px!important}
.w210{width:210px!important}
.w230{width:230px}
.w240{width:240px}
.w250{width:250px!important}
.w270{width:270px}
.w300{width:300px!important}
.w340{width:340px}
.w380{width:380px}
.w400{width:400px!important}
.w450{width:450px!important}
.w500{width:500px}
.w530{width:530px}
.w600{width:600px!important}
.w700{width:700px}
.w780{width:780px}
.w800{width:800px}
.w208{width:208px}
.w965 { width: 965px;  overflow: hidden;}
.w220 { width: 220px;  overflow: hidden;}
.w{width:100%}
.h20{height:20px!important}
.h30{height:30px!important}
.h40{height:40px!important}
.h50{height:50px!important}
.h80{height:80px}
.h100{height:100px!important}
.h200{height:200px}
.h500{height:500px!important}
.h{height:100%}
.size30{width:30px;height:30px}
.size32{width:32px;height:32px}
.size40{width:40px;height:40px}
.size60{width:60px;height:60px}
.size70{width:70px;height:70px}
.size72{width:72px;height:72px}
.size75{width:75px;height:75px}
.size80{width:80px;height:80px}
.size90{width:90px;height:90px}
.size100{width:100px;height:100px}
.size110{width:110px;height:110px}
.size120{width:120px;height:120px}
.size128{width:128px;height:128px}
.size160{width:160px;height:160px}
.size160-48{width:160px;height:48px}
.size160{width:160px;height:160px}
.size184{width:184px;height:114px}
.size190{width:190px;height:190px}
.size196{width:196px;height:196px}
.size233{width:233px}
.m0{margin:0!important}
.m10{margin:10px}
.m15{margin:15px!important}
.m30{margin:30px}
.mt5{margin-top:5px}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px}
.mt20{margin-top:20px!important}
.mt30{margin-top:30px!important}
.mt50{margin-top:50px!important}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px!important}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px!important}
.ml200{margin-left:200px!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px}
.mr30{margin-right:30px!important}
.mr50{margin-right:50px!important}
.mr100{margin-right:100px}
.p10{padding:10px}
.p15{padding:15px}
.p30{padding:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px!important}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
.hr{font-size:1px;display:block;height:0;margin:12px 0;border-top:1px solid #E3E3E3;overflow:hidden}
.hr-double{height:1px;border-top:1px solid #E3E3E3;border-bottom:1px solid #E3E3E3}
.hr8{margin:8px 0!important}
.hr12{margin:12px 0!important}
.hr16{margin:16px 0!important}
.hr18{margin:18px 0!important}
.hr24{margin:24px 0!important}
.hr32{margin:32px 0!important}
.wwi-bs{background-color:#fff !important;}
.hr.dotted{border-top-style:dotted}
.hr-double.dotted{border-bottom-style:dotted}
input.password,input.text,input[type=password],input[type=text]{font:12px/20px Arial;color:#777;background-color:#FFF;vertical-align:top;display:inline-block;height:20px;padding:4px;border:solid 1px #E6E9EE;outline:0 none}
input.password:focus,input.text:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus{color:#333;border-color:#CCD0D9;outline:0 none}
input[type=password].error,input[type=text].error,textarea.error{border:dashed 1px #ED5564;outline:0 none}
.textarea,textarea{font:12px/18px Arial;color:#777;background-color:#FFF;vertical-align:top;display:inline-block;height:54px;padding:4px;border:solid 1px #CCD0D9;outline:0 none}
.select,select{color:#777;background-color:#FFF;height:30px;vertical-align:middle;padding:0 4px;border:solid 1px #E6E9EE}
.select option,select option{line-height:20px;display:block;height:20px;padding:4px}
.radio,input[type=radio]{vertical-align:middle;display:inline-block;margin-right:5px}
.submit-border{vertical-align:middle;display:inline-block}
a.submit,input.submit,input[type=submit]{font-size:12px;line-height:30px;font-weight:700;color:#FFF;background-color:#48CFAE;display:block;height:30px;padding:0 20px;border-radius:3px;border:none 0;cursor:pointer}
a.submit:hover,input.submit:hover,input[type=submit]:hover{text-decoration:none;color:#FFF;background-color:#36BC9B}
input[type=file]{line-height:20px;background-color:#FBFBFB;height:20px;border:solid 1px #D8D8D8;cursor:default}
.add-on{line-height:28px;background-color:#F6F7Fb;vertical-align:top;display:inline-block;text-align:center;width:28px;height:28px;border:solid #E6E9EE;border-width:1px 1px 1px 0}
.add-on{zoom:1}
.add-on i{font-size:14px;color:#434A54;margin-right:0!important}
label.error{font-size:12px;color:#ED5564!important;margin-left:8px}
label.error i{margin-right:4px}
a.ncbtn,a.ncbtn-mini{font:400 12px/20px "microsoft yahei",arial;color:#FFF;background-color:#CCD0D9;text-align:center;vertical-align:middle;display:inline-block;height:20px;padding:5px 10px;border-radius:3px;cursor:pointer}
a.ncbtn-mini{line-height:16px;height:16px;padding:3px 7px;border-radius:2px}
a.ncbtn{height:20px;padding:5px 10px;border-radius:3px}
a:hover.ncbtn,a:hover.ncbtn-mini{text-decoration:none;color:#FFF;background-color:#AAB2BD}
a.ncbtn i,a.ncbtn-mini i{font-size:14px!important;vertical-align:middle;margin:0 4px 0 0!important}
a.ncbtn-grapefruit{background-color:#ED5564}
a:hover.btn-grapefruit,a:hover.ncbtn-grapefruit{background-color:#DB4453}
a.ncbtn-bittersweet{background-color:#FB6E52}
a:hover.btn-bittersweet,a:hover.ncbtn-bittersweet{background-color:#E9573E}
a.ncbtn-sunflower{color:#000;background-color:#FFCE55}
a:hover.btn-sunflower,a:hover.ncbtn-sunflower{color:#000;background-color:#F6BB43}
a.ncbtn-grass{background-color:#A0D468}
a:hover.btn-grass,a:hover.ncbtn-grass{background-color:#8CC051}
a.ncbtn-mint{background-color:#48CFAE}
a:hover.btn-mint,a:hover.ncbtn-mint{background-color:#36BC9B}
a.ncbtn-aqua{background-color:#4FC0E8}
a:hover.btn-aqua,a:hover.ncbtn-aqua{background-color:#3BAEDA}
a.ncbtn-bluejeansjeans{background-color:#5D9CEC}
a:hover.btn-bluejeans,a:hover.ncbtn-bluejeansjeans{background-color:#4B89DC}
a.ncbtn-lavander{background-color:#AC92ED}
a:hover.btn-lavander,a:hover.ncbtn-lavander{background-color:#967BDC}
a.ncbtn-lavander{background-color:#EC87BF}
a:hover.btn-lavander,a:hover.ncbtn-lavander{background-color:#D870AD}
a.ncbtn-lightgray{color:#656D78;background-color:#F6F7FB}
a:hover.btn-lightgray,a:hover.ncbtn-lightgray{color:#434A54;background-color:#E6E9EE}
a.ncbtn-mediumgray{background-color:#CCD0D9}
a:hover.btn-mediumgray,a:hover.ncbtn-mediumgray{background-color:#AAB2BD}
a.ncbtn-darkgray{background-color:#656D78}
a:hover.btn-darkgray,a:hover.ncbtn-darkgray{background-color:#434A54}
.pagination{text-align:center;display:block;margin:0 auto;padding:15px 0}
.pagination ul{font-size:0}
.pagination ul li{vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;margin:0 0 0 -1px}
.pagination li span{font:600 12px/20px Verdana,Tahoma,Arial;color:#AAA;background-color:#FFF;text-align:center;display:block;min-width:20px;padding:8px;border:1px solid #E6E6E6;position:relative;z-index:1}
.pagination li a span,.pagination li a:visited span{color:#555;text-decoration:none;background-color:#FFF;position:relative;z-index:1}
.pagination li a:active span,.pagination li a:hover span{color:#ED5564;text-decoration:none;border-color:#DB4453;position:relative;z-index:9;cursor:pointer}
.pagination li a:hover{text-decoration:none}
.pagination li span.currentpage{color:#FFF;font-weight:700;background-color:#ED5564;border-color:#DB4453;position:relative;z-index:2}
.pagination li:first-child{margin-right:8px}
.pagination li:last-child{margin-left:8px}
.quick-login{background:#FFF;overflow:hidden;width:298px;padding:0 30px}
.quick-login dl{width:100%;margin:0 auto;overflow:hidden}
.quick-login dl dt{line-height:20px;height:20px;margin:8px 0 2px 0;text-shadow:1px 1px 0 #FFF}
.quick-login dl dd span{line-height:28px;color:#999;margin-left:8px}
.quick-login .text{width:250px}
.quick-login ul{width:100%;display:block;clear:both;margin:20px auto 10px auto;padding-bottom:10px;overflow:hidden;border-bottom:solid 1px #E7E7E7}
.quick-login ul li{line-height:20px;color:#999}
.quick-login ul li a{text-decoration:underline;font-weight:600;margin:0 2px}
.quick-login ul li a.forget{color:#FF7F00}
.quick-login ul li a.register{color:#006DD9}
.quick-login .enter{width:100%;margin:10px auto 20px auto;overflow:hidden}
.quick-login .enter .submit{color:#FFF;line-height:28px;font-weight:600;background-image:none;background-color:#ED5564;display:inline-block;width:88px;padding:0;margin:0;border:0;cursor:pointer}
.quick-login .enter .submit:hover{background-color:#DB4453}
.quick-login .enter .other{margin:0 0 0 15px}
.quick-login .enter a{line-height:32px;color:#999;display:inline-block;margin-right:8px}
.quick-login .enter a i{background:url(../images/login.png) no-repeat;vertical-align:middle;display:inline-block;width:32px;height:32px;margin-right:6px}
.quick-login .enter a.qq i{background-position:0 0}
.quick-login .enter a:hover.qq{color:#3EB6E8}
.quick-login .enter a:hover.qq i{background-position:-96px 0;text-decoration:none}
.quick-login .enter a.sina i{background-position:-32px 0}
.quick-login .enter span a:hover.sina{color:#F77362}
.quick-login .enter span a:hover.sina i{background-position:-128px 0;text-decoration:none}
.quick-login .enter a.wx i{background-position:-64px 0}
.quick-login .enter span a:hover.wx{color:#4EA335}
.quick-login .enter span a:hover.wx i{background-position:-160px 0;text-decoration:none}
.logo,.thumb{display:table-cell;vertical-align:middle;text-align:center}
.thumb-cut{overflow:hidden}
.thumb-cut a{text-align:center;float:left;position:relative;overflow:hidden}
.thumb-cut img{vertical-align:text-top;float:none;position:relative}
#page{background-color:#F5F5F5;width:100%;height:29px;border-bottom:1px solid #D8D8D8}
.nc-grade-mini{font:600 italic 12px/16px Georgia,Arial;text-shadow:1px 1px 0 rgba(0,0,0,.25);color:#FFF4F4;background-color:#F33;vertical-align:middle;display:inline-block;height:16px;padding:1px 3px;border-radius:2px}
.trans_msg{background-color:#FFF;padding:4px;border:solid 1px #CCC;box-shadow:0 0 0 2px rgba(153,153,153,.1);filter:alpha(opacity=100, enabled=1) revealTrans(duration=.2,transition=1) blendtrans(duration=.2)}
.trans_msg img{display:block;max-width:150px;max-height:150px}
.warp-all{width:1200px;margin:0 auto}
.public-top-layout{font-family:Arial,"宋体";line-height:20px;color:#777;background-color:#FFF}
.public-top-layout .topbar{height:45px}
.public-top-layout .user-entry{width:40%;height:20px;float:left;padding:12px 0}
.public-top-layout .user-entry a{color:#333}
.public-top-layout .user-entry .other{margin:0 0 0 5px}
.public-top-layout .user-entry .other a{line-height:22px;color:#999;display:inline-block}
.public-top-layout .user-entry .other a i{background:url(../images/toplogin.png) no-repeat;vertical-align:middle;display:inline-block;width:20px;height:20px;margin-right:2px}
.public-top-layout .user-entry .other a.qq i{background-position:0 0}
.public-top-layout .user-entry .other a:hover.qq{color:#3EB6E8}
.public-top-layout .user-entry .other a:hover.qq i{background-position:-60px 0;text-decoration:none}
.public-top-layout .user-entry .other a.sina i{background-position:-20px 0}
.public-top-layout .user-entry .other a:hover.sina{color:#F77362}
.public-top-layout .user-entry .other a:hover.sina i{background-position:-80px 0;text-decoration:none}
.public-top-layout .user-entry .other a.wx i{background-position:-40px 0}
.public-top-layout .user-entry .other a:hover.wx{color:#4EA335}
.public-top-layout .user-entry .other a:hover.wx i{background-position:-100px 0;text-decoration:none}
.public-top-layout .quick-menu{font-size:0;text-align:right;width:60%;height:30px;float:right;padding-top:8px}
.public-top-layout .quick-menu a{color:#777!important}
.public-top-layout .quick-menu dl{text-align:left;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;width:90px;height:30px;position:relative;z-index:999}
.public-top-layout .quick-menu dl dt{font-size:12px;line-height:20px;height:20px;padding:5px 0;position:absolute;z-index:2;top:0;left:12px}
.public-top-layout .quick-menu dl dt a:hover{text-decoration:none;color:#F30}
.public-top-layout .quick-menu dl dt i{background:url(../images/top_bg.png) no-repeat 0 0;vertical-align:middle;display:inline-block;width:6px;height:3px;margin-left:6px;-webkit-transition:.2s ease-in;-moz-transition:-webkit-transform .2s ease-in;-o-transition:-webkit-transform .2s ease-in;transition:.2s ease-in}
.public-top-layout .quick-menu dl.hover dt i{FILTER:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%}
.public-top-layout .quick-menu dl dd{background-color:#FFF;display:none;width:88px;border:solid 1px #F0F0F0;position:absolute;z-index:1;top:0;left:0}
.public-top-layout .quick-menu dl.hover dd{display:block}
.public-top-layout .quick-menu dl dd ul{width:78px;margin:30px 0 0 0}
.public-top-layout .quick-menu dl dd ul li a{font-size:12px;line-height:24px;display:block;clear:both;padding:2px 0 2px 11px}
.public-top-layout .quick-menu dl dd ul li a:hover{text-decoration:none;background-color:#F7F7F7}
.public-top-layout .quick-menu dl.weixin{width:114px}
.public-top-layout .quick-menu dl.weixin dt{background:url(../images/weixin.png) no-repeat 10px 8px;padding-left:30px}
.public-top-layout .quick-menu dl.weixin dd{width:auto;padding:5px;right:0;left:auto}
.public-top-layout .quick-menu dl.weixin dd h4{line-height:18px;color:#F98016;text-align:center;margin:30px 0 5px 0;font-size:12px}
.public-top-layout .quick-menu dl.weixin dd img{max-width:96px;max-height:96px}
.public-top-layout .quick-menu dl dt em{background-image:url(../images/top_ico.png);background-repeat:no-repeat;vertical-align:middle;display:inline-block;width:13px;height:15px;margin:2px 1px 0 0;transition:all .2s;-webkit-transition:all .2s}
.public-top-layout .quick-menu dl.hover dt em{background-image:url(../images/top_ico.png);background-repeat:no-repeat}
.public-top-layout .quick-menu dl dt em.ico_tel{background-position:0 -15px}
.public-top-layout .quick-menu dl.hover dt em.ico_tel{background-position:0 -30px}
.public-top-layout .quick-menu dl dt em.ico_mall{background-position:-15px -15px}
.public-top-layout .quick-menu dl.hover dt em.ico_mall{background-position:-15px -30px}
.public-top-layout .quick-menu dl dt em.ico_order{background-position:-30px -15px}
.public-top-layout .quick-menu dl.hover dt em.ico_order{background-position:-30px -30px}
.public-top-layout .quick-menu dl dt em.ico_store{background-position:-45px -15px}
.public-top-layout .quick-menu dl.hover dt em.ico_store{background-position:-45px -30px}
.public-top-layout .quick-menu dl dt em.ico_service{background-position:-60px -15px}
.public-top-layout .quick-menu dl.hover dt em.ico_service{background-position:-60px -30px}
.public-top-layout .quick-menu dl.down_app{font-size:12px}
.public-top-layout .quick-menu dl.down_app dd{width:222px;padding:5px;left:0;top:30px;text-align:center}
.public-top-layout .quick-menu dl.down_app .qrcode{width:120px;text-align:center;float:left}
.public-top-layout .quick-menu dl.down_app .qrcode img{display:block;max-width:120px;max-height:120px}
.public-top-layout .quick-menu dl.down_app .hint{width:100px;float:right;text-align:center}
.public-top-layout .quick-menu dl.down_app .hint h4{font-size:14px;line-height:24px;font-weight:600;color:#F32613}
.public-top-layout .quick-menu dl.down_app .addurl{width:90px;float:right;clear:right;margin:6px 4px 0 0;text-align:left}
.public-top-layout .quick-menu dl.down_app .addurl a{color:#999;line-height:16px;background-color:#F5F5F5;display:block;width:70px;height:16px;clear:both;padding:5px 9px;margin-top:5px;border:solid 1px #DDD;font-family:"Microsoft Yahei"}
.public-top-layout .quick-menu dl.down_app .addurl a i{font-size:14px;margin-right:4px}
.public-top-layout .quick-menu dl.down_app .addurl a:hover{text-decoration:none;color:#85c441;background-color:#e6f5d1;border-color:#85c441}
.public-top-layout .quick-menu dl.down_app .addurl a:hover i{color:#85c441}
.warning{color:#C00;background-color:#FFC;width:98%;clear:both;padding:6px;margin:6px auto;border:1px dashed #F90}
.warning label{clear:both;line-height:20px}
.ps-container .ps-scrollbar-x,.ps-container .ps-scrollbar-y{background-color:#AAA;height:8px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;position:absolute;z-index:auto;bottom:3px;opacity:0;filter:alpha(opacity=0);-webkit-transition:opacity.25s linear;-moz-transition:opacity .25s linear;transition:opacity .25s linear}
.ps-container .ps-scrollbar-x{left:auto;height:8px;bottom:3px}
.ps-container .ps-scrollbar-y{right:3px;width:8px;bottom:auto}
.ps-container:hover .ps-scrollbar-x,.ps-container:hover .ps-scrollbar-y{opacity:.6;filter:alpha(opacity=60)}
.ps-container .ps-scrollbar-x:hover,.ps-container .ps-scrollbar-y:hover{opacity:.9;filter:alpha(opacity=90);cursor:default}
.ps-container .ps-scrollbar-x.in-scrolling,.ps-container .ps-scrollbar-y.in-scrolling{opacity:.9;filter:alpha(opacity=90)}
.wwi-footer{background-color:#fff;border-top:1px solid #eee}
#cti{clear:both;display:block;float:none;border-bottom:1px solid #eee; background:#f5f5f5 ;}
#cti ul{font-size:0;white-space:nowrap;padding:20px 0 20px 0;}
#cti li{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;zoom:1;margin-right:45px}
#cti li.rf{float:right;font-size:12px;color:#333;font-weight:700}
#cti li.rf em.red{color:#ff6980}
#cti li.rf em.rgb9{color:#999}
#cti li span{vertical-align:middle;display:inline-block}
#cti li .line{font-size:0;background-color:#D7D7D7;width:1px;height:36px}
#cti li .icon{width:25px;height:25px;margin:0 6% 0 12%;-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px}
#cti li .icon img{max-width:25px;max-height:25px}
#cti li .name{font-size:12px;line-height:25px;font-weight:700;color:#333}
#faq{width:100%;overflow:hidden}
#faq ul{font-size:0;white-space:nowrap;padding:20px 2%}
#faq li{font-size:12px;vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;width:13%;zoom:1}
#faq dl{display:block;width:90%;margin:0 auto}
#faq dl dt{font:12px/20px "microsoft yahei";color:#333;padding:5px;margin:5px 0}
#faq dl dd{font:12px/20px "microsoft yahei";white-space:nowrap;text-overflow:ellipsis;display:block;clear:both;padding:2px 5px;overflow:hidden}
#faq dl dd i{font-size:0;line-height:0;background:url(../images/top_bg.png) no-repeat -80px -10px;vertical-align:middle;display:inline-block;width:3px;height:3px;margin-right:5px}
#faq dl dd a{color:#666}
#footer{padding:10px 0 30px 0; background:#333 ;}
#footer .right-flag{margin-top:3px}
#footer .right-flag a{margin-right:5px}
#footer .about-us{margin-left:10px;line-height:20px;color:#666}
#footer .about-us a,#footer .about-us p{color:#efefef}
#footer .about-us p span{padding:0 10px}
#faq .cooperation{background:url(../images/mall/2014_ncs_public_img.png) -175px -128px no-repeat}
#faq li.cooperation{float:right;padding:0 0 0 60px}
#faq li.cooperation{width:15%}
.cooperation .btn{display:block;margin:6px 0 0;width:80px;height:26px;font:12px/26px SimSun;color:#fff!important;text-align:center;background:#ff6980;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.cooperation .btn span{padding:0 5px 0 0;font-family:"Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"}
.cooperation .btn:hover{background:##f89750;color:#fff;text-decoration:none}
.tip-yellowsimple{color:#000;background-color:#fff9c9;text-align:left;min-width:50px;max-width:300px;border:1px solid #c7bf93;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;z-index:1000;padding:6px 8px}
.tip-yellowsimple .tip-inner{font:12px/16px arial,helvetica,sans-serif}
.tip-yellowsimple .tip-arrow-top{background:url(../images/tip-yellowsimple_arrows.gif) no-repeat;width:9px;height:6px;margin-top:-6px;margin-left:-5px;top:0;left:50%}
.tip-yellowsimple .tip-arrow-right{background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0;width:6px;height:9px;margin-top:-4px;margin-left:0;top:50%;left:100%}
.tip-yellowsimple .tip-arrow-bottom{background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0;width:9px;height:6px;margin-top:0;margin-left:-5px;top:100%;left:50%}
.tip-yellowsimple .tip-arrow-left{background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0;width:6px;height:9px;margin-top:-4px;margin-left:-6px;top:50%;left:0}
.nc-appbar{position:fixed;z-index:1998;width:35px;height:100%;right:0;top:0;bottom:0}
.nc-appbar-tabs{width:35px;height:100%}
.nc-appbar-tabs .ever{width:35px;height:158px;background-color:#2e2d2d;position:absolute;z-index:2;top:50%;margin-top:-79px}
.nc-appbar-tabs .variation{width:35px;height:100%;background-color:#2e2d2d;position:relative;z-index:1}
.nc-appbar-tabs .variation .middle{width:35px;height:250px;margin-top:-125px;position:absolute;z-index:1;top:50%;left:0}
.nc-hidebar{display:block;position:absolute;z-index:3;bottom:15px;right:-79px;cursor:pointer}
.nc-hidebar .nc-hidebar-bg{background:url(../images/toolbar.png) no-repeat -100px 0;width:79px;height:56px;position:relative;z-index:1}
.nc-hidebar .nc-hidebar-bg .frame,.nc-hidebar .nc-hidebar-bg .show,.nc-hidebar .nc-hidebar-bg .user-avatar{background:url(../images/toolbar.png) no-repeat;width:36px;height:36px;position:absolute;top:10px;left:15px}
.nc-hidebar .nc-hidebar-bg .user-avatar{background-position:-100px 0;z-index:1}
.nc-hidebar .nc-hidebar-bg .user-avatar img{max-width:36px;max-height:36px}
.nc-hidebar .nc-hidebar-bg .frame{background-position:-100px -70px;z-index:2}
.nc-hidebar .nc-hidebar-bg .show{display:none;background-position:-140px -70px;z-index:3}
.nc-hidebar .nc-hidebar-bg:hover .show{display:block}
.nc-hidebar:hover{background-position:-100px -60px}
.nc-appbar-tabs .user{display:block}
.nc-appbar-tabs .user .avatar{background-color:#FFF;width:28px;height:28px;margin:3px auto 4px auto;border-radius:14px}
.nc-appbar-tabs .user .avatar img{width:28px;height:28px;border-radius:14px}
.nc-appbar-tabs span.icon{display:block;width:21px;height:25px;margin:0 auto}
.nc-appbar-tabs .chat{display:block}
.nc-appbar-tabs .chat .icon{background-position:-298px -296px}
.nc-appbar-tabs .chat:hover .icon{background-position:-92px -296px}
.nc-appbar-tabs .cart a{display:block;width:35px;height:100px;padding:10px 0 0;border-top:dotted 1px #555;border-bottom:dotted 1px #555;position:relative;z-index:1}
.nc-appbar-tabs .chat a,.nc-appbar-tabs .compare a,.nc-appbar-tabs .gotop a,.nc-appbar-tabs .user a{display:block;width:32px;height:32px;padding:5px 3px 6px 0;position:relative;z-index:1}
.nc-appbar-tabs .cart a:hover,.nc-appbar-tabs .chat a:hover,.nc-appbar-tabs .compare a:hover,.nc-appbar-tabs .gotop a:hover,.nc-appbar-tabs .user a:hover{text-decoration:none;background-color:#f55}
.nc-appbar-tabs .compare .icon{background-position:-378px -295px;height:30px}
.nc-appbar-tabs .compare:hover .icon{background-position:-172px -295px}
.nc-appbar-tabs .cart .icon{background-position:-429px -302px;width:23px}
.nc-appbar-tabs .cart:hover .icon{background-position:-223px -302px}
.nc-appbar-tabs .cart .name{line-height:16px;color:#FFF;display:block;text-align:center;width:15px;padding:0 10px;white-space:pre-wrap}
.nc-appbar-tabs .prech{display:block;width:35px;height:158px}
.nc-appbar-tabs .gotop{position:fixed;bottom:0}
.nc-appbar-tabs .gotop .icon{width:19px;height:15px;background-position:-340px -300px;opacity:1}
.nc-appbar-tabs .gotop:hover .icon{opacity:1;background-position:-134px -300px}
.nc-appbar-tabs a i{font:10px/12px Arial;color:#FFF;background-color:#F32613;text-align:center;min-width:12px;height:12px;padding:1px;border-radius:100%;position:absolute;z-index:1;top:5px;right:3px}
.nc-appbar-tabs a:hover i{color:#F32613;background-color:#FFF}
.nc-appbar-tabs a span.tit{line-height:25px;color:#FFF;background:url(../images/toolbar.png) no-repeat -50px 0;white-space:nowrap;display:none;width:50px;height:25px;padding:4px 21px 4px 15px;position:absolute;z-index:1;top:5px;right:29px}
.nc-appbar-tabs a:hover span.tit{display:block}
.nc-appbar-tabs a code{display:none;position:absolute;right:35px;bottom:0;padding:10px;overflow:hidden;background-color:#fff;border:1px solid #B7B7B7;border-right:0;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:0 0 5px #ccc;-moz-box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;z-index:95;-webkit-animation:fadeInLeft .4s .1s ease both;-moz-animation:fadeInLeft .4s .1s ease both}
.nc-appbar-tabs a.hover code{display:block}
.nc-appbar-tabs a code a{color:#d8d8d8}
.nc-appbar-tabs .hover{z-index:101}
.nc-appbar-tabs .l_qrcode{width:35px;float:right;position:fixed;right:0;bottom:50px;font-size:14;z-index:90}
.nc-appbar-tabs .l_qrcode a{position:relative;display:block;width:35px;height:40px;padding:5px 0;position:relative;z-index:1}
.nc-appbar-tabs .l_qrcode a:hover{text-decoration:none;background:#f55;z-index:101}
.nc-appbar-tabs .l_qrcode .icon{background-position:-42px -338px;opacity:1}
.nc-appbar-tabs .l_qrcode:hover .icon{opacity:1;background-position:-3px -338px}
.nc-appbar-tabs .l_qrcode a i{display:none;position:absolute;left:-1px;right:auto;top:50%;margin-top:-6px;width:6px;height:12px;background:url(../images/toolbar.png) no-repeat -100px -150px}
.nc-appbar-tabs .l_qrcode:hover i{display:block}
.nc-appbar-tabs .l_qrcode a code{padding:0}
.nc-appbar-tabs .l_qrcode a code img{max-width:200px;max-height:200px}
.nc-appbar-tabs .user-login-box{background-color:#FFF;width:240px;padding:10px 40px 30px 40px;border:solid 1px #CCC;position:absolute;z-index:2;top:-32px;right:35px;box-shadow:-4px 0 4px rgba(0,0,0,.25)}
.nc-appbar-tabs .user-login-box i.arrow{background:url(../images/toolbar.png) no-repeat -100px -150px;width:7px;height:13px;position:absolute;z-index:3;top:45px;right:-7px}
.nc-appbar-tabs .user-login-box a.close-a{font:600 11px/16px Verdana,Geneva,sans-serif;text-decoration:none;color:#999;text-align:center;width:16px;height:16px;position:absolute;z-index:3;top:10px;right:10px}
.nc-appbar-tabs .user-login-box a{font:12px/20px arial,"宋体";color:#005EA6;text-decoration:underline;float:right}
.nc-appbar-tabs .user-login-box dt{font:13px/20px Arial,"microsoft yahei";height:20px;padding:10px 0 0}
.nc-appbar-tabs .user-login-box dt a{font:12px/20px arial,"宋体";color:#005EA6;text-decoration:underline;float:right}
.nc-appbar-tabs .user-login-box dd .text{line-height:20px;width:226px;height:20px;padding:3px 5px;border:solid 1px #CCC}
.nc-appbar-tabs .user-login-box .bottom{margin-top:20px}
.nc-appbar-tabs .user-login-box .submit{font:600 14px/20px Arial,"microsoft yahei";color:#FFF;background-image:none;background-color:#D93600;width:240px;height:30px;border:solid 1px #B22D00;cursor:pointer}
.nc-appbar-tabs .user-info{background-color:#FFF;width:240px;padding:9px 19px;border:solid 1px #CCC;position:absolute;z-index:2;top:-32px;right:35px;box-shadow:-4px 0 4px rgba(0,0,0,.25)}
.nc-appbar-tabs .user-info i.arrow{background:url(../images/toolbar.png) no-repeat -100px -150px;width:7px;height:13px;position:absolute;z-index:3;top:45px;right:-7px}
.nc-appbar-tabs .user-info .avatar{width:88px;height:88px;float:left;position:relative;z-index:1}
.nc-appbar-tabs .user-info .avatar .frame{background:url(../images/point_bg.png) no-repeat 0 0;width:88px;height:88px;position:absolute;z-index:2;top:0;left:0}
.nc-appbar-tabs .user-info .avatar img{width:80px;height:80px;position:absolute;z-index:1;top:4px;left:4px}
.nc-appbar-tabs .user-info dl{display:block;width:140px;float:left;margin:10px 0 0 10px}
.nc-appbar-tabs .user-info dt{font:600 14px/20px "microsoft yahei";margin-bottom:6px}
.nc-appbar-tabs .user-info dd{line-height:22px}
#ncToolbar .content-box{background-color:#F5F5F5;width:200px;height:100%;border-left:solid 1px #7C8994;position:absolute;z-index:0;top:0;right:-210px;bottom:0;box-shadow:-4px 0 2px rgba(0,0,0,.25)}
#ncToolbar .content-box .top{height:24px;padding:9px 7px;border-bottom:dotted 1px #CCC;margin-bottom:10px}
#ncToolbar .content-box .top h3{font:16px/24px "microsoft yahei";color:#333;display:inline-block}
#ncToolbar .content-box .top a.close{background:url(../images/toolbar.png) no-repeat -100px -120px;width:16px;height:16px;margin-top:4px;float:right}
#ncToolbar .content-box .goods-list{background-color:#FFF;width:180px;padding:10px 0;margin:0 auto}
#ncToolbar .content-box .goods-list li{width:160px;padding:0 0 10px 0;margin:0 auto}
#ncToolbar .content-box .goods-info{width:auto;margin:auto}
.nc-appbar .goods-pic{width:120px;height:120px;margin:0 auto 10px auto}
.nc-appbar .goods-pic a{line-height:0;background:0 0;text-align:center;vertical-align:middle;display:table-cell;width:120px;height:120px;padding:0;margin:0;overflow:hidden}
.nc-appbar .goods-pic a img{max-width:120px;max-height:120px;margin-top:expression( 120-this.height/2)}
.nc-appbar .goods-name a{font-weight:400;line-height:16px;color:#555;background:0 0;text-align:left;display:block;width:100%;height:16px;padding:0;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nc-appbar .goods-price{font:600 14px/20px Arial;color:#C00}
.nc-appbar .goods-price .del{font:400 12px/20px Arial;color:#005EA6;display:none;float:right;cursor:pointer}
#ncToolbar .goods-list li:hover .goods-price .del{display:block}
#ncToolbar .content-box .no-compare{color:#999;line-height:180px;text-align:center}
.nc-appbar .content-box .btn-box{background-color:#F5F5F5;text-align:center;width:160px;padding:10px;position:absolute;z-index:2;bottom:0;left:10px}
.nc-appbar .content-box .btn-box a{background-color:#F32613;color:#FFF;cursor:pointer;padding:5px 10px}
.nc-appbar .content-box .btn-box .total-price{color:#777;padding-bottom:10px}
.nc-appbar .cart-list{width:180px;margin:0 auto}
.nc-appbar .cart-list li{font-size:0;background-color:#FFF;padding:4px;border:solid 1px #FFF;margin-bottom:10px;position:relative;z-index:1}
.nc-appbar .cart-list li:hover{border-color:#F32613;box-shadow:3px 3px 0 rgba(204,204,204,.75)}
.nc-appbar .cart-list .goods-pic,.nc-appbar .cart-list dl{font-size:12px;vertical-align:top;letter-spacing:normal;display:inline-block}
.nc-appbar .cart-list .goods-pic{width:40px;height:40px;margin:0}
.nc-appbar .cart-list .goods-pic a{line-height:0;background:0 0;text-align:center;vertical-align:middle;display:table-cell;width:40px;height:40px;padding:0;margin:0;overflow:hidden}
.nc-appbar .cart-list .goods-pic a img{max-width:40px;max-height:40px;margin-top:expression( 40-this.height/2)}
.nc-appbar .cart-list dl{width:125px;margin-left:5px}
.nc-appbar .cart-list .goods-name{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.nc-appbar .cart-list a.del{font:600 10px/14px Arial;color:#FFF;background-color:#CCC;text-align:center;width:14px;height:14px;border-radius:7px;position:absolute;z-index:1;top:-5px;right:-5px}
.nc-appbar .cart-list li:hover a.del{background-color:#F32613}
#top_search_box .ui-widget-content{background:#FFF none!important;border-color:#CCC!important;border:1px solid #ddd}
#top_search_box .ui-corner-all{line-height:24px;display:block;color:#555!important;text-indent:8px}
#top_search_box .ui-state-hover{font-weight:400!important;color:#333!important;text-decoration:none!important;background:#EEE none!important;border:none!important;cursor:pointer!important}
.trace{font-family:Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;font-size:12px;color:#000;line-height:18px;background:#FFF299;width:95%;padding:1%;margin:1%;border:1px dashed silver}
.trace fieldset{margin:8px}
.trace fieldset legend{font-size:16px;color:#000;font-weight:700}
.trace fieldset div{display:block;white-space:normal;word-break:break-all;width:inherit;max-height:300px;text-align:left;overflow:auto}
.member-card{width:280px;margin:-5px -9px}
.member-card dl{padding:5px 9px;position:relative;z-index:1}
.member-card dl dt.member-id{line-height:20px;color:#333;height:20px;margin-left:85px}
.member-card dl dt.member-id i{background:url(../images/member-card/sex.png) no-repeat;vertical-align:middle;display:inline-block;width:16px;height:16px;margin-right:5px}
.member-card dl dt.member-id i.sex1{background-position:0 0}
.member-card dl dt.member-id i.sex2{background-position:100% 0}
.member-card dl dt.member-id i.sex3{display:none}
.member-card dl dt.member-id a{font-size:14px;font-weight:600}
.member-card dl dd.avatar{width:72px;height:72px;padding:2px;border:solid 1px #E7E7E7;position:absolute;z-index:1;top:5px;left:9px}
.member-card dl dd.avatar img{width:72px;height:72px}
.member-card dl dd.info{height:60px;margin-left:85px}
.member-card dl dd.info li{line-height:20px;vertical-align:middle;height:20px}
.member-card dl dd.ajax-info{line-height:20px;margin-top:5px}
.member-card .bottom{background-color:#F8FBFE;padding:5px 9px;border-top:solid 1px #AED2FF;overflow:hidden}
.member-card .follow-handle a{font-size:12px;font-weight:600;text-decoration:none;text-shadow:1px 1px 0 rgba(0,0,0,.25);line-height:16px;color:#FFF;background-color:#44AA5D;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44AA5D', endColorstr='#289D55');background-image:-webkit-gradient(linear,left top,left bottom,from(#44AA5D),to(#289D55));background-image:-moz-linear-gradient(top,#44AA5D,#289D55);display:inline-block;height:16px;padding:4px 12px;border:1px solid #289D55;cursor:pointer;box-shadow:1px 1px 0 rgba(255,255,255,.75);margin-right:10px}
.member-card .send-msg{float:right;padding:5px}
.member-card .send-msg a{font-size:12px;line-height:16px;color:#777;height:16px}
.member-card .send-msg a i{background:url(../images/member-card/mail-send.png) no-repeat 0 0;vertical-align:middle;display:inline-block;width:16px;height:16px;margin-right:4px}

/*//pub*/
.headNew-bg .phone a,.headNew-bg .weixin a,.to-sign .sign_doc a,.to-sign .sign_hos a,.to-sign .sign-user a,.logo,.cityCont .cityNow em,.safePage span,.headNew-bg .index a{ background:url(../images/common-head.png?ver=1322) no-repeat;}



.head-nav li.tao a,.head-nav li.tao i,.tab-main-index li p>a,.ym-logo div,.faith span{ background:url(../images/headnew.png?ver=2) no-repeat;}
.quick-publink a,.quick-publink>span,.quick-publink a.order-phone span{ background:url(../images/quicklink.png?ver=3) no-repeat;}
div#doyoo_panel { display: none !important;}
.head-wrap{ width:1200px; margin:0 auto; font-family:"Microsoft Yahei"; position:relative;}
/*head**/
/*headNew-bg*//*sign-box已登录与未登录有区别，to-sign 未登录 sign-on 已登录*/
.headNew-bg{ height:36px; background:#fafafa; border-bottom:1px solid #dfdfdf; position:relative; z-index:999; }
.headNew-bg .index{ padding-right: 12px;}
.headNew-bg .phone,.headNew-bg .weixin{ float:left; position:relative; padding: 0 12px;}
.headNew-bg .phone a{ padding-left:20px; background-position:0 0; height:30px; overflow:hidden; position: relative; z-index: 3}
.headNew-bg .phone:hover a{ background-position:0 -186px; text-decoration:none; color:#666;}
.headNew-bg .weixin a{ padding-left:23px; background-position:0 -1219px; height:30px; overflow:hidden; position: relative; z-index: 3}
.headNew-bg .weixin:hover a{ background-position:0 -1263px; text-decoration:none; color:#666;}

.headNew-bg .index a{ background-position:0 -69px; padding-left:24px; display:inline-block;}
.headNew-bg .index a:hover{ background-position:0 -289px; text-decoration:none; color:#ff5370;}
.headNew-bg a{ font:12px/35px "Microsoft Yahei"; color:#666;}
.to-sign .sign_doc a,.to-sign .sign_hos a,.to-sign .sign-user a{ display:block; margin-top:9px; height:19px; line-height:19px;}
.to-sign .sign_doc a{ padding-left:27px; background-position:0 -21px;}
.to-sign .sign_doc a:hover{ background-position:0 -118px; text-decoration:none; color:#ff5370;}
.to-sign .sign_hos a{ padding-left:27px; background-position:0 -224px;}
.to-sign .sign_hos a:hover{ background-position:0 -260px; text-decoration:none; color:#ff5370;}
.to-sign .sign-user a{ padding:0 0 0 27px; background-position:0 -47px;}
.to-sign .sign-user a:hover{ background-position:0 -151px;}
.sign-box{ float:right;}
.sign-box div{ float:left;}
.headNew-bg .head-wrap>.box-xx{ padding: 0}
.to-sign .sign-right a:hover{text-decoration:none; color:#ff5370;}
.box-xx{ padding:0 12px; height:28px; line-height:35px; color:#dfdfdf;}
.sign-on .user-info img{ height:20px; border:1px solid #d6d6d6; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px;  -o-border-radius: 20px; border-radius: 20px; margin:0 6px -6px 0; line-height:36px;}
.user-info span,.sign-right span,.user-info a,.sign-right a{ line-height:36px; cursor:pointer;}
.user-info span:hover,.sign-right span:hover,.hover-show a:hover,.user-info a:hover,.sign-right a:hover{ color:#ff5370; text-decoration:none;}
.sign-right .callUs{ padding-right:116px; position:relative; cursor: auto; }
.sign-right .callUs,.sign-right .callUs:hover{ color:#666}
.sign-right .callUs em{ color:#ff6980; font-size:16px; position:absolute; top:-9px; right:0; font-family:Arial; cursor: default}
.user-info span { display: inline-block; height: 31px; overflow: hidden; max-width:164px;}
.sign-on{  position: absolute; right: 0; top: 0; z-index: 2;}
.sign-on .hover-cont{ padding:0 12px; border:1px solid #fafafa; border-top:none; position:relative; height:35px; overflow:hidden}
.sign-on .hover-cont:hover{ background:#FFF; border-color:#dfdfdf; height:auto;}
.sign-on .sign-side:hover{ height:40px;}
.sign-on .hover-cont .nc-grade-mini{margin-top: 8px; margin-right:5px ;}
.sign-on .box-xx{ padding:0;} 
.sign-on .lastone{ padding-right:12px} 
.sign-on .firstone{ padding-left:12px}   
.hover-hide{ color:#fafafa;}
.box-xx.hover{ color:#fafafa;}
.sign-box .hover-show{ float:none;}
.hover-show a{ display:block; line-height:30px;}
.sign-side:hover { height: 97px; overflow: visible; border-bottom:none;}
.sign-side:hover .hover-show{ display:block; }
.sign-side .hover-show{ background: none repeat scroll 0 0 #fff; border: 1px solid #dfdfdf; border-top:none;  padding-left: 6px; position: absolute; right: -1px; top: 37px; width: 92px; display:none;}

/*登陆之后的样式-start*/

.headNew-bg a.user{ color: #888; display: block; height: 36px; line-height: 36px; padding: 0 11px }
.headNew-bg a.user:hover{ color: #ff5370; text-decoration: none; }
.headNew-bg a.user i{ font-style: normal; }
.headNew-bg div.slide-show{ display: block; padding-top: 0; }
.headNew-bg div.slide-show a{ display: block; line-height: 12px; margin-top: 14px; padding: 0 5px; }
.headNew-bg div.slide-show a:hover{ text-decoration: none; }
.headNew-bg ul.isin{ position: relative; }
.isin{ position:absolute; right:0; z-index:9999; }

.isin li a>.flleft{ display:inline-block; height:22px; margin-top:-6px; line-height:24px; margin-left:0; max-width:140px;}
.isin li a>.user-img{ margin-right:10px;}
.isin img{border:1px solid #dfdfdf; margin:0; line-height:12px; vertical-align:middle; width:20px;border-radius:50%;}
.isin li{ min-height:36px; max-height:36px; border:1px solid #fafafa;  border-top:0; border-bottom-width:0; overflow:hidden; margin-right:0}
.white .isin li{ border-color:#fff; margin-right:0; }
.isin li div{ padding-top:13px;*padding-top:14px;}
.isin li:hover{ background:#fff; max-height:none; border-color:#dfdfdf; border-bottom-width:1px; border-right-width:1px; padding-bottom:18px;}
.isin li:hover a{ color:#333; border-color:#fff;}
.isin li:hover a:hover{ color:#ff5370; }

.isin li.msg{ margin-right:0}
.isin li.msg a{ display: block; border:none; }
.isin li.msg:hover{ height:46px; *height:46px; overflow:visible; padding-bottom:0; max-height:none; }
.isin li.msg:hover>span{ color:#333; }
.white .isin li.msg:hover{ height:46px; *height:46px; } 
.isin li.msg .slide-show{ float: none; display:none; padding-top:0;}
.isin li.msg:hover .slide-show{ display:block; position:absolute; right:-1px; top:40px; width:110px; padding-bottom:18px; *padding-bottom:12px; background:#fff; border:1px solid #dfdfdf; border-top:0;}
.white .isin li.msg:hover .slide-show{ top:41px;}

/*二维码*/
.download { left:-4px; position:absolute; top:33px; display:none;width: 178px; height: 238px; z-index: 2}
.headNew-bg .phone:hover .download,.headNew-bg .weixin:hover .download{ display:block;}
.headNew-bg .phone .download{ background: url("../images/download.png") no-repeat 0 -52px;}
.headNew-bg .weixin .download{ background: url("../images/weixin8.png") no-repeat -1px -32px; height: 245px; width: 187px;}
.headNew-bg .phone:hover,.headNew-bg .weixin:hover{ box-shadow: 0px 0px 2px 2px #e0e0e0; background: #fff;}

.headNew-bg .phone .download .qrcode{ margin-top: 50px; text-align: center;}
.headNew-bg .phone .addurl a{ background: url(); color:#333 ;}
.headNew-bg .phone .addurl a:hover{color:#ff6980 ;}
