<script type="text/javascript" src="http://127.0.0.3/mall/resource/js/jquery.nc_slider.js" charset="utf-8"></script>
<div id="store_decoration_area" class="store-decoration-page">
            <div id="block_1" data-block-id="1" nctype="store_decoration_block" class="ncsc-decration-block store-decoration-block-1  tip" title="">
    <div nctype="store_decoration_block_content" class="ncsc-decration-block-content store-decoration-block-1-content">
        <div nctype="store_decoration_block_module" class="store-decoration-block-1-module">
                    </div>
            </div>
    </div>
        <div id="block_2" data-block-id="2" nctype="store_decoration_block" class="ncsc-decration-block store-decoration-block-1  tip" title="">
    <div nctype="store_decoration_block_content" class="ncsc-decration-block-content store-decoration-block-1-content">
        <div nctype="store_decoration_block_module" class="store-decoration-block-1-module">
                        
<ul class="goods-list">
    <li nctype="goods_item" data-goods-id="100142" data-goods-name="小米平板保护套 7.9英寸皮套 pad电脑保护套 包薄卡通彩绘保护壳" data-goods-price="35.00"  data-goods-image="1_000000000138050288_1_800x800.jpg">
        <div class="goods-thumb"> <a href="http://127.0.0.3/mall/item-100142.html" target="_blank" title="小米平板保护套 7.9英寸皮套 pad电脑保护套 包薄卡通彩绘保护壳"> <img src="http://127.0.0.3/data/upload/mall/store/goods/1/1_000000000138050288_1_800x800_240.jpg"/ alt="小米平板保护套 7.9英寸皮套 pad电脑保护套 包薄卡通彩绘保护壳"> </a> </div>
    <dl class="goods-info">
      <dt><a href="http://127.0.0.3/mall/item-100142.html" target="_blank" title="小米平板保护套 7.9英寸皮套 pad电脑保护套 包薄卡通彩绘保护壳">小米平板保护套 7.9英寸皮套 pad电脑保护套 包薄卡通彩绘保护壳</a></dt>
      <dd>&yen;35.00</dd>
    </dl>
      </li>
    <li nctype="goods_item" data-goods-id="100141" data-goods-name="比姿 初学美妆裸妆淡妆化妆品 百搭彩妆4件套BB霜-象牙白" data-goods-price="98.00"  data-goods-image="1_000000000126092476_1_800x800.jpg">
        <div class="goods-thumb"> <a href="http://127.0.0.3/mall/item-100141.html" target="_blank" title="比姿 初学美妆裸妆淡妆化妆品 百搭彩妆4件套BB霜-象牙白"> <img src="http://127.0.0.3/data/upload/mall/store/goods/1/1_000000000126092476_1_800x800_240.jpg"/ alt="比姿 初学美妆裸妆淡妆化妆品 百搭彩妆4件套BB霜-象牙白"> </a> </div>
    <dl class="goods-info">
      <dt><a href="http://127.0.0.3/mall/item-100141.html" target="_blank" title="比姿 初学美妆裸妆淡妆化妆品 百搭彩妆4件套BB霜-象牙白">比姿 初学美妆裸妆淡妆化妆品 百搭彩妆4件套BB霜-象牙白</a></dt>
      <dd>&yen;98.00</dd>
    </dl>
      </li>
  </ul>
                    </div>
            </div>
    </div>
        </div>
<script type="text/javascript">
    $(document).ready(function(){
        //幻灯片
        $('[nctype="store_decoration_slide"]').nc_slider();
    });
</script>
