<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>搜索查找店铺</title>
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_products_list.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../css/nctouch_common.css">
	<link rel="stylesheet" type="text/css" href="../css/nctouch_cart.css">
<style type="text/css">
.nctouch-footer-wrap { margin:0 auto; max-width:640px;}
.nctouch-inp-con ul li h4 { width:4.6rem; text-align:left}
.nctouch-inp-con ul li h4 i {background-image: url("../images/location_b.png");background-position: 50% 50%;background-repeat: no-repeat;background-size: 80% auto;display: block;height: 0.9rem;position: absolute;right: 0.2rem;top: 0.55rem;width: 0.8rem; z-index: 1;}
.nctouch-order-search {position: relative;}
.nctouch-inp-con ul li .input-box .input-del { display: block;}
.nctouch-inp-con ul li .input-box { margin:0 0.5rem 0 4.4rem}
</style>
</head>
<body>
<header id="header" class="fixed">
	<div class="header-wrap">
		<div class="header-l">
			<a href="javascript:history.go(-1)">
				<i class="back"></i>
			</a>
		</div>
		<div class="header-title">
			<h1>店铺街</h1>
		</div>
		<div class="header-r">
			<a id="header-nav" href="javascript:void(0);"><i class="more"></i><sup></sup></a>
		</div>
	</div>
	<div class="nctouch-nav-layout">
		<div class="nctouch-nav-menu">
			<span class="arrow"></span>
			<ul>
				<li><a href="../index.html"><i class="home"></i>首页</a></li>
				<li><a href="../tmpl/search.html"><i class="search"></i>搜索</a></li>
				<li><a href="../tmpl/member/member.html"><i class="member"></i>我的商城</a></li>
                <li><a href="javascript:void(0);"><i class="message"></i>消息<sup></sup></a></li>
			</ul>
		</div>
	</div>
</header>

<div class="nctouch-main-layout fixed-Width">
 <div class="nctouch-inp-con">
      <ul class="form-box">
<li class="form-item">
          <h4>店铺所在地：<i></i></h4>
          <div class="input-box">
            <input name="area_info" type="text" class="inp" id="area_info" autocomplete="off" onChange="btn_check($('form'));" placeholder="请选择店铺地区" readonly /> 
          </div>
        </li>
</ul>
</div>

  <div id="cart-list-wp">
      <ul class="favorites-store-list" id="categroy-cnt">
      </ul>
      <div class="nctouch-cart-bottom">
<div class="header-wrap">
    <div class="header-l"><a href="javascript:void(0);" id="search_adv"> <i class="mall_search"></i> </a> </div>
    <div class="header-inp"> <i class="icon"></i>
      <input type="text" class="search-input" id="mall_keyword" placeholder="请输入店铺名称" maxlength="50" autocomplete="on" autofocus=""><span class="input-del"></span>
    </div>
    <div class="header-r"><a id="search_btn" href="javascript:void(0);" class="search-btn">搜索</a></div>
  </div>
                    </div>
</div>
</div>

<!--筛选部分-->
<div class="nctouch-full-mask2 hide">
  <div class="nctouch-full-mask-bg"></div>
  <div class="nctouch-full-mask-block">
    <div class="header">
      <div class="header-wrap">
        <div class="header-l"> <a href="javascript:void(0);"><i class="back"></i></a></div>
        <div class="header-title">
          <h1>店铺分类选择</h1>
        </div>
        <div class="header-r"><a href="mall.html" id="reset" class="text">重置</a> </div>
      </div>
    </div>
    <div class="nctouch-main-layout-a secreen-layout" id="list-items-scroll" style="top: 2rem;"><div></div></div>
  </div>
</div>
<div class="fix-block-r">
	<a href="member/views_list.html" class="browse-btn"><i></i></a>
	<a href="javascript:void(0);" class="gotop-btn gotop hide" id="goTopBtn"><i></i></a>
</div>			
<footer id="footer"></footer>
<script type="text/html" id="search_items">
<div>
	<dl>
		<dd>
    	<% for (i = 0; i < class_list.length; i++) { %>
    	<a href="mall.html?sc_id=<%=class_list[i]['sc_id']%>" nctype="items" name="ci" ><%=class_list[i]['sc_name']%></a>
    	<% } %>
		</dt>
	</dl>
</div>
</script> 
<!--筛选部分-->
</body>
<script type="text/html" id="home_body">
	<% var store_list = datas.store_list; %>
	<% if(store_list.length >0){%>
			<%for(i=0;i<store_list.length;i++){%>
        <li store_id="<%=store_list[i].store_id %>">
            <a href="store.html?store_id=<%=store_list[i].store_id %>">
                <div class="store-avatar"><img src="<%=store_list[i].store_avatar %>"/></div>
                <dl class="store-info">
                    <dt class="store-name"><%=store_list[i].store_name %></dt>
                    <dd><span>粉丝：<em><%=store_list[i].store_collect %></em>人;</span><span>&nbsp;&nbsp;&nbsp;商品：<em><%=store_list[i].goods_count %></em>件</span></dd>
                </dl>
            </a>
        </li>
      <%}%>
			<% if (hasmore) {%>
			<li class="loading"><div class="spinner"><i></i></div>商品数据读取中...</li>
			<% } %>
	<%
	   }else {
	%>
		<div class="nctouch-norecord search">
			<div class="norecord-ico"><i></i></div>
				<dl>
					<dt>没有找到任何相关信息</dt>
					<dd>选择或搜索其它商品分类/名称...</dd>
				</dl>
			<a href="javascript:history.go(-1)" class="btn">重新选择</a>
		</div>
	<%
	   }
	%>
</script>
<script type="text/javascript" src="../js/config.js"></script>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/template.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../js/swipe.js"></script>
<script type="text/javascript" src="../js/mall.js"></script>
</html>