@charset "utf-8";
/* ================================ */
/* 商城抢购页面独立样式定义 				*/
/* Author:			Hulihutu		*/
/* Copyright:		www.shopwwi.com	*/
/* Create Date:		Aug-10-2012		*/
/* Retrofit Date:	Aug-10-2012		*/
/* ================================ */
body { background-color: #FEFEFE;}
/* 公用导航区域
-------------------------------------- */
.public-nav-layout { border-bottom-width: 0;}
.nc-appbar-tabs a.compare { display: none !important;}/*抢购页面去除侧边栏对比*/


/*抢购顶部名称以及地区选择列表*/
.ncg-header { width: 1200px; height: 0; margin: 0 auto; position: relative; z-index: 999;}
.ncg-header .title { background-color: #FFF; position: absolute; z-index: 1; top: -156px; left: 230px;}
.ncg-header .title h1 { font: normal 20px/28px "microsoft yahei"; color: #333; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; height: 28px; *zoom: 1;}


/*抢购顶部内容*/

.ncg-topbar { background-color: #A01111; height: 40px; }
.public-head-layout { color: #FFF; width: 1200px; margin: 0 auto; position: relative; z-index: 100;}
.public-head-layout .title { font-family: Arial, "microsoft yahei"; font-size: 0; line-height: 22px;margin: 10px 0px 0 0px;background-color: #fff; border-radius: 37.5px;padding: 0 15px; color: #f55;*word-spacing:-1px/*IE6、7*/; height: 44px; float: left; padding: 20px 30px; position: absolute; left:243px }
.public-head-layout .title h2{font-size: 25px; color:#f55; font-weight:bold }
.public-head-layout .title .city { font-size: 22px; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.public-head-layout .title .city { font-size: 14px; margin-left: 8px; *zoom: 1; cursor: pointer; margin-top:5px;}
.public-head-layout .title .city a h3 { color: #333; display: inline-block; *display: inline/*IE7*/; *zoom: 1;}
.public-head-layout .title .city a:hover { text-decoration: none;}
.public-head-layout .title .city a:hover h3 { color: #f55;}
.public-head-layout .title .city a i.arrow { font-size: 0; line-height: 0; vertical-align: middle; display: inline-block; *display: inline/*IE7*/ width: 0; height: 0; margin: 0 2px; border-style: solid dashed dashed; border-width: 5px; border-color: #333 transparent transparent; *zoom: 1;}
.public-head-layout .title .list { background-color: #FFF; width: 300px; border: 2px solid #D93600; position: absolute; z-index: 100;zoom: 1; top: 85px; left: 150px;}
.public-head-layout .title .list a.close { font: bold 12px/14px Verdana; color: #D93600; text-align: center; float: right; width: 14px; height: 14px; margin: 2px 2px 0 0;}
.public-head-layout .title .list a.close:hover { text-decoration: none;}
.public-head-layout .title .list ul { width: 280px; float: left;}
.public-head-layout .title .list ul li { font: 14px/20px "microsoft yahei"; text-align: center; width: 60px; display: inline-block; *display: inline/*IE7*/; padding: 6px 3px; *zoom: 1;}
.ncg-topbar-wrapper .nav-menu { font-size: 0; *word-spacing:-1px/*IE6、7*/; height: 24px; float: left; margin: 10px 0 6px 15px; overflow: hidden;}
.ncg-topbar-wrapper .nav-menu li { font-size: 14px; line-height: 20px; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; padding-left: 14px; margin-right: 15px; border-left: dotted 1px #D93600; *zoom: 1;}
.ncg-topbar-wrapper .nav-menu li a { font-weight: 600; color: #FFCFBF; display: block; padding: 2px 8px; border-radius: 14px;}
.ncg-topbar-wrapper .nav-menu li a.current,
.ncg-topbar-wrapper .nav-menu li a:hover { color: #B22D00; text-decoration: none; background-color: #FFCFBF;}

.ncg-container{width:100%}.ncg-banner{width:100%}.ncg-category{width:100px;border:solid;border-color:#A01111 #efefef #efefef;border-width:2px 1px 1px;margin-left:10px;z-index:999;position:fixed;left:50%;margin-left:-702px;height:auto}.ncg-category h3{font:14px/20px "microsoft yahei";background-color:#F0F0F0;color:#333;padding:9px}.ncg-category ul{font-size:0;background-color:#FEFEFE}.ncg-category li{font-size:12px;line-height:20px;letter-spacing:normal;word-spacing:normal;display:inline-block;width:97px;border:solid #F5F5F5;border-width:1px 0 0 1px}.ncg-category li a{display:block;padding:5px 0 5px 12px;color:#666}.ncg-category li a:hover{background-color:#D93600;display:block;color:#FFF}.sticky .ncg-category{position:fixed;top:0;z-index:999}.ncg-nav{border-bottom:solid 2px #D93600}.ncg-nav ul{font-size:0}.ncg-nav ul li{vertical-align:top;letter-spacing:normal;word-spacing:normal;display:inline-block;padding:0;margin-left:10px;overflow:hidden;box-shadow:1px 0 1px rgba(0,0,0,.05)}.ncg-nav ul li a{font:400 14px/20px "microsoft yahei";color:#777;background-color:#FFF;display:block;height:20px;padding:5px 12px;border:solid #D7D7D7;border-width:1px 1px 0 1px}.ncg-nav ul li a:hover{color:#D93600}.ncg-nav ul li.current a,.ncg-nav ul li.current a:hover{font-weight:600;text-decoration:none;color:#FFF;background-color:#D93600;border-color:#D93600;cursor:default}.overseas-title{height:45px;color:#222}.overseas-title h4{float:left;margin-right:14px;font:700 24px/42px "Microsoft Yahei"}.overseas-title .eng-title{float:left;margin-top:15px;font:700 14px/20px Cambria;font-style:italic}.theNew-content .theNewitem{background:#fff;position:relative;float:left;width:1198px;height:298px;border:1px solid #bec7d4;margin:7px 0 16px 0;box-shadow:0 3px 3px #e4eaed}.theNew-content .theNewitem .commodity-introduce{float:left;width:260px;height:298px;text-align:center;background:url(../images/commodity-bg.png?v=6cbed) no-repeat;background-position:-25px 0}.theNew-content .theNewitem .commodity-img{float:left;width:260px;height:260px;margin:20px 50px 0 0}.theNew-content .theNewitem .commodity-detail{float:right;width:618px;height:298px}.theNew-content .theNewitem .commodity-detail .commodity-name{width:587px;height:60px;margin-top:25px;font:700 18px/30px "Microsoft Yahei";overflow:hidden;color:#333}.theNew-content .theNewitem .commodity-detail .commodity-text{width:587px;height:72px;margin-top:5px;font:14px/24px "Microsoft Yahei";color:#666;overflow:hidden}.theNew-content .theNewitem .time-left{width:588px;height:38px;line-height:38px;margin-top:10px;background-color:#f4f6f7;text-align:center}.time-left span{display:inline-block;height:16px;line-height:16px;vertical-align:middle;font-size:0}.time-left span.time-remain{display:inline-block;height:30px;line-height:16px;vertical-align:middle;font-size:0}.price-wrapper{float:left;width:260px;height:51px;margin-top:7px}.theNew-content .theNewitem .time-left .text{position:relative;top:-3px}.theNew-content .theNewitem .time-left i{font-size:16px;color:#333}.time-left b{font:12px/16px "Microsoft Yahei";color:#7c7d7d}.time-left em{font:12px/16px "Microsoft Yahei";color:#cc1d1b}.theNew-content .theNewitem .time-left em{font-size:16px;color:#333}.theNew-content .theNewitem .discount{position:relative;float:left;width:48px;height:48px;margin:3px 12px 0 0;background-color:#cc1d1b;color:#FFF;font:28px/48px arial;font-family:"Microsoft Yahei";font-weight:700;text-align:center}.theNew-content .theNewitem .discount .front{font-size:28px}.theNew-content .theNewitem .discount .behind{font-size:16px}.theNew-content .theNewitem .discount .text{position:absolute;font-size:10px;top:-9px;right:6px}.theNew-content .price{color:#333;display:inline-block;height:30px;font:700 24px/30px AvenirBLTStd}.consult-price{height:16px;color:#a5a6a6;margin-top:2px;line-height:16px}.consult-price em{text-decoration:line-through;font:400 12px/16px Tahoma}.theNew-content .price .price-logo{font-family:arial}.theNew-content .price .price-last{position:relative;top:-5px;font-size:16px}.theNew-content .theNewitem .buy-number{margin-right:198px}.buy-number{float:right;text-align:right;width:90px;height:24px;margin:25px 20px 0 0;font:12px/24px "Microsoft Yahei"}.theNew-content .theNewitem .overseas-itemlink{position:absolute;top:0;left:0;display:block;width:1198px;height:298px;background:url(about:blank)}.theNew-content .theNewitem .join-cart{position:absolute;bottom:30px;right:30px;width:100px;height:38px;border:solid 1px #f30;background-color:#f30;color:#FFF;font:700 14px/38px "Microsoft Yahei";text-align:center}.overseas-title{height:45px;color:#222}.overseas-title h4{float:left;margin-right:14px;font:700 24px/42px "Microsoft Yahei"}.overseas-question .question-content{border-top:3px solid #000}.overseas-question .question-content ul.left{float:left;width:545px;padding-right:93px}.overseas-question .question-content ul.right{float:left;width:542px}.overseas-question .question-content li{margin-top:16px}.overseas-question .question-content li h5{font:700 18px/24px "Microsoft Yahei";color:#333}.overseas-question .question-content li p{margin-top:6px;font:14px/24px "Microsoft Yahei";color:#666}.explosion-content{position:relative;height:425px}.overseas-title .line{float:left;font-size:0;width:100%;height:3px;background:url(../images/overseas-sprite.png?v=78dc3) 0 -200px repeat-x}.explosion .black-bg{position:absolute;left:0;bottom:0;width:100%;height:180px;background:url(../images/black-bg.png?v=38b6b) 0 0 repeat}.explosion{position:relative;width:100%;height:425px;margin-top:30px}.explosion .commodity-list{position:relative;width:100%;height:370px;margin-top:10px}.explosion .commodity-list .introduce{position:absolute;left:-169px;top:0;width:419px;height:370px;background:url(../images/explosion.png?v=603e5) 0 0 no-repeat;z-index:1;text-align:center}.explosion .commodity-list .introduce .text{position:absolute;top:90px;right:58px;width:164px;color:#FFF}.explosion .commodity-list .introduce .text p{width:164px;height:20px;font:14px/20px "Microsoft Yahei";overflow:hidden}.explosion .commodity-list .introduce .time{position:absolute;top:250px;right:90px}.explosion .commodity-list .introduce .time p{width:94px;height:20px;font:700 14px/20px "Microsoft Yahei";color:#FFF;overflow:hidden}.explosion .commodity-list .introduce .time i{color:#cc1d1b}.explosion .commodity-list ul{position:relative;width:960px;height:370px;margin-left:230px;overflow:hidden}.explosion .commodity-list ul li{float:left;width:218px;height:369px;margin-left:20px;background-color:#FFF;border-width:1px 1px 0 1px;border-style:solid;border-color:#e9eef0}.explosion .commodity-list .commodity-intro{position:relative;width:218px;height:229px;padding-top:20px}.explosion .commodity-list .commodity-intro .commodity-link{position:relative;display:block;width:160px;height:160px;margin-left:30px}.explosion .commodity-list .commodity-intro .commodity-name{display:block;width:194px;height:36px;margin:28px 0 0 12px;line-height:18px;overflow:hidden;text-align:center}.explosion .commodity-list .commodity-intro .discount{position:absolute;width:36px;height:32px;top:-1px;left:-1px;background-color:#cc1d1b;color:#FFF;font-family:"Microsoft Yahei";font-weight:700;text-align:center;padding-top:10px}.explosion .commodity-list .commodity-intro .discount .front{font-size:22px;padding-top:25px}.explosion .commodity-list .commodity-intro .discount .behind{font-size:10px}.explosion .commodity-list .commodity-intro .discount .text{position:absolute;top:1px;right:2px}.explosion .commodity-list .commodity-intro .commodity-name a{display:inline-block;width:168px;height:36px;font:12px/18px "Microsoft Yahei";line-height:18px;color:#666;vertical-align:middle;word-break:break-all;overflow:hidden;text-align:left}.explosion .commodity-list .commodity-detail{width:218px;height:120px;padding-top:10px;background-color:#e9eef0;text-align:center}.explosion .commodity-list .price{display:inline-block;margin-top:4px;height:22px;font:700 16px/22px AvenirRLTStd;color:#cc1d1b}.explosion .commodity-list .consult-price{height:16px;color:#a5a6a6;margin-top:4px;line-height:16px}.explosion .commodity-list .join-cart{display:inline-block;width:97px;height:30px;margin:6px 0;color:#999;font:700 14px/30px "Microsoft Yahei"}.explosion .commodity-list .consult-price em{font:400 12px/16px Tahoma}a,b,em,h3,h5,i,li,p,span,ul{margin:0;padding:0}.explosion .commodity-list .time-left i{font-size:12px;color:#cc1d1b}.explosion .commodity-list .time-left i.icon-time{font-size:15px;color:#333}.explosion .commodity-list .commodity-intro .commodity-link .readyStart{position:absolute;z-index:1;display:block;width:154px;height:154px;top:0;left:0;background:url(../images/overseas-sprite.png?v=78dc3) -408px -367px no-repeat}.transform{position:relative;-webkit-transition:all .5s ease;transition:all .5s ease}
/*抢购索引*/
.ncg-screen { background-color: #FFF; padding: 9px; margin: 10px 0; border: solid 1px #E6E6E6; overflow: hidden;}
.ncg-screen dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display:block; clear: both; padding: 6px; border-bottom: dotted 1px #E6E6E6;}
.ncg-screen dl:last-child { border-bottom: 0;}
.ncg-screen dl dt { font: bold 12px/22px Arial, "宋体"; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 60px; *zoom: 1;}
.ncg-screen dl dd { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin: 0 8px; *zoom: 1;}
.ncg-screen dl dd a { font: normal 12px/20px Arial, "宋体"; color: #666; display: block; height: 20px; padding: 1px 6px;}
.ncg-screen dl dd a:hover, .ncg-screen dl dd.selected a { color: #FFF; text-decoration: none; background-color: #f30;}
.ncg-screen ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FAFAFA; display:block; clear: both; padding: 6px; margin: 5px 0 0 60px; border: solid 1px #F0F0F0;}
.ncg-screen li { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; margin: 0 8px; *zoom: 1;}
.ncg-screen li a { color: #999;}
.ncg-screen li.selected a { text-decoration: none; color: #D93600; font-weight: 600;}
.ncg-screen li a:hover { text-decoration: none; color: #D93600;}

.ncg-screen .dc { text-align: right; background: url(../images/group_bg.png) no-repeat right -50px; width: 210px; height:50px; float: right; clear: left; padding: 5px 60px 5px 10px;}
.ncg-screen .dc h5 { font-size: 12px; font-weight: normal; line-height: 24px; color: #555;}
.ncg-screen .dc p { font-size: 16px; padding: 5px;}
.ncg-screen .dc p span { font-family: Verdana, Geneva, sans-serif; color: #F60; font-weight: 600; padding-right: 2px; padding-left: 2px;}
.ncg-sortord dd.selected a.asc i { background: url(../images/group_bg.png) no-repeat 0 0; vertical-align: middle; display: inline-block; width: 8px; height: 8px; margin-left: 4px;}
.ncg-sortord dd.selected a.desc i { background: url(../images/group_bg.png) no-repeat -8px 0; vertical-align: middle; display: inline-block; width: 8px; height: 8px; margin-left: 4px;}

	
.ncg-content { width: 1200px; margin:0 auto}
.group-list { width: 100%; overflow: hidden; }
.group-list ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 972px; margin: 1px; }
.group-list li { font-size: 12px; background-color: #FFF; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE7*/; width: 324px; border: solid 1px #E7E7E7; margin: -1px; *zoom:1;}
.group-list li .ncg-list-content { width: 280px; height: 296px; padding: 21px 21px 21px 22px; border-style: solid; border-width: 0 1px 1px 0; border-color: transparent #E6E6E6 #E6E6E6 transparent; position: relative;}
.group-list li .ncg-list-content { transition: border-color 0.4s ease-in-out 0s;}
.group-list li .ncg-list-content:hover { padding: 20px 21px; border: solid 1px #F30; box-shadow: 0 0 3px rgba(204,204,204,0.9);}
.group-list li.history .ncg-list-content:hover { border-color: #555;}
.group-list li.soon .ncg-list-content:hover { border-color: #396;}
.ncg-list-content .pic-thumb { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 290px; height: 193px; overflow: hidden;}
.ncg-list-content .pic-thumb img { max-width: 280px; max-height: 193px; margin-top:expression(193-this.height/2); *margin-top:expression(96-this.height/2)/*IE6,7*/;}
.ncg-list-content .title { display: block; width: 100%; height: 38px; margin: 10px auto 0 auto; overflow: hidden; }
.ncg-list-content .title a { font: normal 15px/19px "microsoft yahei"; color: #555; text-align: left;}
.ncg-list-content .title a:hover { text-decoration: none; color: #000;}
.ncg-list-content .title a span { font: lighter 11px/14px "microsoft yahei"; color: #FFF; background-color: #BA7538; vertical-align: middle; display: inline-block; height: 14px; padding: 1px 3px 0 3px; margin-right: 6px; border-radius: 3px; -webkit-text-size-adjust:none;}
.ncg-list-content .item-prices { margin-top: 15px; position: relative; z-index: 1; overflow: hidden;}
.ncg-list-content .item-prices .price { font: 700 32px/36px "microsoft yahei", Arial; color: #F04C44; text-overflow: ellipsis; white-space: nowrap; max-width: 125px; height: 36px; float: left; overflow: hidden;}
.ncg-list-content .item-prices .price i { font-weight: lighter; font-size: 20px; line-height: 24px; vertical-align: bottom; *vertical-align: auto; display:inline-block; *display: inline/*IE7*/; margin-right: 2px; zoom: 1;}
.ncg-list-content .item-prices .price em { font-weight: 600; font-size: 20px; line-height: 24px; vertical-align: bottom; *vertical-align: auto; display:inline-block; *display: inline/*IE7*/;margin-left: 2px; zoom: 1;}
.ncg-list-content .item-prices .dock { width: 70px; height: 40px; float: left; margin-left: 8px; position: relative;}
.ncg-list-content .item-prices .limit-num { font: 600 12px/20px "microsoft yahei"; color: #C30; background:url(../images/group_bg.png) no-repeat 0 -10px; width: 50px; height: 20px; padding: 2px 0 1px 12px; position: absolute; top: 0; left: 0;}
.ncg-list-content .item-prices .orig-price { line-height: 16px; display: block; position: absolute; bottom: 0; left: 8px;}
.ncg-list-content .item-prices .sold-num { font: normal 14px/36px "microsoft yahei", Arial; color: #999; float: right;}
.ncg-list-content .item-prices .sold-num em { font-size: 16px; font-weight: 700; color: #396; margin: 0 2px;}
.ncg-list-content:hover .sold-num { display: none;}
.ncg-list-content .item-prices .buy-button { font: normal 16px/20px "microsoft yahei"; color: #FFF; background-color: #FF0000; text-align: center; display: block; width: 80px; height: 20px; padding: 5px 0; position: absolute; right: 0; bottom: 5px; opacity: 0; filter: alpha(opacity=0)/*IE*/;
 transition: opacity 0.4s ease-in-out 0s;}
.history .ncg-list-content .item-prices .buy-button { background-color: #555;}
.soon .ncg-list-content .item-prices .buy-button { background-color: #396;}
.ncg-list-content:hover .buy-button { opacity: 1; filter: alpha(opacity=100)/*IE*/;
}
.ncg-list-content:hover .buy-button:hover { text-decoration: none;}

.ncg-recommend-title { padding: 5px; margin-bottom: 15px; border-bottom: solid 2px #D93600;}
.ncg-recommend-title h3 { font: 600 16px/20px "microsoft yahei", Arial; color: #D93600; display: inline-block; *display: inline/*IE7*/; *zoom:1/*IE7*/;}
.ncg-recommend-title .more { text-decoration: none; color: #999; float: right;}
.norecommend { text-align: center; margin: 100px auto;}
/*运维抢购样式*/
.wwi-tm{  width: 1220px !important; margin-right: -20px;}
.wwi-tm .item { width: 305px; padding: 10px 0; float:left}
.wwi-tm .scope { width: 240px; padding: 19px; border: solid 1px #E6E6E6; background:#fff;}
.wwi-tm .scopes{width: 280px;}
.wwi-tm .scope:hover { border-color: #E84C3D; box-shadow: 0 0 0 3px rgba(0,0,0, 0.05);}
.wwi-tm .scope dl.goods { display: block; width: 240px; height: auto; position: relative; z-index: 1;}
.wwi-tm .scope dl dt { width: 240px; height: 240px;}
.wwi-tm .scope dl dt a {line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 240px; height: 240px; padding: 0; overflow: hidden;}
.wwi-tm .scope dl dt a img { max-width: 240px; max-height: 240px; margin-top:expression(240-this.height/2); *margin-top:expression(120-this.height/2)/*IE6,7*/;}
.wwi-tm .scope dl dd { text-align: center; width: 240px; height: 48px; position: absolute; z-index: 1; left: 0; bottom: 0; overflow: hidden;}
.wwi-tm .scope dl dd span {  background-color: #FFF; display: inline-block; padding: 4px; border-radius: 14px; margin: 0 auto;}
.wwi-tm .scope dl dd span strong { font-size: 12px; font-weight: 600; line-height: 20px; color: #FFF; background:#E84C3D; display: block; padding: 0 5px; border-radius: 10px;}
.wwi-tm .scope dl dd a { color: #999; background-color: #FFF; line-height: 20px; display: block; width: 240px; padding: 14px 0 0; margin-top: -14px; clear: both; text-align: center;}
.wwi-tm .scope:hover dl dd { height: auto;}
.wwi-tm .scope:hover dl dd a { color: #000;}
.wwi-tm .scope dl dd a:hover { color: #F32613;}
.wwi-tm .goods-time { display: block; text-align: center; margin-top: 10px;}
.wwi-tm .goods-time .time-remain em{ font-size: 16px; color: #E84C3D; vertical-align: bottom; margin: 0 2px;}
.wwi-tm .goods-buy .sale { color: #333; margin-right: 10px;}
.wwi-tm .goods-buy .sale em { font-size: 22px; color: #E84C3D; vertical-align: bottom; margin: 0 2px;}
.wwi-tm .goods-buy .depreciate { display: block; color: #1BBC9D; }
.wwi-tm .goods-buy .depreciate i { font-size: 14px; margin-right: 4px; vertical-align: middle;}
.wwi-tm .goods-buy { padding: 15px 0; overflow: hidden;}
.wwi-tm .goods-buy span { line-height: 16px; color: #999; float: left; clear: left; }
.wwi-tm .goods-buy a.btn { font-size: 14px; background-color: #f30; color: #FFF; display: block; float: right; padding: 6px 12px; border-radius: 4px; }
.wwi-tm .goods-buy a.btn:hover { text-decoration: none; background-color: #E84C3D;}
.wwi-tm .goodseval { margin-bottom: -10px;}
.wwi-tm .goodseval li{ font-size: 0; border-top: dotted 1px #E6E6E6; padding: 10px 0;}
.wwi-tm .goodseval .user-avatar { width: 30px; height: 30px; display: inline-block; vertical-align: top; margin-right: 10px;}
.wwi-tm .goodseval .user-avatar img { width: 30px; height: 30px; border-radius: 50%;}
.wwi-tm .goodseval .eval { font-size: 12px; display: inline-block; width: 200px; vertical-align: top;}
.wwi-tm .goodseval .eval i { color: #CCC; font-size: 14px; margin: 0 2px;}


/*抢购详情页面左侧内容*/
.ncg-layout-l { width: 980px; float: left; overflow: hidden; background:#fff;}
.ncg-main { padding: 5px; margin-bottom: 20px; padding-top:20px;}
.ncg-group { background-color: #FFF; padding: 20px; }
.ncg-item .txt{ width: 620px; height: 80px; position: absolute; top: 0; right: -21px;}
.ncg-item .txt h2 { font: 24px/34px "microsoft yahei"; color: #333; height: 34px; margin-bottom: 6px;overflow: hidden;right:-10px ;font-weight: 400;}
.ncg-item .txt h2 span { font: 12px/16px "microsoft yahei"; color: #FFF; background-color: #BA7538; vertical-align: middle; display: inline-block; height: 16px; padding: 2px 6px; margin-right: 6px; border-radius: 3px; }
.ncg-item .txt h3 { font: normal 16px/24px "microsoft yahei"; color: #999; height: 24px; margin-bottom: 6px; overflow: hidden;}
/*抢购信息*/
.ncg-item { position: relative; z-index: 1; zoom: 1;}
.ncg-item .pic { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 440px; height: 293px; float: left; overflow: hidden;}
.ncg-item .pic img { max-width: 440px; max-height: 293px; margin-top:expression(193-this.height/2); *margin-top:expression(96-this.height/2)/*IE6,7*/;}
.ncg-item .button { background-color: #f7f7f7; display:block; width: 600px; height: 80px; position: absolute; top: 80px; right: 0; z-index: 9;}
.ncg-item .button span { font: normal 24px/40px "microsoft yahei", Arial; color: #f12721; max-width: 230px; float: left; margin: 20px 0 0 20px; overflow: hidden;}
.ncg-item .button span em { font: 700 32px/40px "microsoft yahei", Arial; margin-left: 4px;}
.ncg-item .button span.original-price {float: left;padding: 21px 0 0 0;font: 14px/22px Verdana;color: #666;text-decoration: line-through;}
.ncg-item .button span.discount {float: left;margin: 41px 0 0 10px;padding: 0 10px;font: 14px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";color: #fff;background: #f12721;}
.ncg-item .button a { font: 600 20px/28px "microsoft yahei"; text-shadow: 0 1px 0 rgba(255,255,255,0.5); color: #fff; background-color: #ce1a1b; text-align: center; width: 130px; height: 28px; float: right; padding: 6px 0; margin: 20px 20px 0 0; border-radius: 5px; overflow: hidden; box-shadow: 2px 2px 0 rgba(0,0,0,0.25); cursor: pointer;}
.ncg-item .button a:hover { text-decoration: none; color: #fc0; margin: 21px 19px 0 0; box-shadow: none;}
.ncg-item .info { background-color: #FFF; width: 620px; overflow: hidden; position: absolute; z-index:1; top: 90px; right: -20px;}
.ncg-item .info .prices { font-size: 0; *word-spacing:-1px/*IE6、7*/; width: 506px; margin: 10px auto 10px -1px;}
.ncg-item .info .prices dl { font: normal 12px/20px arial; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 161px; border-left: dotted 1px #D7D7D7; zoom: 1;}
.ncg-item .info .prices dl dt { color: #555; height: 20px; margin-bottom: 5px;}
.ncg-item .info .prices dl dd { font-size: 14px; }
.ncg-item .info .prices dl dd del { text-decoration: line-through; color: #999;}
.ncg-item .info .prices dl dd em { font-weight: 600; color: #D93600;}
.ncg-item .info .trim { width: 100%; height: 20px;}
.ncg-item .info .require { text-align: center; display: block; padding: 9px 0 0 0;}
.ncg-item .info .require h4 { font-size: 14px; font-weight: 600;}
.ncg-item .info .require h4 em { font: 600 18px/20px Tahoma; color: #D93600; margin: 0 4px;}
.ncg-item .info .require p { color: #999; height: 20px; padding: 5px 0;}
.ncg-item .info .require p em { font: normal 12px/20px Tahoma; color: #D93600; margin: 0 2px;}
.ncg-item .info .time { font: normal 14px/20px "microsoft yahei";  text-align: center; display: block; height: 20px; padding: 20px 0;}
.ncg-item .info .time i { font-size: 16px; margin-right: 4px;}
.ncg-item .info .time span { font-size: 16px; margin: 0 2px;}
/*浮动条*/
.sticky .floating-bar { display: block; width: 1200px; height: 50px; margin-left: -600px; position: fixed; _position: relative; top: 0; left: 50%; z-index:999; box-shadow: 0 2px 2px rgba(0,0,0,0.2);}
.floating-bar { background-color: #FFF; display: none; overflow: hidden;}
.floating-bar .button { background-color: #D93600; display: inline-block; *display: inline/*IE7*/; width: 605px; height: 50px; *zoom:1;}
.floating-bar .button span { font: normal 24px/30px "microsoft yahei", Arial; color: #FFF; max-width: 210px; float: left; margin: 10px 0 0 20px; overflow: hidden;}
.floating-bar .button span em { font: 700 32px/30px "microsoft yahei", Arial; margin-left: 4px;}
.floating-bar .button a { font: 600 20px/24px "microsoft yahei"; text-shadow: 0 1px 0 rgba(255,255,255,0.5); color: #630; background-color: #FC0; text-align: center; width: 100px; height: 24px; float: right; padding: 4px 0; margin: 8px 20px 0 0; border-radius: 5px; overflow: hidden; box-shadow: 2px 2px 0 rgba(0,0,0,0.25); cursor: pointer;}
.floating-bar .button a:hover { text-decoration: none; color: #000; box-shadow: none;}
.floating-bar .prices { font-size: 0; *word-spacing:-1px/*IE6、7*/; white-space: nowrap; vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin: 8px 0 0 0; overflow: hidden; zoom: 1;}
.floating-bar .prices dl { font: normal 12px/18px arial; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 110px; margin-left: -1px; border-left: dotted 1px #D7D7D7; zoom: 1;}
.floating-bar .prices dl dt { color: #555; height: 18px;}
.floating-bar .prices dl dd del { text-decoration: line-through; color: #999;}
.floating-bar .prices dl dd a { color: #005EA6;}
/*结束未开始等状态*/
.close .ncg-item .pic,
.not-start .ncg-item .pic, 
.not-verify .ncg-item .pic { border-color: #777;}
.close .button, 
.not-start .button, 
.not-verify .button { background-color: #777;}
.close .button a, 
.not-start .button a, 
.not-verify .button a { color: #333; background-color: #CCC;}
.close .info .require p, 
.not-start .info .require p, 
.not-verify .info .require p { visibility: hidden;}
/*抢购介绍详情*/
.ncg-title-bar { height: 50px; font-size: 16px; font-family: "微软雅黑"; overflow: hidden; background-color: #fff; position: relative;}
.ncg-title-bar ul  { height: 49px; border-bottom: 1px solid #eee; margin-left: -1px; _overflow: hidden;}
.ncg-title-bar ul li {float: left;position: relative;width: 145px;height: 50px; text-align: center;}
.ncg-title-bar ul li { *display: inline/*IE6,7*/;}
.ncg-title-bar ul li a  {position: relative;display: block; width: 145px;height: 32px; padding-top: 18px;}
.ncg-title-bar ul li.tabs-selected {}
.ncg-title-bar ul li.tabs-selected a {border-top: 4px solid #e3373a; color: #e3373a; padding-top: 14px;height: 32px; background-color: #fff; border-left: 1px solid #eee;border-right: 1px solid #eee;}
/*商品信息*/
.ncg-detail-content { font-size: 12px; line-height: 20px; color: #555; padding: 0; overflow: hidden;}
.ncg-detail-content.hide { display: none; visibility: hidden;}
.ncg-intro { padding: 15px; min-height: 100px;}
.ncg-intro img { max-width: 740px;}

/*虚拟商品实体店地址地图*/
.wwi-ss-store-map-content { margin: 20px; overflow: hidden;}
.wwi-ss-store-map-baidu { float: left;}
.wwi-ss-store-map-info { width: 280px; height: 400px; float: right; padding: 0 0 0 20px; border-left: solid 1px #E6E6E6;}
.wwi-ss-store-map-info .store-district { font-size: 16px; margin-bottom: 20px;}
.wwi-ss-store-map-info .address-box { width: 100%; height: 360px; position: relative; z-index: 1; overflow: hidden;}
.wwi-ss-store-map-info .address-list {}
.wwi-ss-store-map-info .address-list dl { border: solid 1px #E6E6E6; padding-bottom: 5px; margin-bottom: 10px; }
.wwi-ss-store-map-info .address-list dt { font-size: 12px; line-height: 20px; font-weight: 600; background-color: #FAFAFA; padding: 2px 10px; border-bottom: solid 1px #E6E6E6;}
.wwi-ss-store-map-info .address-list dd { font-size: 12px; line-height: 20px; margin: 5px 10px 0 10px}

/*线下团使用说明*/
.ncg-instructions { font-size: 14px; background-color: #FEFEED; display: block; clear: both; padding: 9px; margin: 20px; border: solid 1px #E5E5E5; }
.ncg-instructions h4 { font-weight: 600; color: #FFF; background-color: #D93600; display: inline-block; *display: inline; padding: 4px 12px; *zoom: 1;}
.ncg-instructions ul { color: #777; margin-top: 10px;}
.ncg-instructions li { line-height: 24px;}
.ncg-instructions li time { color: #F60; margin: 0 4px;}
.ncg-instructions li strong { color: #333; margin: 0 4px;}


/*购买记录*/
.ncg-buyer thead th { font-weight: 600; text-align: center; height: 20px; padding: 6px;}
.ncg-buyer td { line-height: 28px; color: #555; text-align: center;}
/*评价详情*/
.ncg-evaluate { padding: 9px;}
.ncg-evaluate .rate { line-height: 20px; color: #D93600; vertical-align: middle; display: inline-block; *display: inline; *zoom:1; margin: 10px 40px 10px 20px;}
.ncg-evaluate .rate strong { font: lighter 40px/40px arial; vertical-align: bottom;}
.ncg-evaluate .rate sub { font: 16px/20px arial; vertical-align: bottom; margin-right: 6px;}
.ncg-evaluate .rate span { color: #999; display: block; clear: both;}
.ncg-evaluate .percent { vertical-align: middle; display: inline-block; *display: inline; *zoom:1;}
.ncg-evaluate .percent dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.ncg-evaluate .percent dt { font-size: 12px; line-height: 20px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 80px; height: 20px;}
.ncg-evaluate .percent dt { *display: inline/*IE6,7*/;}
.ncg-evaluate .percent dt em { color: #999; margin-left: 4px;}
.ncg-evaluate .percent dd { background-color: #F5F5F5; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; width: 100px; height: 14px; margin: 3px 0;}
.ncg-evaluate .percent dd { *display: inline/*IE6,7*/;}
.ncg-evaluate .percent dd i { background-color: #D93600; display: block; height: 14px;}
.ncg-evaluate .btns { vertical-align: middle; display: inline-block; *display: inline; *zoom:1; height: 60px; padding-left: 30px; margin-left: 100px; border-left: dotted 1px #E6E6E6;}
/*评价详情-列表*/
.ncg-evaluate-main { padding: 20px 0 0 0; margin-top: 10px; border-top: solid 1px #E6E6E6;}
.ncg-evaluate-floor { margin: 0 40px 0 60px; border-left: solid 3px #F5F5F5; position: relative; z-index: 1;}
.ncg-evaluate-floor .user-avatar { background-color: #F2F2F2; width: 40px; height: 40px; border-radius: 20px; position: absolute; z-index: 1; top: 0; left: -20px; }
.ncg-evaluate-floor .user-avatar a { text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height:40px; border-radius: 20px; overflow: hidden;}
.ncg-evaluate-floor .user-avatar a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2); border-radius: 20px;}
.ncg-evaluate-floor .detail { margin: 10px 0 0 30px;}
.ncg-evaluate-floor .detail dt { display: block; margin-bottom: 10px; overflow: hidden;}
.ncg-evaluate-floor .detail dt .user-name { font: bold 12px/20px "Microsoft Yahei"; color: #AAA; float: left;}
.ncg-evaluate-floor .detail dt time { color: #CCC; float: right;}
.ncg-evaluate-floor .detail dd { color: #999; margin-bottom: 10px;}
.ncg-evaluate-floor .detail dd span { color: #555;}
.ncg-evaluate-floor .detail dd.explain { color: #D93600; background-color: #FFC; border: dotted 1px #FEF4B1;}
.ncg-evaluate-floor .detail .photos-thumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; vertical-align: middle; display: inline-block;}
.ncg-evaluate-floor .detail .photos-thumb li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; text-align: center; width: 44px; margin-right: 6px; *zoom: 1;}
.ncg-evaluate-floor .detail .photos-thumb a { line-height: 0; background-color: #FFF; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 40px; height: 40px; padding: 1px; border: solid 1px #E6E6E6; overflow: hidden;}
.ncg-evaluate-floor .detail .photos-thumb a:hover { border-color: #D93600;}
.ncg-evaluate-floor .detail .photos-thumb a img { max-width: 40px; max-height: 40px; margin-top:expression(40-this.height/2); *margin-top:expression(20-this.height/2)/*IE6,7*/;}
.ncg-evaluate-floor .detail hr { font-size: 0; line-height: 0; padding: 0; margin: 10px 0; height: 0; width: 100%; border: none 0; border-top: dashed 1px #E6E6E6;}

/*聚合页banner切换*/
.ncg-slides-banner { width: 100%; height: 300px; position: relative; z-index: 1;}
.full-screen-slides { width: 100%; height: 100%; position: relative; z-index: 1;}
.full-screen-slides img { max-width: 1200px; max-height: 300px;}
.full-screen-slides li { background-repeat: no-repeat; background-position: center top; width: 100%; height: 100%; position: absolute; z-index: 1; top: 0; left: 0;}
.full-screen-slides li a {
  display: block;
  width: 1200px;
  height: 300px;
  text-indent: -9999px;
  margin-left: -588px;
  position: absolute;
  z-index: 2;
  left: 50%;
}
.full-screen-slides-pagination { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; display: block; list-style:none; width: 100px; height: 10px; margin-left: -50px; position: absolute; z-index: 9; bottom: 15px; left: 50%;}
.full-screen-slides-pagination li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display:inline/*IE6、7*/; list-style:none; width: 12px; height: 12px; margin-left: 8px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#BF000000', endColorstr='#BF000000');background:rgba(0,0,0,0.75); overflow: hidden; border-radius: 6px; cursor: pointer; *zoom: 1;}
.full-screen-slides-pagination a { width:100%; height:100%; padding:0; margin:0; text-indent: -9999px;}
.full-screen-slides-pagination .current { background: #FFF; box-shadow: inset 1px 1px 1px rgba(0,0,0,0.5);}




/*抢购详情页面右侧内容*/
.ncg-layout-r { width: 210px; float: right;}
/*店铺信息*/
.ncg-store { margin-bottom: 10px;}
.ncg-store .title { font: 700 14px/20px "microsoft yahei"; color: #FFF; background-color: #D93600; height: 20px; padding: 8px 10px;}
.ncg-store .content { background-color: #FFF; border: solid #D7D7D7; border-width: 0 1px 1px;}
.ncg-store-info { }
.ncg-store-info dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; border-bottom: solid 1px #D7D7D7;}
.ncg-store-info dl dt, .ncg-store-info dl dd { font-size: 12px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; height: 20px; padding: 6px 0; zoom:1;}
.ncg-store-info dl dt { color: #555; text-align: right; width: 35%;}
.ncg-store-info dl dd { width: 65%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ncg-store-info dl dd.auto { height: auto; white-space: normal;}

.ncg-store-info .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block;  *display: inline/*IE7*/; width: 79px; height: 17px; zoom: 1;}
.ncg-store-info .all-rate .rating span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.ncg-store-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin: 0 5px;}

.ncg-store-info .detail-rate { color: #999; width: 182px; padding: 5px; margin: 0 auto; border-bottom: dotted 1px #CCC;}
.ncg-store-info .detail-rate ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 5px 0;}
.ncg-store-info .detail-rate li { font-size: 12px; color: #333; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 33.333%; height: 32px; *zoom: 1;}
.ncg-store-info .detail-rate li h5 { color: #777; line-height: 16px; height: 16px;}
.ncg-store-info .detail-rate li div { line-height: 16px; height: 16px; }
.ncg-store-info .detail-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.ncg-store-info .detail-rate li div i { background: url(../images/2014grate.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px;}
.ncg-store-info .detail-rate .high { color: #DA542E; }
.ncg-store-info .detail-rate .high i { background-position: 0 -40px;}
.ncg-store-info .detail-rate .equal { color: #DA542E; }
.ncg-store-info .detail-rate .equal i { background-position: -32px -40px;}
.ncg-store-info .detail-rate .low { color: #28B779; }
.ncg-store-info .detail-rate .low i { background-position: -16px -40px;}

.ncg-store-info .goto { background-color: #F7F7F7; text-align: center; padding: 8px 0;}
.ncg-store-info .goto a { font: normal 14px/20px "microsoft yahei"; background-color: #FEFEFE; display: inline-block; padding: 5px 10px; border: solid 1px #E6E6E6;}
.ncg-store-info .goto a:hover { color: #FFF; text-decoration: none; background-color: #D93600; border-color: #B22D00;}
.ncg-store-info .map { margin: 5px; width: 198px; height: 200px; position: relative; z-index: 1;}
.ncg-store-info .map .window { width: 198px; height: 200px; position: absolute; z-index: 1; top: 0; left: 0;}
.ncg-store-info .map:hover .window { display: block; width: 298px; height: 300px; border: solid 1px #D93600; top: -52px; left: -51px; box-shadow: 4px 4px 0 rgba(153,153,153,0.25); transition:ease-in-out 0.5s;}

/*侧边推荐抢购*/
.ncg-module-sidebar { margin-bottom: 10px;}
.ncg-module-sidebar .title { font: 700 14px/20px "microsoft yahei"; color: #D93600; height: 20px; padding: 8px 10px; background:#fff;}
.ncg-module-sidebar .content { background-color: #FFF; }
.ncg-module-sidebar .content .nothing { text-align: center; padding: 50px 0; color: #CCC;}
.ncg-group-command { width: 190px; margin: 0 auto;}
.ncg-group-command dl { width: 100%; padding-bottom: 8px; border-top: solid 1px #D7D7D7; overflow: hidden;}
.ncg-group-command dt.name { line-height: 18px; height: 36px; overflow: hidden; padding: 5px 0;}
.ncg-group-command dt.name a { color: #555;}
.ncg-group-command dt.name a:hover { color: #D93600;}
.ncg-group-command .pic-thumb { line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 190px; height: 163px; overflow: hidden;}
.ncg-group-command .pic-thumb img { max-width: 190px; max-height: 163px; margin-top:expression(163-this.height/2); *margin-top:expression(81-this.height/2)/*IE6,7*/;}
.ncg-group-command .item { background-color: #F7F7F7; padding: 8px 0;}
.ncg-group-command .item .price { font-weight: 600; color: #D93600; vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 50px; margin-left: 8px; overflow: hidden; zoom: 1;}
.ncg-group-command .item .buy { vertical-align: top; display: inline-block; *display: inline/*IE7*/; width: 75px; overflow: hidden; zoom: 1;}
.ncg-group-command .item .buy em { font-weight: 600; color: #D93600; margin-right: 2px;}
.ncg-group-command .item a { line-height: 16px; color: #FFF; background-color: #D93600; display: inline-block; *display:inline/*IE7*/; float: right; padding: 2px 4px; margin-right: 5px; border-radius: 3px; zoom: 1;}
.ncg-group-command .item a:hover { background-color: #CA3300; text-decoration: none;}
/*无内容*/
.no-buyer { font: lighter 14px/24px "microsoft yahei"; color: #999; text-align: center; padding: 80px 0;}
.no-content { font: lighter 18px/24px "microsoft yahei"; color: #999; text-align: center; padding: 180px 0;}
