
.wrapper { width: 1000px;}
.public-nav-layout { width: 1000px; height: 0px;}
.head-app,
.public-nav-layout .wrapper { display: none;}
.snapshot-goods-name { padding: 10px 0; overflow: hidden; border-bottom: solid 1px #E6E6E6;}
.snapshot-goods-name em { float: left; width: 150px; }
.snapshot-goods-name h1 { text-align: center; float: left; width: 700px; padding-right: 150px;}
.snapshot-goods-name span { font-size: 12px; color: #999; font-weight: 600; line-height: 18px; background-color: #F5F5F5; border: solid 1px #E6E6E6; padding: 0 9px; display: inline-block; border-radius: 4px; margin-left: 6px;}
.snapshot-goods-name h1 { font-size: 14px; font-weight: bold!important; color: #333; line-height: 24px; display: inline-block;}
.wwi-s-main { overflow: hidden;}
.wwi-item-pics { width: 300px; height: 300px; margin: 20px; float: left; overflow: hidden;}
.wwi-item-mn { float: left; width: 400px; margin-top: 20px;}
.wwi-item-mn dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; width: 100%; padding: 5px 0;}
.wwi-item-mn dt,
.wwi-item-mn dd { font-size: 12px; line-height: 30px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; *zoom: 1/*IE7*/;}
.wwi-item-mn dt { width: 23%; text-align: right; padding-right: 2%;}
.wwi-item-mn dd { width: 75%;}
.wwi-item-mn .wwi-ss-price em { font-size: 24px; color: #F32613;}
.wwi-item-mn .wwi-ss-cti dd { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.wwi-item-mn .wwi-ss-spec { background-color: #fff8f6; border: dashed 1px #f6ebe9;}
.wwi-item-mn .wwi-ss-cti span { font-size: 12px; vertical-align: top; display: inline-block; *display: inline/*IE7*/; margin-right: 5px; *zoom: 1/*IE7*/;}
.wwi-item-mn .wwi-ss-cti span img { width: 16px; height: 16px;}
.wwi-item-mn .snap { background: url(../images/member/order_snapshot.png) no-repeat 100% 100%; padding: 10px; border: dashed 1px #E9EEFF; margin-top: 10px;}
.wwi-item-mn .snap p { line-height: 20px; height: 20px; padding: 4px 0;}
.wwi-item-mn .snap p a { font-weight: 600; color: #005EA6;}
/* ====================== */
/* 店铺简介边栏 -> info.php */
/* ====================== */
.wwi-ss-info { width: 210px; float: right; margin-top: 20px;}
.wwi-ss-info .title { background-color: #F5F5F5; padding: 8px 10px; border: solid 1px #E6E6E6;}
.wwi-ss-info .title h4 { font: 600 14px/20px "Microsoft Yahei"; color: #555;}
.wwi-ss-info .content { border: solid #E6E6E6; border-width: 0 1px 1px;}
.wwi-ss-info .content dl { font-size: 0; *word-spacing:-1px/*IE6、7*/; display: block; padding: 4px 0;}
.wwi-ss-info .content dl dt { font-size: 12px; color: #666; vertical-align: top; letter-spacing: normal; word-spacing: normal; text-align: right; display: inline-block; *display: inline/*IE7*/; width: 68px; *zoom:1;}
.wwi-ss-info .content dl dd { font-size: 12px; color: #333; vertical-align: top; letter-spacing: normal; word-spacing: normal; white-space: nowrap; text-overflow: ellipsis; display: inline-block; *display: inline/*IE7*/; width: 130px; *width: 125px; overflow: hidden; zoom: 1;}
.wwi-ss-info .all-rate .rating { background: url(../images/2014grate.png) no-repeat 0 -18px ; vertical-align: middle; display: inline-block; *display: inline/*IE7*/; width: 79px; height: 17px; *zoom:1;}
.wwi-ss-info .all-rate .rating span { background: url(../images/2014grate.png) no-repeat 100% 0; display: block; height: 18px;}
.wwi-ss-info .all-rate em { color: #DA542E; font-weight: 600; vertical-align: middle; margin-right: 2px;}
.wwi-ss-info .content .detail-rate { clear: both;}
.wwi-ss-info .store-name { font-weight: 600; color: #555; height: 20px; padding: 6px 9px; border-bottom: solid 1px #E6E6E6;}

.wwi-s-main-rate { color: #999; width: 182px; padding: 5px; margin: 0 auto;}
.wwi-s-main-rate ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 5px 0;}
.wwi-s-main-rate li { font-size: 12px; color: #333; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; width: 33.333%; height: 32px; *zoom: 1;}
.wwi-s-main-rate li h5 { color: #777; line-height: 16px; height: 16px;}
.wwi-s-main-rate li div { line-height: 16px; height: 16px; }
.wwi-s-main-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.wwi-s-main-rate li div i { background: url(../images/2014grate.png) no-repeat; vertical-align: middle; display: inline-block; width: 16px; height: 16px;}
.wwi-s-main-rate .high { color: #DA542E; }
.wwi-s-main-rate .high i { background-position: 0 -40px;}
.wwi-s-main-rate .equal { color: #DA542E; }
.wwi-s-main-rate .equal i { background-position: -32px -40px;}
.wwi-s-main-rate .low { color: #28B779; }
.wwi-s-main-rate .low i { background-position: -16px -40px;}
.wwi-ss-info .btns { font-size: 0; *word-spacing:-1px/*IE6、7*/; text-align: center; padding-bottom: 12px; border-bottom: solid 1px #E6E6E6;}
.wwi-ss-info .btns a { font-size: 12px; line-height: 20px; color: #333; background-color: #F5F5F5; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; height: 20px; padding: 3px 10px; border: solid 1px #CCC; *zoom: 1;}
.wwi-ss-info .btns a.goto { color: #FFF; background-color: #333; border-color: #333; margin-right: 10px;}
.wwi-ss-info .btns a span { line-height: 20px; color: #999; margin-left: 3px; }
.wwi-ss-info .btns a:hover { text-decoration: none;}
.wwi-ss-info .no-border { border: 0!important; padding-bottom: 0!important;}

.wwi-ss-goods-layout {}
.wwi-ss-goods-layout .title { height: 30px; border-bottom: solid 1px #E6E6E6;}
.wwi-ss-goods-layout .title span { font-size: 14px; font-weight: 600; line-height: 20px; background-color: #FFF; height: 20px; padding: 4px 19px 5px 19px; float: left; border-width: 2px 1px 0 1px; border-color: #F32613 #E6E6E6 transparent  #E6E6E6; border-style: solid;}

.nc-goods-sort { font-size: 0; *word-spacing:-1px/*IE6、7*/; background-color: #FFF; border: solid #DDD; border-width: 0 1px 1px; padding:10px 0; margin-bottom: 10px;}
.nc-goods-sort li { font-size: 12px; line-height: 20px; letter-spacing: normal; word-spacing: normal; text-overflow : ellipsis; white-space: nowrap; display: inline-block; width: 23%; padding: 0 0 0 2%; margin: 0; overflow: hidden;}
.nc-goods-sort li { *display: inline; }
.wwi-ss-goods-info-content { padding-bottom: 23px;}
.wwi-ss-goods-info-content .top { padding: 9px; margin-bottom: 20px; border: solid #E6E6E6; border-width: 0 1px 1px;}
.wwi-ss-promotion { margin-bottom: 20px;}
.wwi-ss-promotion .wwi-ss-goods-info-content { padding: 0; border: solid #E6E6E6; border-width: 0 1px 1px;}